In [1309]:
import gspread
import numpy as np
import pandas as pd # For importing data
import os as os
from datetime import date, timedelta, datetime  # To Today yesterdays dat
import warnings
warnings.filterwarnings('ignore')      # To ignore warnings
from google.cloud import bigquery
client = bigquery.Client("bi-team-400508")
from google.oauth2.service_account import Credentials

from utility_scripts import gmail_utility

In [1310]:
# CONSTANTS
MEESHO_ORDERS_GSHEET_ID = ['1rDc5sgA6ZihdtrqvddlqBtBm4rCRI6H0HFzQNvbAtaI','Meesho Orders','A2:L']
POD_MAPPING_GSHEET_ID = ['17jOHT8yE3QVD4IR0LpnGFAfNDDeWBQIL08pChya7yYQ','Sheet1','A:L']
Mail_DATA_GSHEET_ID=['1E1mjW4PsGhlcZlNp7DAXvXgUaMNqui0bSlXlwgJi-yI','mail_id','A:D']
DEACTIVATION_GSHEET_ID=['1igyhOjgORn4oV1jMi-ALQ2X00AXbxUUJolEs-8CC4Pk','Deactivation','H:N']
SZM_mapping_gsheet_id=["179lzngrhEUz0rFVhIRR4l0XV7VPnY1nlkc5KNGSF3Fs","Sheet66"]

In [1311]:
def get_params_from_spreadsheet(gsheet_key,name,range):
    gc =gspread.service_account(filename='gsheet.json')
    gsheet = gc.open_by_key(gsheet_key)
    worksheet = gsheet.worksheet(name)
    data = worksheet.get(range)
    df = pd.DataFrame(data[1:], columns=data[0])
    return df

In [1312]:
def get_meesho_orders():
    Meesho_orders=get_params_from_spreadsheet(MEESHO_ORDERS_GSHEET_ID[0],MEESHO_ORDERS_GSHEET_ID[1],MEESHO_ORDERS_GSHEET_ID[2])
    Meesho_orders['Platform Orders'] = Meesho_orders['Platform Orders'].str.replace(',', '').astype(int)
    Meesho_orders['State'] = Meesho_orders['State'].str.strip().str.title()
    Meesho_orders.drop(columns=['Region','Zone'],inplace=True)
    return Meesho_orders

In [1313]:
def get_pod_zone_mapping():
    df=get_params_from_spreadsheet(POD_MAPPING_GSHEET_ID[0],POD_MAPPING_GSHEET_ID[1],POD_MAPPING_GSHEET_ID[2])
    df['hub']=df['hub'].str.strip()
    df=df[['hub','Vertical','POD Mapping','POD_Zone','SZM','HI/Lead','City','POD owner / E-com Lead','City type']]
    df.rename(columns={'POD Mapping':'POD','POD_Zone':'Region'},inplace=True)
    return df
szm_mapping= get_pod_zone_mapping()

In [1314]:
def get_raw_data():
    query='''select distinct base.*, 
            city.name as City
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.service='regular' 
            and base.report_date=current_date() 
            and base.pincode>109999
            and base.hub  not like '%_ADM%' 
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub) not like '%_fm'
            and lower(base.hub) not like '%_rts'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and lower(base.hub) not like '%_fm_%'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_oc_s%'
            and lower(base.hub)  not like '%_oc'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe()
    raw_df=raw_df.drop_duplicates()
    return raw_df

In [1315]:
def get_deactivated_in_last_30_day():
    query='''select distinct date(a.created + interval 330 minute) as  deactivation_date, 
    e.name as Hub, 
    d.code as Pincode, 
    case when a.model_name ='DeliveryHubPincodeServiceability' then 'delivery'
         when a.model_name ='PickupHubPincodeServiceability' then 'pickup' end as request_type,
    'regular' as service,
    null as payment_category,
    null as deactivated_client_name
    from data-warehousing-391512.ecommerce.admin_mapping_pincodemappingrequest as a
    left join data-warehousing-391512.ecommerce.admin_mapping_deliveryhubpincodeserviceability b on b.id=a.object_id and a.model_name='DeliveryHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.admin_mapping_pickuphubpincodeserviceability c on c.id=a.object_id and a.model_name='PickupHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.ecommerce_pincode d on d.id =COALESCE(b.pincode_id,c.pincode_id)
    left join data-warehousing-391512.ecommerce.ecommerce_hub e on e.id =COALESCE(b.hub_id,c.hub_id)
    where (b.service='regular' or c.service='regular') and a.created>current_date()- interval 30 day -interval 330 minute
    and a.status!='expired'
    and d.code>109999
    and e.name  not like '%_ADM%'
    and lower(e.name) not like '%_inv%'
    and lower(e.name)  not like '%_sh'
    and lower(e.name)  not like '%inventory%'
    and lower(e.name)  not like '%zomato%'
    and lower(e.name)  not like '%_cdk%'
    and lower(e.name)  not like 'fkl_%'
    and lower(e.name)  not like '%citymall%'
    and lower(e.name) not like '%_fm'
    and lower(e.name) not like '%_rts'
    and lower(e.name)  not like '%test%'
    and lower(e.name)  not like '%_exp%'
    and lower(e.name) not like '%_fm_%'
    and lower(e.name)  not like '%samsung_%'
    and lower(e.name)  not like '%_oc_s%'
    and lower(e.name)  not like '%_oc'
    and lower(e.name)  not like '%_fkl'
    and lower(e.name) not like '%testhub'
    and lower(e.name) not like '%_inactive' 
    '''
    data=client.query(query).to_dataframe()
    data=data.drop_duplicates()
    return data

In [1316]:
def classify_request(data):
    request_type = data.get('request_type', None)
    if 'pickup' in request_type and 'delivery' in request_type:
        return 'Serviceable'
    elif 'pickup' in request_type:
        return 'Reverse Only'
    else:
        return 'Forward Only'

In [1317]:
def classify_client(data):
    client_wise_activation = data.get('client_wise_activation', None)
    if 'All-delivery' in client_wise_activation and 'All-pickup' in client_wise_activation:
        return 'All'
    if 'All-delivery' == client_wise_activation:
        return 'All-delivery'
    if 'All-pickup' == client_wise_activation:
        return 'All-pickup'
    elif 'All-delivery,' in client_wise_activation or ',All-delivery' in client_wise_activation:
        return 'Except ' + client_wise_activation.replace('All-delivery,', '').replace(', All-delivery', '')
    else:
        return 'Except ' + client_wise_activation.replace('All-pickup,', '').replace(', All-pickup', '')

In [1318]:
def get_fwd_flag(data):
    flag = data.get('Remarks', None)
    if flag == 'Serviceable':
        return 'Yes'
    elif flag== 'Forward Only':
        return 'Yes'
    else:
        return 'No'

In [1319]:
def get_rev_flag(data):
    flag = data.get('Remarks', None)
    if flag == 'Serviceable':
        return 'Yes'
    elif flag== 'Reverse Only':
        return 'Yes'
    else:
        return 'No'

In [1320]:
def get_base_data(raw_df):
    raw_df['Hub']=raw_df['hub']
    raw_df['Pincode']=raw_df['pincode']
    raw_df['Payment Category'] = 'P' + raw_df['payment_category'].astype(str)
    raw_df['deactivated_client_name']=raw_df['deactivated_client_name'].fillna('All')
    deactivated_client_name=set(raw_df['deactivated_client_name'])
    raw_df['client_wise_activation']=raw_df['deactivated_client_name']+'-'+raw_df['request_type']
    main=raw_df[['Hub','Pincode','Payment Category','City']]
    main.drop_duplicates(subset=['Pincode'],inplace=True)
    grouped_df = raw_df.groupby(['Pincode'])['request_type'].agg(lambda x: ', '.join(x)).reset_index()
    grouped_df['Remarks'] = grouped_df.apply(classify_request,axis=1)
    serviceability_remarks=grouped_df[['Pincode','Remarks']]
    main=main.merge(serviceability_remarks,on='Pincode',how='left')
    grouped_df = raw_df.groupby(['Pincode'])['client_wise_activation'].agg(lambda x: ', '.join(x)).reset_index()
    grouped_df['Client Serviceability'] = grouped_df.apply(classify_client, axis=1)
    grouped_df=grouped_df[['Pincode','Client Serviceability']]
    main=main.merge(grouped_df,on='Pincode',how='left')
    l=['City','Remarks']
    for col in l:
        main[col]=main[col].str.title()
    main['FWD Serviceability']=main.apply(get_fwd_flag,axis=1)
    main['REV Serviceability']=main.apply(get_rev_flag,axis=1)
    main['Client Serviceability']=main['Client Serviceability'].str.replace(', All-delivery','')
    main['Client Serviceability']=main['Client Serviceability'].str.replace(', All-pickup','')
    return main,deactivated_client_name

In [1321]:
def fm_get_deactivated_in_last_30_day():
    query='''select distinct date(a.created + interval 330 minute) as  deactivation_date,b.service,d.code as pincode, e.name as hub,
    case when a.model_name ='DeliveryHubPincodeServiceability' then 'delivery'
    when a.model_name ='PickupHubPincodeServiceability' then 'pickup' end as request_type
    from data-warehousing-391512.ecommerce.admin_mapping_pincodemappingrequest as a
    left join data-warehousing-391512.ecommerce.admin_mapping_deliveryhubpincodeserviceability b on b.id=a.object_id and a.model_name='DeliveryHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.admin_mapping_pickuphubpincodeserviceability c on c.id=a.object_id and a.model_name='PickupHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.ecommerce_pincode d on d.id =COALESCE(b.pincode_id,c.pincode_id)
    left join data-warehousing-391512.ecommerce.ecommerce_hub e on e.id =COALESCE(b.hub_id,c.hub_id)
    where (b.service in ('marketplace','rts') or c.service in ('marketplace','rts')) and a.created>current_date()- interval 30 day -interval 330 minute
    and a.status!='expired'
    and d.code>109999
    and e.name  not like '%_ADM%'
    and lower(e.name) not like '%_inv%'
    and lower(e.name)  not like '%_sh'
    and lower(e.name)  not like '%inventory%'
    and lower(e.name)  not like '%zomato%'
    and lower(e.name)  not like '%_cdk%'
    and lower(e.name)  not like 'fkl_%'
    and lower(e.name)  not like '%citymall%'
    and lower(e.name)  not like '%test%'
    and lower(e.name)  not like '%_exp%'
    and e.name  not like '%_DC_%'
    and e.name  not like 'Seller_Direct_%'
    and e.name  not like '%_OC_S'
    and lower(e.name)  not like '%samsung_%'
    and lower(e.name)  not like '%_fkl'
    and lower(e.name) not like '%testhub'
    and lower(e.name) not like '%_inactive'
    '''
    return client.query(query).to_dataframe().drop_duplicates()

In [1322]:
def fm_get_raw_data():
    query='''select distinct base.*, city.name as City
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.report_date=current_date() and base.service in ('marketplace','rts')
            and base.pincode>109999
            and base.hub  not like '%_ADM%'
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and base.hub  not like '%_DC_%'
            and base.hub  not like 'Seller_Direct_%'
            and base.hub  not like '%_OC_S'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe().drop_duplicates()
    return raw_df

In [1323]:
raw_df=get_raw_data()
raw_df['id']=raw_df['hub']+raw_df['pincode'].astype(str)+raw_df['request_type']

In [1324]:
deactivated_in_last_30_day=get_deactivated_in_last_30_day()
deactivated_in_last_2_day = deactivated_in_last_30_day

In [1325]:
deactivated_in_last_2_day['id']=deactivated_in_last_2_day['Hub']+deactivated_in_last_2_day['Pincode'].astype(str)+deactivated_in_last_2_day['request_type']
deactivated_in_last_2_day['flag']='yes'
deactivated_in_last_2_day=deactivated_in_last_2_day[['id','flag']]
deactivated_in_last_2_day.drop_duplicates(subset=['id'],inplace=True)
raw_df=raw_df.merge(deactivated_in_last_2_day,on='id',how='left')
raw_df=raw_df[~(raw_df['flag']=='yes')]
raw_df=raw_df[['report_date', 'hub', 'pincode', 'request_type', 'service',
       'payment_category', 'deactivated_client_name', 'City']]

In [1326]:
pod_zone_mapping

,hub,Vertical,POD,Region,SZM,HI/Lead,City,POD owner / E-com Lead,City type
0,AMRO_Amroha_SCC,Franchise,POD_JK/HP/HR/PB/UK,North,Manoj Kumar,Wasif,Amroha,Nitish Mahajan,Tier-3
1,BEM_Budaun_SCC,Franchise,POD_NCR/UP_West,North,Saurabh Gupta,Deepak Poona,Budaun,Rohit Dubey,Tier-3
2,BNDA_Banda_SCC,Franchise,POD_UP,North,Altamash Khan,Amit Singh,Banda,Nagesh Bajaj,Tier-3
3,BRK_Bahraich_SCC,Franchise,POD_UP,North,Hashir Rafiq,Nirpender Singh,Bahraich,Nagesh Bajaj,Tier-3
4,BRY_Bareilly_SCC,Franchise,POD_NCR/UP_West,North,Saurabh Gupta,Deepak Poona,Bareilly,Rohit Dubey,Tier-3
...,...,...,...,...,...,...,...,...,...
6763,RNRR_RanebennurBR_SCC,Franchise,POD_ROK/KL,South,Sathish,,Ranebennur,Sreejith R,None
6764,HSPD_DandepallyBV_SCC,Franchise,POD_AP/TS,East,Srikanth Gujjula,,Dandepally,Kudithipudi Vinod,None
6765,FDB_Ballabhgarh_OPMH,OPMH,POD_NCR/UP_West,North,Gaurav Sharma,,Faridabad,Rohit Dubey,Metro-1
6766,BOM_VasaiEast_OPMH,OPMH,POD_BOM/PNQ,West,Mayuresh Raul,,Mumbai,Udit Dubey,Metro-1
6767,CHN_Kotturpuram_OPMH,OPMH,POD_CHN,South,Saran,,Chennai,Ponnurangam Mannupillai,Metro-2

In [1327]:
#--------------Meesho------------------------------
Meesho_orders=get_meesho_orders()
Meesho_orders.drop_duplicates(subset=['Pincode'],inplace=True)
pod_zone_mapping=get_pod_zone_mapping()
region=pod_zone_mapping[['POD','Region','SZM','hub']]
region=region[region['POD']!='Nil']
region.drop_duplicates(subset=['POD'],inplace=True)
Meesho_orders=Meesho_orders.merge(region,on='POD',how='left')
Meesho_orders['Pincode']=Meesho_orders['Pincode'].astype(int)
Meesho_orders.fillna('NA')

,Pincode,Pincode type,India Post Flag,Platform Orders,State Code,State,Meesho City,Servicable,SFX Vol Coverage,POD,Region,SZM,hub
0,522410,Correct,Yes,199,AP,Andhra Pradesh,Sattenapalle,0,0,POD_AP/TS,East,Pracheth Kothapalli,ARM_Armoor_SCC
1,844134,Defunct,No,14,BR,Bihar,Saraiya,0,0,POD_BH/JH,North,Avinash Kumar,CPR_ChhapraSaran_SCC
2,800022,Correct,Yes,4,BR,Bihar,Patna,0,0,POD_BH/JH,North,Avinash Kumar,CPR_ChhapraSaran_SCC
3,533333,Defunct,No,1,AP,Andhra Pradesh,Kadiam,0,0,POD_AP/TS,East,Pracheth Kothapalli,ARM_Armoor_SCC
4,523003,Defunct,No,1,AP,Andhra Pradesh,Macherla,0,0,POD_AP/TS,East,Pracheth Kothapalli,ARM_Armoor_SCC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28198,585344,Not Considered,No,0,,Defunct,Defunct,0,0,Defunct,NA,NA,NA
28199,585363,Not Considered,No,0,,Defunct,Defunct,0,0,Defunct,NA,NA,NA
28200,999985,Not Considered,No,0,,Defunct,Defunct,0,0,Defunct,NA,NA,NA
28201,654321,Not Considered,No,73,,Defunct,Defunct,0,0,Defunct,NA,NA,NA
28202,111111,Not Considered,No,81,,Defunct,Defunct,0,0,Defunct,NA,NA,NA

In [1328]:
#-------------Base Data----------------------------------
base_df,deactivated_client_name=get_base_data(raw_df)

In [1329]:
base_df=base_df.merge(Meesho_orders[['Pincode','POD','State','Region',"SZM"]],on='Pincode',how='left')
base_df

,Hub,Pincode,Payment Category,City,Remarks,Client Serviceability,FWD Serviceability,REV Serviceability,POD,State,Region,SZM
0,FTD_FatehabadNew_SCC,151507,P15,Fatehabad,Serviceable,"Except HealthKart_N-delivery, Slikk-delivery, ...",Yes,Yes,POD_JK/HP/HR/PB,Haryana,NaN,NaN
1,SML_Theog_SCC,171222,P7,Theog,Serviceable,"Except CityMall B2C-delivery, Meesho Express-p...",Yes,Yes,POD_JK/HP/HR/PB,Himachal Pradesh,NaN,NaN
2,MZMA_KUNZER_SCC,193403,P24,Magam,Serviceable,"Except Gosprint Prime-delivery, Marico Warehou...",Yes,Yes,POD_JK/HP/HR/PB,Jammu & Kashmir,NaN,NaN
3,MZMA_KUNZER_SCC,193404,P11,Magam,Serviceable,"Except Kartrocket-delivery, Jockey E-pickup, T...",Yes,Yes,POD_JK/HP/HR/PB,Jammu & Kashmir,NaN,NaN
4,SLN_Sultanpur_TH,228155,P7,Sultanpur,Serviceable,"Except Gosprint Prime-delivery, Jio MART-picku...",Yes,Yes,POD_UK/UP,Uttar Pradesh,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17629,PML_KaattuParamakudi_SCC,630709,P30,Paramakudi,Serviceable,"Except Hammer-delivery, Jio MART-pickup, Hamme...",Yes,Yes,POD_ROTN,Tamil Nadu,South,John Paul
17630,RGM_Ramganjmandi_SCC,326518,P30,Ramganjmandi,Serviceable,"Except Hammer-pickup, Hammer-delivery, CityMal...",Yes,Yes,POD_MP/RJ,Rajasthan,West,Yadvendra Ramawat
17631,BTE_Bharatpur_E,321301,P30,Bharatpur,Serviceable,"Except Minimalist-delivery, Meesho Express-pic...",Yes,Yes,POD_MP/RJ,Rajasthan,West,Yadvendra Ramawat
17632,BAZ_Baran_TH,325222,P30,Baran,Serviceable,"Except Hammer-pickup, Hammer-delivery, CityMal...",Yes,Yes,POD_MP/RJ,Rajasthan,West,Yadvendra Ramawat
17633,BXW_Seharabazar_SCC,722201,P30,Seharabazar,Serviceable,"Except Hammer-pickup, Hammer-delivery, Meesho ...",Yes,Yes,POD_CCU/ROWB,West Bengal,East,Biswajit Gupta

In [1330]:
base_df.to_csv('data.csv')

In [1331]:
fm_deactivated_in_last_30_day=fm_get_deactivated_in_last_30_day()
fm_base_df=fm_get_raw_data()
fm_base_df=fm_base_df.merge(fm_deactivated_in_last_30_day,on=['pincode','service','request_type','hub'],how='left')
fm_base_df=fm_base_df[fm_base_df['deactivation_date'].isna()]
fm_base_df = fm_base_df.drop(['deactivation_date','request_type'], axis=1)
fm_base_df['payment_category']='P'+fm_base_df['payment_category'].astype(str)
fm_base_df.rename(columns={'hub':'Hub','pincode':'Pincode','service':'Service','city':'City','state':'State','zone':'Zone'},inplace=True)
fm_base_df=fm_base_df[fm_base_df.Hub.isin(base_df.Hub.unique())]
final_fm_base_df=fm_base_df[['Hub','Pincode','City','payment_category']]
final_fm_base_df.rename(columns={'payment_category':'Payment Category'},inplace=True)
final_fm_base_df.drop_duplicates(subset=['Pincode'],inplace=True)

In [1332]:
main=fm_base_df.sort_values('Service').groupby(['Pincode'])['Service'].agg(lambda x: ', '.join(x)).reset_index()
main['Service']=main['Service'].str.replace('marketplace','FM')
main['Service']=main['Service'].str.replace('rts','RTS')
final_fm_base_df=final_fm_base_df.merge(main,how='left',on='Pincode')
final_fm_base_df=final_fm_base_df[~final_fm_base_df['Pincode'].isin(base_df.Pincode.unique())]
final_fm_base_df

                   Hub  Pincode      City Payment Category Service
1105  SRTN_Sibasagar_E   785661  Sibsagar               P3      FM

In [1333]:
base_df=base_df.merge(main,how='left',on='Pincode')
#base_df=pd.concat([base_df,final_fm_base_df])

In [1334]:
base_df['Service']=base_df['Service'].fillna('LM')
base_df['Service'][base_df['Service']=='RTS']='LM, RTS'
base_df['Service'][base_df['Service']=='FM']='LM,FM'
base_df['Service']=base_df['Service'].str.replace('FM, RTS','LM, FM, RTS')

In [1335]:
def get_flag_for_clients(data,clients,flag_type):
    client_keywords = clients
    client_keywords = [keyword + '-' + flag_type for keyword in client_keywords]
    Remarks = data.get('Remarks')
    # Client Serviceability
    Client_Serviceability=data.get('Client Serviceability')
    # Seviceability type
    flag='Yes'
    if flag_type=='delivery':
        if Remarks=='Reverse Only':
            flag='No'
    if flag_type=='pickup':
        if Remarks=='Forward Only':
            flag='No'
    # checking client level
    if flag=='Yes':
        if any(i in Client_Serviceability for i in client_keywords):
            flag='No'
    return flag

In [1336]:
client_list=['FTPL','AJIO']
for i in client_list:
    base_df['FWD '+i]=base_df.apply(get_flag_for_clients,clients=[i],flag_type='delivery',axis=1)
    base_df['REV '+i]=base_df.apply(get_flag_for_clients,clients=[i],flag_type='pickup',axis=1)
base_df['FWD '+'FK']=base_df.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='delivery',axis=1)
base_df['REV '+'FK']=base_df.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='pickup',axis=1)
#--------------- Other-------------------------------------------
client_other=['1MG','AEPL','Airtel Reverse','Amydus','Apollo Express','AS TRADERS','Bicree','BookMyCostume','BRILLIANT B2C','cilory','CityMall B2C','CityMall Grocery','CityMall Reverse','Cloudpost','Clovia','Coutloot(MJVS)','CRAFTURCAREER EDUCATIONS PRIVATE LIMITED','CRED','DcHub-70772F28','DcHub-A14183A6','Decathlon_N','DropX Ecom PVT LTD','Ed-a-mamma','Emiza','F Ship','Festabox','Forever 21','FreeUp','Get Ketch','Global Transatlantic','Gritstones','GrowSimplee_WH','Hamada Global (Chiran)','Haritu','HealthKart_N','Herbal Hygenic','Hopscotch','House Of X','ICARRY','INNERELLA','ITC WH ECOM','iThink Logistics','JAYPEE MARKETING A UNIT OF J P WOLLEN INDUSTRIES','JhaJi','Jio MART','Jiomart 1P','Kartrocket','Kartrocket Express','Kartrocket Express Longtail','Kartrocket Fashion','Kartrocket Fashion WH','Kartrocket Premium','Kartrocket_Air','Knyamed','Lenskart','Lime road_DSQC','LimeRoad','Logistify','Mabel Jewelry','Marico Warehouse','Medlife','Meesho - Exchange','Meesho Heavy','Meesho Regional','MIMI’S COLLECTION','MOVERY PRIVATE LIMITED','MyDesignation','Myntra','Naaptol','Netmeds Express','Newme','Nimbuspost','Nimbuspost_1kg','Noetic Logistiex','Nutriherbs','Nykaa E-retail','Nykaa Fashion','Nykaa_mkt','Nykaa_N','Orionz Jewels','OTPL','Paapos','Pantaloons','PATAAKHA','Prozo Enterprise','Prozo Flat','Prozo Retail','Purpledrone supplychain solutions','purplle','QUIXGO','Qxpress India Private Limited','RAMAPIR FASHION','RapidShyp','Salty','Samsung CE','Savana','Selloship Services','Sendecom','Shadowfax_IT_Asset_Repair','Shift','Shipclues Solutions Private Limited','ShipDelight','Shipease','Shipmozo','Shippigo','Shiprocket FM Express','Shiprocket Glowroad','Shiprocket_OTP','Shiprocket_PPD','Shipstreak','Shipway','Shipway Fashion','Shipyaari','Shirt Burry','Shopdeck','Shopingcart Retail Service','ShoppersStop','SHYPBUDDY INDIA PRIVATE LIMITED','Snapdeal','Snapdeal_DSQC','Snapdeal_marketplace','SquareBag','SRI KAMADHENU MILK CENTER','Sugar Cosmetics','Super Bottoms','Supertails express','TATACliQ','TCNS','teststore_sfx','The Collective','TheAlternate','Trendin','Trumeds express','Truweight Wellness Pvt. Ltd.','Urbanic','VISHARO','WareIQ','Wellness Forever Express','White Brands','Wiom','Yolojet','YOTTACTO','Zivame']
base_df['FWD '+'Other']=base_df.apply(get_flag_for_clients,clients=list(client_other),flag_type='delivery',axis=1)
base_df['REV '+'Other']=base_df.apply(get_flag_for_clients,clients=list(client_other),flag_type='pickup',axis=1)

In [1337]:
# def other_clients_flag(row, clients, flag_type):
#     client_keywords = [flag_type + ' ' + keyword for keyword in clients]
#     serviceability_key = flag_type + ' Serviceability'
    
#     serviceability = row.get(serviceability_key)
#     if serviceability == 'No':
#         return 'No'
    
#     for keyword in client_keywords:
#         if row.get(keyword) == 'Yes':
#             return 'No'
    
#     return 'Yes'

# clients = ['FTPL', 'AJIO', 'FK']

# base_df['FWD Other'] = base_df.apply(lambda row: other_clients_flag(row, clients, flag_type='FWD'), axis=1)
# base_df['REV Other'] = base_df.apply(lambda row: other_clients_flag(row, clients, flag_type='REV'), axis=1)

In [1338]:
base_df['FWD Other'][(base_df['FWD Serviceability']=='Yes')& (base_df['FWD FTPL']=='No') & (base_df['FWD AJIO']=='No') & (base_df['FWD FK']=='No')]='Yes'
base_df['REV Other'][(base_df['REV Serviceability']=='Yes')& (base_df['REV FTPL']=='No') & (base_df['REV AJIO']=='No') & (base_df['REV FK']=='No')]='Yes'

In [1339]:
base_df['RTS']='NO'
base_df['RTS'][base_df['Service'].isin(['LM, RTS','LM, FM, RTS'])]='Yes'
base_df['FM']='NO'
base_df['FM'][base_df['Service'].isin(['LM,FM','LM, FM, RTS'])]='Yes'
base_df['LM-FM-RTS']='NO'
base_df['LM-FM-RTS'][base_df['Service']=='LM, FM, RTS']='Yes'

In [1340]:
base_df.columns

Index(['Hub', 'Pincode', 'Payment Category', 'City', 'Remarks',
       'Client Serviceability', 'FWD Serviceability', 'REV Serviceability',
       'POD', 'State', 'Region', 'SZM', 'Service', 'FWD FTPL', 'REV FTPL',
       'FWD AJIO', 'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other',
       'RTS', 'FM', 'LM-FM-RTS'],
      dtype='object')

In [1341]:
Meesho_orders=Meesho_orders.merge(base_df[['Pincode', 'Remarks','FWD Serviceability', 'REV Serviceability',
                             'FWD FTPL', 'REV FTPL', 'FWD AJIO','REV AJIO', 'FWD FK', 'REV FK', 
                             'FWD Other', 'REV Other','RTS','FM','LM-FM-RTS']],on='Pincode',how='left')

In [1342]:
def GET_Total_Pincode_grouped_df(data,group_by_para='State'):
    India_Post_grouped_df=data.groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    India_Post_grouped_df = pd.concat([India_Post_grouped_df, grand_total_row]).reset_index(drop=True)
    India_Post_grouped_df.rename(columns={'Pincode':'Total Pincode'},inplace=True)
    return India_Post_grouped_df

In [1343]:
Meesho_orders.columns

Index(['Pincode', 'Pincode type', 'India Post Flag', 'Platform Orders',
       'State Code', 'State', 'Meesho City', 'Servicable', 'SFX Vol Coverage',
       'POD', 'Region', 'SZM', 'hub', 'Remarks', 'FWD Serviceability',
       'REV Serviceability', 'FWD FTPL', 'REV FTPL', 'FWD AJIO', 'REV AJIO',
       'FWD FK', 'REV FK', 'FWD Other', 'REV Other', 'RTS', 'FM', 'LM-FM-RTS'],
      dtype='object')

In [1344]:
def SFX_Pincode_Coverage(data,group_by_para='State',col='FWD Serviceability',type=None):
    grouped_df_state = data[data[col]=='Yes'].groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data[data[col]=='Yes']['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    grouped_df_state = pd.concat([grouped_df_state, grand_total_row]).reset_index(drop=True)
    grouped_df_state.rename(columns={'Pincode':'SFX Pincode Coverage'},inplace=True)
    return grouped_df_state

In [1345]:
def GET_India_Post_grouped_df(data,group_by_para='State'):
    India_Post_grouped_df=data[data['India Post Flag']=='Yes'].groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data[data['India Post Flag']=='Yes']['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    India_Post_grouped_df = pd.concat([India_Post_grouped_df, grand_total_row]).reset_index(drop=True)
    India_Post_grouped_df.rename(columns={'Pincode':'India Post Pincode'},inplace=True)
    return India_Post_grouped_df

In [1346]:
def GET_SFX_India_Post_Pincode(data,group_by_para='State',col='Servicable'):
    SFX_India_Post_grouped_df=data[(data['India Post Flag']=='Yes')&(data[col]=='Yes')].groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data[(data['India Post Flag']=='Yes')&(data[col]=='Yes')]['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    SFX_India_Post_grouped_df
    SFX_India_Post_grouped_df = pd.concat([SFX_India_Post_grouped_df, grand_total_row]).reset_index(drop=True)
    SFX_India_Post_grouped_df.rename(columns={'Pincode':'SFX India Post Pincode'},inplace=True)
    return SFX_India_Post_grouped_df

In [1347]:
def get_total_Volumn(data,group_by_para='State'):
    grouped_df = data.groupby(group_by_para)['Platform Orders'].sum().reset_index()
    grand_total = data['Platform Orders'].sum()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Platform Orders': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    Meesho_coverage = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    return Meesho_coverage
def GET_SFX_coverage(data,group_by_para,col): #group_by_para = 'State',col = 'Servicable'
    # SFX coverage-------------------
    grouped_df = data[data[col]=='Yes'].groupby(group_by_para)['Platform Orders'].sum().reset_index()
    grand_total = data[data[col]=='Yes']['Platform Orders'].sum()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Platform Orders': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    SFX_coverage = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    SFX_coverage.rename(columns={'Platform Orders':'SFX Platform Orders'},inplace=True)
    Meesho_coverage=get_total_Volumn(data,group_by_para)
    Meesho_coverage=Meesho_coverage.merge(SFX_coverage,on=group_by_para,how='left')
    Meesho_coverage['SFX Coverage%']=round(Meesho_coverage['SFX Platform Orders']/Meesho_coverage['Platform Orders']*100,2)
    return(Meesho_coverage)

In [1348]:
def get_final_df(data=Meesho_orders,group_by_para='Region',client='Serviceability'):
    #-----------------FWD-----------------------------------------------------
    col='FWD '+ client
    Total_Pincode=GET_Total_Pincode_grouped_df(data,group_by_para)
    SFX_Pincode=SFX_Pincode_Coverage(data,group_by_para,col)
    final_df=Total_Pincode.merge(SFX_Pincode,how='outer',on=group_by_para)
    India_Post=GET_India_Post_grouped_df(data,group_by_para)
    final_df=final_df.merge(India_Post,how='outer',on=group_by_para)
    SFX_India_Post_Pincode=GET_SFX_India_Post_Pincode(data,group_by_para,col)
    final_df=final_df.merge(SFX_India_Post_Pincode,how='outer',on=group_by_para)
    SFX_coverage=GET_SFX_coverage(data,group_by_para,col)
    SFX_coverage=SFX_coverage[[group_by_para,'SFX Coverage%']]
    final_df=final_df.merge(SFX_coverage,how='outer',on=group_by_para)
    #--------------------Rev------------------------------------------------------------------------------------------
    col='REV '+ client
    SFX_Pincode=SFX_Pincode_Coverage(data,group_by_para,col)
    SFX_India_Post_Pincode=GET_SFX_India_Post_Pincode(data,group_by_para,col)
    rev_final_df=SFX_Pincode.merge(SFX_India_Post_Pincode,how='outer',on=group_by_para)
    
    SFX_coverage=GET_SFX_coverage(data,group_by_para,col)
    SFX_coverage=SFX_coverage[[group_by_para,'SFX Coverage%']]
    rev_final_df=rev_final_df.merge(SFX_coverage,how='outer',on=group_by_para)
    rev_final_df.rename(columns={'SFX Pincode Coverage':'SFX Rev Pincode Coverage',
                             'SFX India Post Pincode':'SFX Rev India Post Pincode',
                             'SFX Coverage%':'SFX Rev Coverage%'},inplace=True)
    final_df=final_df.merge(rev_final_df,how='outer',on=group_by_para)
    #-----------------------------------delta---------------------------------------------
    final_df['SFX Rev Pincode Delta']=final_df['SFX Pincode Coverage']-final_df['SFX Rev Pincode Coverage']
    final_df['SFX Rev Coverage Delta%']=final_df['SFX Coverage%']-final_df['SFX Rev Coverage%']
    final_df.sort_values(by='SFX Pincode Coverage',ascending=False,inplace=True)
    #---------------------------------------Meesho Coverage--------------------------------------------------------------
    if client=='Serviceability':
        meesho_coverage=GET_SFX_coverage(data,group_by_para,'FWD FTPL')
        meesho_coverage.rename(columns={'SFX Coverage%':'FWD Meesho Coverage%'},inplace=True)
        meesho_coverage=meesho_coverage[[group_by_para,'FWD Meesho Coverage%']]
        final_df=final_df.merge(meesho_coverage,how='outer',on=group_by_para)
        
        meesho_coverage=GET_SFX_coverage(data,group_by_para,'REV FTPL')
        meesho_coverage.rename(columns={'SFX Coverage%':'REV Meesho Coverage%'},inplace=True)
        meesho_coverage=meesho_coverage[[group_by_para,'REV Meesho Coverage%']]
        final_df=final_df.merge(meesho_coverage,how='outer',on=group_by_para)
        final_df['Meesho Fwd % Delta']=final_df['SFX Coverage%']-final_df['FWD Meesho Coverage%']
        final_df['Meesho Rev % Delta']=final_df['SFX Coverage%']-final_df['REV Meesho Coverage%']
    

    #---------------- Formatting for thousands separator---------------------------------------------
    final_df.fillna(0,inplace=True)
    format_thousands = lambda x: '{:,.0f}'.format(x)
    numeric_columns = ['Total Pincode', 'SFX Pincode Coverage', 'India Post Pincode', 'SFX India Post Pincode',
                           'SFX Rev Pincode Coverage','SFX Rev India Post Pincode','SFX Rev Pincode Delta']   
    final_df[numeric_columns] = final_df[numeric_columns].applymap(format_thousands)
    #-----------------------format_persentage--------------------------------------------
    format_percentage = lambda x: '{:.2f}%'.format(x)
    if client=='Serviceability':
        columns=['SFX Coverage%','SFX Rev Coverage%','SFX Rev Coverage Delta%','FWD Meesho Coverage%',
                 'REV Meesho Coverage%','Meesho Fwd % Delta','Meesho Rev % Delta']
    else:
        columns=['SFX Coverage%','SFX Rev Coverage%','SFX Rev Coverage Delta%']
    final_df[columns] = final_df[columns].applymap(format_percentage)
    
    return final_df

In [1349]:
def summary(data=Meesho_orders,group_by_para='Region',client='Serviceability'):
    new=get_final_df(data,group_by_para,client)
    new=new[[group_by_para,'SFX Pincode Coverage','SFX Coverage%','Meesho Fwd % Delta']]
    new.rename(columns={'SFX Pincode Coverage':'Active Pincodes','SFX Coverage%':'Volume Coverage%','Meesho Fwd % Delta':'Meesho Deactivated Volume Coverage%'},inplace=True)
    return new

In [1350]:
Meesho_orders.columns

Index(['Pincode', 'Pincode type', 'India Post Flag', 'Platform Orders',
       'State Code', 'State', 'Meesho City', 'Servicable', 'SFX Vol Coverage',
       'POD', 'Region', 'SZM', 'hub', 'Remarks', 'FWD Serviceability',
       'REV Serviceability', 'FWD FTPL', 'REV FTPL', 'FWD AJIO', 'REV AJIO',
       'FWD FK', 'REV FK', 'FWD Other', 'REV Other', 'RTS', 'FM', 'LM-FM-RTS'],
      dtype='object')

In [1351]:
Region=summary(data=Meesho_orders,group_by_para='Region',client='Serviceability')
POD=summary(data=Meesho_orders,group_by_para='POD',client='Serviceability')
State=summary(data=Meesho_orders,group_by_para='State',client='Serviceability')
SZM=summary(data=Meesho_orders,group_by_para='SZM',client='Serviceability')

In [1352]:



def client_summary(cl):
    ndata=get_final_df(group_by_para='Region',client=cl)
    ndata=ndata[ndata['Region']=='Overall']
    ndata['Region']=ndata['Region'].str.replace('Overall', cl)
    return ndata

In [1353]:
# Define a lambda function to format numbers in the thousands format
l=['Serviceability','FTPL','FK','AJIO','Other']
data=pd.DataFrame()
for i in l:
    new_data=client_summary(i)
    data=pd.concat([data,new_data])
data['Region'].replace({'Serviceability':'Overall'},inplace=True)

In [1354]:
base_df=base_df[['Hub', 'Pincode','Service', 'Payment Category', 'City', 'Remarks',
       'POD', 'State', 'Region','SZM','Client Serviceability', 'FWD Serviceability', 
        'REV Serviceability','FWD FTPL', 'REV FTPL', 'FWD AJIO',
       'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other']]

In [1355]:
base_df.columns

Index(['Hub', 'Pincode', 'Service', 'Payment Category', 'City', 'Remarks',
       'POD', 'State', 'Region', 'SZM', 'Client Serviceability',
       'FWD Serviceability', 'REV Serviceability', 'FWD FTPL', 'REV FTPL',
       'FWD AJIO', 'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other'],
      dtype='object')

In [1356]:
base_df.to_csv(r'serviceabilty_data.csv')

In [1357]:
deactivated_in_last_30_day.sort_values(by='deactivation_date',ascending=False,inplace=True)
deactivated_in_last_30_day.drop_duplicates(subset=['Pincode','request_type'],inplace=True)
deactivated_in_last_30_day_g=deactivated_in_last_30_day.groupby(['Pincode'])['request_type'].agg(lambda x: ', '.join(x)).reset_index()
deactivated_in_last_30_day_g['Deactivatin_Remarks']=deactivated_in_last_30_day_g.apply(classify_request,axis=1)
deactivated_in_last_30_day_min=deactivated_in_last_30_day.groupby(['Pincode'])['deactivation_date'].agg(lambda x: min(x)).reset_index()
deactivated_in_last_30_day_g['deactivated_in_last_30_day']='Yes'
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(deactivated_in_last_30_day_min,on='Pincode',how='left')

In [1358]:
hub=deactivated_in_last_30_day[['Pincode','Hub']]
hub.drop_duplicates(subset=['Pincode','Hub'],inplace=True)

In [1359]:
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(base_df,on='Pincode',how='left')
deactivated_in_last_30_day_g['Deactivatin_Remarks'][deactivated_in_last_30_day_g['Remarks'].isna()]='All'
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[~(deactivated_in_last_30_day_g['Deactivatin_Remarks']==deactivated_in_last_30_day_g['Remarks'])]
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[deactivated_in_last_30_day_g['Remarks']!='Serviceable']
deactivated_in_last_30_day_g['Deactivatin_Remarks'][deactivated_in_last_30_day_g['Remarks']=='Forward Only']='Reverse Only'
deactivated_in_last_30_day_g['Deactivatin_Remarks'][deactivated_in_last_30_day_g['Remarks']=='Reverse Only']='Forward Only'
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[['deactivation_date','Pincode','Deactivatin_Remarks']]

In [1360]:
def get_client_wise_deactivation_30_day():
    query='''select date(a.modified+interval 330 minute) as deactivation_date,
            null as hub,
            p.code as Pincode, 
            a.service_type as request_type,
            a.service as service,
            null as payment_category,
            c.name as client
            from data-warehousing-391512.ecommerce.admin_mapping_pincodeclientserviceability a
            left join data-warehousing-391512.ecommerce.ecommerce_pincode p on p.id=a.pincode_id 
            left join data-warehousing-391512.ecommerce.ecommerce_client c on c.id=a.client_id 
            where a.modified >current_date()-interval 30 day -interval 330 minute
            and a.service='regular' and a.expiry>current_date("Asia/Kolkata") '''
    return client.query(query).to_dataframe()

In [1361]:
client_wise_deactivation_30_day=get_client_wise_deactivation_30_day()
client_wise_deactivation_30_day.sort_values(by='deactivation_date',ascending=False,inplace=True)
client_wise_deactivation_30_day.drop_duplicates(subset=['Pincode','request_type','client'],inplace=True)
client_wise_deactivation_30_day['client_wise_deactivation']=client_wise_deactivation_30_day['client']+'-'+client_wise_deactivation_30_day['request_type']
deactivated_in_last_30_day_min=client_wise_deactivation_30_day.groupby(['Pincode'])['deactivation_date'].agg(lambda x: min(x)).reset_index()
client_wise_deactivated_in_last_30_day_g = client_wise_deactivation_30_day.groupby(['Pincode'])['client_wise_deactivation'].agg(lambda x: ', '.join(x)).reset_index()
client_wise_deactivated_in_last_30_day_g = deactivated_in_last_30_day_min.merge(client_wise_deactivated_in_last_30_day_g,on='Pincode',how='left')
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g.merge(base_df,on='Pincode',how='left')
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[~client_wise_deactivated_in_last_30_day_g['Client Serviceability'].isin(['All'])]
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[~client_wise_deactivated_in_last_30_day_g['Client Serviceability'].isna()]
#client_wise_deactivated_in_last_30_day_g['Client Serviceability']=client_wise_deactivated_in_last_30_day_g['Client Serviceability'].str.replace('Except ','')
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[['Pincode','deactivation_date','Client Serviceability']]
#client_wise_deactivated_in_last_30_day_g.rename(columns={'Client Serviceability':'Client Wise Deactivation'},inplace=True)
# --------------------changes---------

client_wise_deactivated_in_last_30_day_g.rename(columns={'client_wise_deactivation':'Client Wise Deactivation'},inplace=True)
client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[['Pincode','deactivation_date','Client Wise Deactivation']]

deactivated_in_last_30_day_g.rename(columns={'Deactivatin_Remarks':'Client Wise Deactivation'},inplace=True)
deactivated_in_last_30_day_g=pd.concat([deactivated_in_last_30_day_g,client_wise_deactivated_in_last_30_day_g])
deactivated_in_last_30_day_min=deactivated_in_last_30_day_g.groupby(['Pincode'])['deactivation_date'].agg(lambda x: min(x)).reset_index()
deactivated_in_last_30_day_g = deactivated_in_last_30_day_g.groupby(['Pincode'])['Client Wise Deactivation'].agg(lambda x: ', '.join(x)).reset_index()
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(deactivated_in_last_30_day_min,on='Pincode',how='left')
deactivated_in_last_30_day_g['deactivation_date'] = pd.to_datetime(deactivated_in_last_30_day_g['deactivation_date'])
deactivated_in_last_30_day_g['Deactivation_Age'] = (pd.Timestamp.now().normalize() - deactivated_in_last_30_day_g['deactivation_date']).dt.days
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(base_df[['Hub','Pincode','City','POD','State','Region','SZM']],on='Pincode',how='left')
deactivated_in_last_30_day_g1=deactivated_in_last_30_day_g[deactivated_in_last_30_day_g['Hub'].isna()]
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[~deactivated_in_last_30_day_g['Hub'].isna()]
deactivated_in_last_30_day_g1=deactivated_in_last_30_day_g1[['Pincode', 'Client Wise Deactivation', 'deactivation_date','Deactivation_Age']].merge(hub,on='Pincode',how='left')
deactivated_in_last_30_day_g1=deactivated_in_last_30_day_g1.merge(Meesho_orders[['Pincode','POD','State','Region','Meesho City','SZM']],on='Pincode',how='left')
deactivated_in_last_30_day_g1.rename(columns={'Meesho City':'City'},inplace=True)
deactivated_in_last_30_day_g=pd.concat([deactivated_in_last_30_day_g,deactivated_in_last_30_day_g1])
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(Meesho_orders[['Pincode','Platform Orders']],on='Pincode',how='left')
deactivated_in_last_30_day_g

,Pincode,Client Wise Deactivation,deactivation_date,Deactivation_Age,Hub,City,POD,State,Region,SZM,Platform Orders
0,110001,"FableStreet-pickup, FableStreet-delivery, Hamm...",2025-05-01,15,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,NaN,976.0
1,110002,"FableStreet-delivery, FableStreet-pickup, NOBE...",2025-05-01,15,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,NaN,662.0
2,110003,"FableStreet-pickup, FableStreet-delivery, Mees...",2025-04-17,29,DEL_LajpatNagar,Delhi,POD_NCR,Delhi,NaN,NaN,883.0
3,110004,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-16,0,DEL_KarolBagh,Delhi,POD_NCR,Delhi,NaN,NaN,40.0
4,110005,"FableStreet-pickup, FableStreet-delivery",2025-05-16,0,DEL_KarolBagh,Delhi,POD_NCR,Delhi,NaN,NaN,1475.0
...,...,...,...,...,...,...,...,...,...,...,...
18250,854108,"nykaa-pickup, Kartrocket Gifting-pickup, Shipr...",2025-05-02,14,NaN,Falka,POD_BH/JH,Bihar,North,Avinash Kumar,363.0
18251,854114,"nykaa-pickup, Nykaa E-retail-pickup, Shiprocke...",2025-05-02,14,NaN,Falka,POD_BH/JH,Bihar,North,Avinash Kumar,345.0
18252,854303,All,2025-04-28,18,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,Avinash Kumar,401.0
18253,854304,All,2025-04-28,18,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,Avinash Kumar,604.0
18254,854325,"Kartrocket Premium-pickup, Kartrocket Fashion-...",2025-05-02,14,NaN,Araria,POD_BH/JH,Bihar,North,Avinash Kumar,335.0

In [1362]:
def GET_deactivation_coverage(data,group_by_para,col): #group_by_para = 'State',col = 'Overall'
    # SFX coverage-------------------
    grouped_df = data[data[col]=='Yes'].groupby(group_by_para)['Platform Orders'].sum().reset_index()
    grand_total = data[data[col]=='Yes']['Platform Orders'].sum()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Platform Orders': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    coverage = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    return coverage

In [1363]:
def GET_deactivation_pincode(data,group_by_para,col): #group_by_para = 'State',col = 'Overall'
    # SFX coverage-------------------
    grouped_df = data[data[col]=='Yes'].groupby(group_by_para)['Pincode'].count().reset_index()
    grand_total = data[data[col]=='Yes']['Pincode'].count()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    deactivation_pincode = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    return deactivation_pincode

In [1364]:
def get_deactivation_coverage(df,group_by_para,col):
    totalVol=get_total_Volumn(Meesho_orders,group_by_para)
    deact_Vol=GET_deactivation_coverage(df,group_by_para,col)
    deact_Vol.rename(columns={'Platform Orders':'Deactivation Platform Orders'},inplace=True)
    totalVol=totalVol.merge(deact_Vol, on=group_by_para,how='left')
    deactivation_pincode=GET_deactivation_pincode(df,group_by_para,col)
    totalVol=totalVol.merge(deactivation_pincode, on=group_by_para,how='left')
    totalVol=totalVol.fillna(0)
    format_percentage = lambda x: '{:.2f}%'.format(x)
    totalVol['Deactivation Vol %'] = round((totalVol['Deactivation Platform Orders'] / totalVol['Platform Orders']) * 100, 2).apply(format_percentage)
    totalVol['Pincode']=totalVol['Pincode'].astype(int)
    return totalVol

In [1365]:
def deactivation_summary(df,group_by_para,col):
    d1_reginal_deactivation_coverage=get_deactivation_coverage(df[df['Deactivation_Age'].isin([0, 1])],group_by_para,col)
    d1_reginal_deactivation_coverage.rename(columns={'Deactivation Vol %':'D-1 Deactivated Volume Coverage% (Live)','Pincode':'D-1 Deactivated Pincode (Live)'},inplace=True)
    reginal_deactivation_coverage=get_deactivation_coverage(df,group_by_para,col)
    reginal_deactivation_coverage.rename(columns={'Deactivation Vol %':'D-30 Deactivated Volume Coverage% (Live)','Pincode':'D-30 Deactivated Pincode (Live)'},inplace=True)
    reginal_deactivation_coverage=reginal_deactivation_coverage.merge(d1_reginal_deactivation_coverage,on=group_by_para,how='left')
    reginal_deactivation_coverage=reginal_deactivation_coverage[[group_by_para,'D-1 Deactivated Pincode (Live)','D-1 Deactivated Volume Coverage% (Live)','D-30 Deactivated Pincode (Live)','D-30 Deactivated Volume Coverage% (Live)']]
    return reginal_deactivation_coverage

In [1366]:
deactivated_in_last_30_day_g.columns

Index(['Pincode', 'Client Wise Deactivation', 'deactivation_date',
       'Deactivation_Age', 'Hub', 'City', 'POD', 'State', 'Region', 'SZM',
       'Platform Orders'],
      dtype='object')

In [1367]:
deactivated_in_last_30_day_g['Overall']='Yes'
region_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='Overall')
pod_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='POD',col='Overall')
state_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='State',col='Overall')
szm_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='SZM',col='Overall')

In [1368]:
def get_flag_for_clients(data,clients,flag_type):
    client_keywords = clients
    client_keywords = [keyword + '-' + flag_type for keyword in client_keywords]
    
    # Client Serviceability
    Client_Serviceability=data.get('Client Wise Deactivation')
    # Seviceability type
    flag='No'
    if Client_Serviceability=='All':
        return 'Yes'
    if flag_type=='delivery':
        client_keywords.append('Forward Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    if flag_type=='pickup':
        client_keywords.append('Reverse Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    return flag

In [1369]:
def get_flag_for_type(data,flag_type):
    client_keywords = []
    Client_Serviceability=data.get('Client Wise Deactivation')
    # Seviceability type
    flag='No'
    if Client_Serviceability=='All':
        return 'Yes'
    if flag_type=='delivery':
        client_keywords.append('Forward Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    if flag_type=='pickup':
        client_keywords.append('Reverse Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    return flag

In [1370]:
client_list=['FTPL','AJIO']
for i in client_list:
    deactivated_in_last_30_day_g['FWD '+i]=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=[i],flag_type='delivery',axis=1)
    deactivated_in_last_30_day_g['REV '+i]=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=[i],flag_type='pickup',axis=1)
deactivated_in_last_30_day_g['FWD '+'FK']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='delivery',axis=1)
deactivated_in_last_30_day_g['REV '+'FK']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='pickup',axis=1)
#--------------- Other-------------------------------------------
client_other=deactivated_client_name.difference(set(['FTPL','AJIO','Flipkart MH Handover','Flipkart Internet E2E','All']))
deactivated_in_last_30_day_g['FWD '+'Other']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=list(client_other),flag_type='delivery',axis=1)
deactivated_in_last_30_day_g['REV '+'Other']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=list(client_other),flag_type='pickup',axis=1)
deactivated_in_last_30_day_g['FWD']=deactivated_in_last_30_day_g.apply(get_flag_for_type,flag_type='delivery',axis=1)
deactivated_in_last_30_day_g['REV']=deactivated_in_last_30_day_g.apply(get_flag_for_type,flag_type='pickup',axis=1)

In [1371]:
deactivated_in_last_30_day_g['Overall']='No'
deactivated_in_last_30_day_g['Overall'][deactivated_in_last_30_day_g['Client Wise Deactivation']=='All']='Yes'

In [1372]:
Region=Region.merge(region_wise_deactivation_summary,on='Region',how='left')
Region.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='Overall')
all_deact.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
Region=Region.merge(all_deact,how='left', on='Region')
Region=Region.replace('nan%','0.00%')

In [1373]:
Region=Region[['Region', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
Region

,Region,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,East,"4,002",78.90%,7.86%,0,0.00%,6,0.08%,219,10.91%,4220,82.82%
1,North,"1,140",80.46%,23.76%,0,0.00%,14,0.58%,6,0.38%,1201,83.86%
2,Overall,"17,606",84.91%,16.47%,0,0.00%,34,0.09%,659,10.80%,18255,87.12%
3,South,"5,567",86.89%,16.94%,0,0.00%,10,0.08%,169,14.14%,5767,89.29%
4,West,"3,434",82.58%,23.05%,0,0.00%,1,0.00%,130,8.85%,3524,83.83%

In [1374]:
POD=POD.merge(pod_wise_deactivation_summary,on='POD',how='left')
POD.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact_pod=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='POD',col='Overall')
all_deact_pod.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
POD=POD.merge(all_deact_pod,how='left', on='POD')
POD=POD.replace('nan%','0.00%')

In [1375]:
POD=POD[['POD', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
POD

,POD,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,Defunct,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
1,Overall,"17,606",84.91%,16.47%,0,0.00%,34,0.09%,659,10.80%,18255,87.12%
2,POD_AP/TS,"1,461",86.54%,10.25%,0,0.00%,0,0.00%,74,17.94%,1473,86.86%
3,POD_BH/JH,"1,140",80.46%,23.76%,0,0.00%,14,0.58%,6,0.38%,1201,83.86%
4,POD_BLR,158,97.24%,27.39%,0,0.00%,0,0.00%,84,66.44%,158,98.09%
5,POD_BOM/PNQ,308,99.64%,42.77%,0,0.00%,0,0.00%,109,39.94%,308,99.64%
6,POD_CCU/ROWB,"1,194",89.26%,3.56%,0,0.00%,2,0.07%,145,18.76%,1224,90.96%
7,POD_CG/OD,875,75.24%,7.09%,0,0.00%,2,0.06%,0,0.00%,924,78.62%
8,POD_CHN,199,98.95%,27.65%,0,0.00%,0,0.00%,63,35.64%,198,98.39%
9,POD_GJ,"1,002",87.35%,20.74%,0,0.00%,0,0.00%,0,0.00%,1017,88.54%
10,POD_JK/HP/HR/PB,"1,274",81.12%,18.40%,0,0.00%,3,0.15%,6,0.20%,1344,85.12%
11,POD_MP/RJ,"1,293",78.52%,14.32%,0,0.00%,0,0.00%,15,2.91%,1320,79.71%
12,POD_NCR,278,99.10%,17.39%,0,0.00%,0,0.00%,98,53.70%,276,99.07%
13,POD_NE,472,54.45%,8.48%,0,0.00%,2,0.30%,0,0.00%,599,69.68%
14,POD_ROK/KL,"2,713",78.64%,14.18%,0,0.00%,10,0.18%,21,0.49%,2859,82.77%
15,POD_ROMH,831,72.65%,24.02%,0,0.00%,1,0.01%,6,0.48%,879,75.03%
16,POD_ROTN,"2,497",89.76%,11.73%,0,0.00%,0,0.00%,1,0.22%,2552,91.41%
17,POD_UK/UP,"1,911",95.02%,15.47%,0,0.00%,0,0.00%,30,5.05%,1911,95.02%

In [1376]:
State=State.merge(state_wise_deactivation_summary,on='State',how='left')
State.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact_state=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='State',col='Overall')
all_deact_state.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
State=State.merge(all_deact_state,how='left', on='State')
State=State.replace('nan%','0.00%')

In [1377]:
State=State[['State', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
State

,State,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,Andaman And Nicobar,8,97.40%,92.14%,0,0.00%,0,0.00%,0,0.00%,8,97.40%
1,Andhra Pradesh,883,83.37%,7.27%,0,0.00%,0,0.00%,0,0.00%,890,83.76%
2,Arunachal Pradesh,3,12.21%,9.40%,0,0.00%,0,0.00%,0,0.00%,7,26.10%
3,Assam,330,55.69%,7.14%,0,0.00%,2,0.48%,0,0.00%,429,74.70%
4,Bihar,865,83.74%,24.06%,0,0.00%,4,0.54%,6,0.53%,891,86.03%
5,Chandigarh,86,87.53%,16.87%,0,0.00%,0,0.00%,0,0.00%,88,94.22%
6,Chhattisgarh,220,77.69%,13.52%,0,0.00%,0,0.00%,0,0.00%,232,80.07%
7,Defunct,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
8,Delhi,151,99.98%,13.78%,0,0.00%,0,0.00%,61,59.26%,150,99.97%
9,Goa,82,84.90%,27.60%,0,0.00%,0,0.00%,0,0.00%,82,84.90%
10,Gujarat,"1,002",87.35%,20.74%,0,0.00%,0,0.00%,0,0.00%,1017,88.54%
11,Haryana,406,87.06%,18.38%,0,0.00%,0,0.00%,19,17.15%,411,88.15%
12,Himachal Pradesh,168,60.72%,4.45%,0,0.00%,0,0.00%,0,0.00%,168,60.72%
13,Jammu & Kashmir,158,72.67%,45.92%,0,0.00%,3,1.13%,6,1.50%,174,83.17%
14,Jammu And Kashmir,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
15,Jharkhand,279,71.91%,22.81%,0,0.00%,10,0.67%,0,0.00%,314,78.22%
16,Karnataka,"1,246",82.05%,19.16%,0,0.00%,8,0.12%,88,25.02%,1341,85.43%
17,Kerala,"1,535",85.05%,8.45%,0,0.00%,2,0.19%,17,0.93%,1586,88.74%
18,Lakshadweep,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
19,Madhya Pradesh,660,83.77%,11.51%,0,0.00%,0,0.00%,0,0.00%,677,85.25%
20,Maharashtra,"1,138",84.63%,32.37%,0,0.00%,1,0.01%,115,18.01%,1186,85.95%
21,Manipur,23,64.94%,12.32%,0,0.00%,0,0.00%,0,0.00%,25,67.60%
22,Meghalaya,25,44.43%,5.10%,0,0.00%,0,0.00%,0,0.00%,28,48.67%
23,Mizoram,8,27.33%,8.76%,0,0.00%,0,0.00%,0,0.00%,8,27.33%
24,Nagaland,20,70.62%,0.44%,0,0.00%,0,0.00%,0,0.00%,24,78.01%
25,Odisha,662,73.75%,2.69%,0,0.00%,2,0.11%,0,0.00%,699,77.79%
26,Overall,"17,606",84.91%,16.47%,0,0.00%,34,0.09%,659,10.80%,18255,87.12%
27,Puducherry,40,92.61%,0.00%,0,0.00%,0,0.00%,0,0.00%,41,95.82%
28,Punjab,531,89.33%,10.15%,0,0.00%,0,0.00%,0,0.00%,578,93.67%
29,Rajasthan,633,73.58%,16.96%,0,0.00%,0,0.00%,15,5.65%,643,74.49%
30,Sikkim,6,52.68%,34.34%,0,0.00%,0,0.00%,0,0.00%,12,85.90%
31,Tamil Nadu,"2,656",92.31%,16.55%,0,0.00%,0,0.00%,64,10.33%,2709,93.29%
32,Telangana,578,89.70%,13.23%,0,0.00%,0,0.00%,74,35.77%,583,89.94%
33,Tripura,58,73.24%,12.99%,0,0.00%,0,0.00%,0,0.00%,71,88.36%
34,Uttar Pradesh,"1,805",95.92%,17.51%,0,0.00%,0,0.00%,48,9.02%,1804,95.91%
35,Uttarakhand,158,90.45%,10.27%,0,0.00%,0,0.00%,0,0.00%,158,90.45%
36,West Bengal,"1,183",89.59%,3.49%,0,0.00%,2,0.07%,145,18.99%,1209,90.85%

In [1378]:
SZM=SZM.merge(szm_wise_deactivation_summary,on='SZM',how='left')
SZM.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact_szm=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='SZM',col='Overall')
all_deact_szm.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
SZM=SZM.merge(all_deact_szm,how='left', on='SZM')
SZM=SZM.replace('nan%','0.00%')

In [1379]:
SZM=SZM[['SZM', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
SZM

,SZM,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,Anirudh Swain,875,75.24%,7.09%,0,0.00%,2,0.06%,0,0.00%,924,78.62%
1,Ashish Vishwakarma,"1,002",87.35%,20.74%,0,0.00%,0,0.00%,0,0.00%,1017,88.54%
2,Avinash Kumar,"1,140",80.46%,23.76%,0,0.00%,14,0.58%,6,0.38%,1201,83.86%
3,Biswajit Gupta,"1,194",89.26%,3.56%,0,0.00%,2,0.07%,145,18.76%,1224,90.96%
4,Inactive,308,99.64%,42.77%,0,0.00%,0,0.00%,109,39.94%,308,99.64%
5,John Paul,"2,497",89.76%,11.73%,0,0.00%,0,0.00%,1,0.22%,2552,91.41%
6,Lokanatha CM,"2,713",78.64%,14.18%,0,0.00%,10,0.18%,21,0.49%,2859,82.77%
7,Overall,"17,606",84.91%,16.47%,0,0.00%,34,0.09%,659,10.80%,18255,87.12%
8,Pavan R,158,97.24%,27.39%,0,0.00%,0,0.00%,84,66.44%,158,98.09%
9,Pracheth Kothapalli,"1,461",86.54%,10.25%,0,0.00%,0,0.00%,74,17.94%,1473,86.86%
10,Priyajit Saha,472,54.45%,8.48%,0,0.00%,2,0.30%,0,0.00%,599,69.68%
11,Siva,199,98.95%,27.65%,0,0.00%,0,0.00%,63,35.64%,198,98.39%
12,Sumitkumar Pande,831,72.65%,24.02%,0,0.00%,1,0.01%,6,0.48%,879,75.03%
13,Yadvendra Ramawat,"1,293",78.52%,14.32%,0,0.00%,0,0.00%,15,2.91%,1320,79.71%

In [1380]:
def get_raw_data2():
    query='''select distinct base.*, city.name as City
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.service='regular' 
            and base.report_date>=current_date() - interval 1 day
            and base.pincode>109999
            and base.hub  not like '%_ADM%'
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub) not like '%_fm'
            and lower(base.hub) not like '%_rts'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and lower(base.hub) not like '%_fm_%'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_oc_s%'
            and lower(base.hub)  not like '%_oc'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe().drop_duplicates()
    return raw_df

In [1381]:
data_for_activaion=get_raw_data2()

In [1382]:
data_for_activaion.report_date.unique()

<DateArray>
[datetime.date(2025, 5, 15), datetime.date(2025, 5, 16)]
Length: 2, dtype: dbdate

In [1383]:
data_for_activaion['id']=data_for_activaion['request_type']+data_for_activaion['pincode'].astype(str)

In [1384]:
data_for_activaion=data_for_activaion.drop_duplicates()

In [1385]:
today=data_for_activaion[data_for_activaion.report_date==date.today()]
yesterday=data_for_activaion[data_for_activaion.report_date==(date.today()-timedelta(days=1))]

In [1386]:
yesterday['flag']=1
today=today.merge(yesterday[['id','flag']],on='id',how='left')
today=today[today['flag']!=1]
today=today[today['deactivated_client_name'].isna()]
today.columns

Index(['report_date', 'hub', 'pincode', 'request_type', 'service',
       'payment_category', 'deactivated_client_name', 'City', 'id', 'flag'],
      dtype='object')

In [1387]:
data_for_activaion['id']=data_for_activaion['request_type']+data_for_activaion['pincode'].astype(str)+data_for_activaion['deactivated_client_name'].astype(str)
today1=data_for_activaion[data_for_activaion.report_date==datetime.today().date()]
yesterday=data_for_activaion[data_for_activaion.report_date==(datetime.today()-timedelta(1)).date()]

In [1388]:
today1['flag1']=1

In [1389]:
today1.head()

,report_date,hub,pincode,request_type,service,payment_category,deactivated_client_name,City,id,flag1
18,2025-05-16,JHJ_Bahadurgarh_SCC,124104,delivery,regular,15,Assembly Travel_Heavy,Jhajjar,delivery124104Assembly Travel_Heavy,1
19,2025-05-16,JHJ_Bahadurgarh_SCC,124104,delivery,regular,15,CriticaLog,Jhajjar,delivery124104CriticaLog,1
20,2025-05-16,JHJ_Bahadurgarh_SCC,124104,delivery,regular,15,Cloudpost,Jhajjar,delivery124104Cloudpost,1
21,2025-05-16,SML_Theog_SCC,171222,delivery,regular,7,Hammer,Theog,delivery171222Hammer,1
22,2025-05-16,BIL_GhumarwinML_SCC,174026,delivery,regular,27,Meesho Express,MANDI,delivery174026Meesho Express,1

In [1390]:
yesterday=yesterday.merge(today1[['flag1','id']],on='id',how='left')
yesterday=yesterday[yesterday['flag1']!=1]
yesterday=yesterday[~yesterday['deactivated_client_name'].isna()]

In [1391]:
yesterday['id']=yesterday['hub']+yesterday['request_type']+yesterday['pincode'].astype(str)
today['id']=today['hub']+today['request_type']+today['pincode'].astype(str)
today['flag2']=1
yesterday=yesterday.merge(today[['id','flag2']],on='id',how='left')
yesterday=yesterday[yesterday['flag2']!=1]

In [1392]:
today=today[['report_date', 'hub', 'pincode', 'request_type', 'service','payment_category', 'deactivated_client_name', 'City']]
yesterday=yesterday[['report_date', 'hub', 'pincode', 'request_type', 'service','payment_category', 'deactivated_client_name', 'City']]
D1_Activation=pd.concat([today,yesterday])

In [1393]:
D1_Activation.rename(columns={'pincode':'Pincode'},inplace=True)

In [1394]:
D1_Activation=D1_Activation.merge(base_df[['Pincode','Remarks']],on='Pincode',how='left')
D1_Activation=D1_Activation[~D1_Activation['Remarks'].isna()]
D1_Activation

,report_date,hub,Pincode,request_type,service,payment_category,deactivated_client_name,City,Remarks
0,2025-05-15,HJP_HazratJandaha_TH,844126,pickup,regular,32,Decathlon_N,Hazrat Jandaha,Serviceable
1,2025-05-15,KNJ_ShoolagiriNK_SCC,635105,delivery,regular,21,FTPL,Krishnagiri,Serviceable
2,2025-05-15,PNBE_BHcolony_N,800030,delivery,regular,35,Decathlon_N,Patna,Serviceable
3,2025-05-15,DED_KogilbanBA_SCC,581365,pickup,regular,34,Kartrocket Premium,Dandeli,Serviceable
4,2025-05-15,JHJ_Bahadurgarh_SCC,124104,pickup,regular,15,Flipkart MH Handover,Jhajjar,Serviceable
...,...,...,...,...,...,...,...,...,...
2169,2025-05-15,VNV_Vandavasi_SCC,604405,delivery,regular,10,Kartrocket Premium,Vandavasi,Serviceable
2170,2025-05-15,JGA_Jamnagar_E,361013,delivery,regular,30,Decathlon_N,Jamnagar,Serviceable
2171,2025-05-15,JGA_Jamnagar_E,361130,delivery,regular,30,Decathlon_N,Jamnagar,Serviceable
2172,2025-05-15,JGA_Jamnagar_E,361130,pickup,regular,30,Decathlon_N,Jamnagar,Serviceable
2173,2025-05-15,JGA_Jamnagar_E,361013,pickup,regular,30,Decathlon_N,Jamnagar,Serviceable

In [1395]:
D1_Activation['Payment Category'] = 'P' + D1_Activation['payment_category'].astype(str)
D1_Activation['client_wise_activation']=D1_Activation['deactivated_client_name']+'-'+D1_Activation['request_type']

In [1396]:
main=D1_Activation[['hub','Pincode','Payment Category']]

In [1397]:
D1_Activation['client_wise_activation']=D1_Activation['client_wise_activation'].fillna('All')
main.drop_duplicates(subset=['Pincode'],inplace=True)
grouped_df = D1_Activation.groupby(['Pincode'])['request_type'].agg(lambda x: ', '.join(x)).reset_index()

In [1398]:
try:
    grouped_df['Remarks'] = grouped_df.apply(classify_request,axis=1)
except:
    grouped_df['Remarks'] = None
serviceability_remarks=grouped_df[['Pincode','Remarks']]
main=main.merge(serviceability_remarks,on='Pincode',how='left')

In [1399]:
grouped_df = D1_Activation.groupby(['Pincode'])['client_wise_activation'].agg(lambda x: ', '.join(x)).reset_index()

In [1400]:
try:
    grouped_df['Client Serviceability'] = grouped_df.apply(classify_client, axis=1)
except:
    grouped_df['Client Serviceability'] = None
grouped_df=grouped_df[['Pincode','Client Serviceability']]
main=main.merge(grouped_df,on='Pincode',how='left')
main['Remarks']=main['Remarks'].str.title()
main['Client Serviceability']=main['Client Serviceability'].str.replace('Except ','')
main['Client Serviceability']=main['Client Serviceability'].str.replace('All,','')
main['Client Serviceability']=main['Client Serviceability'].str.replace('All','')
main['Client Serviceability']=main['Client Serviceability'].fillna('All')
main['Client Serviceability']=main['Client Serviceability'].replace(' ','All')
main['Client Serviceability']=main['Client Serviceability'].replace('','All')

In [1401]:
main['Overall']='No'
main['Overall'][(main['Remarks']=='Serviceable')&(main['Client Serviceability']=='All')]='Yes'
main['FWD']='No'
main['FWD'][((main['Remarks']=='Forward Only')&(main['Client Serviceability']=='All'))|(main['Overall']=='Yes')]='Yes'
main['REV']='No'
main['REV'][((main['Remarks']=='Reverse Only')&(main['Client Serviceability']=='All'))|(main['Overall']=='Yes')]='Yes'

In [1402]:
def get_flag_for_clients_d1_serv(data,clients,flag_type):
    client_keywords = clients
    client_keywords = [keyword + '-' + flag_type for keyword in client_keywords]
    Remarks = data.get('Remarks')
    # Client Serviceability
    Client_Serviceability=data.get('Client Serviceability')
    # Seviceability type
    flag='No'
    if flag_type=='delivery':
        if Remarks in ('Forward Only','Serviceable') and Client_Serviceability=='All':
            flag='Yes'
    if flag_type=='pickup':
        if Remarks in ('Reverse Only','Serviceable') and Client_Serviceability=='All':
            flag='Yes'
    # checking client level
    if flag=='No':
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    return flag

In [1403]:
main

,hub,Pincode,Payment Category,Remarks,Client Serviceability,Overall,FWD,REV
0,HJP_HazratJandaha_TH,844126,P32,Serviceable,"Decathlon_N-pickup, Decathlon_N-delivery",No,No,No
1,KNJ_ShoolagiriNK_SCC,635105,P21,Forward Only,FTPL-delivery,No,No,No
2,PNBE_BHcolony_N,800030,P35,Forward Only,Decathlon_N-delivery,No,No,No
3,DED_KogilbanBA_SCC,581365,P34,Reverse Only,Kartrocket Premium-pickup,No,No,No
4,JHJ_Bahadurgarh_SCC,124104,P15,Serviceable,"Flipkart MH Handover-pickup, Flipkart MH Hando...",No,No,No
...,...,...,...,...,...,...,...,...
1027,CHN_Velachery,600088,P10,Forward Only,FTPL-delivery,No,No,No
1028,COR_KapasanHK_SCC,312207,P10,Reverse Only,Kartrocket Premium-pickup,No,No,No
1029,VNV_Vandavasi_SCC,604405,P10,Forward Only,Kartrocket Premium-delivery,No,No,No
1030,JGA_Jamnagar_E,361013,P30,Serviceable,"Decathlon_N-delivery, Decathlon_N-pickup",No,No,No
1031,JGA_Jamnagar_E,361130,P30,Serviceable,"Decathlon_N-delivery, Decathlon_N-pickup",No,No,No

In [1404]:
client_list=['FTPL','AJIO']
for i in client_list:
    try:
        main['FWD '+i]=main.apply(get_flag_for_clients_d1_serv,clients=[i],flag_type='delivery',axis=1)
        main['REV '+i]=main.apply(get_flag_for_clients_d1_serv,clients=[i],flag_type='pickup',axis=1)
    except:
        main['FWD '+i]=None
        main['REV '+i]=None 
try:
    main['FWD '+'FK']=main.apply(get_flag_for_clients_d1_serv,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='delivery',axis=1)
    main['REV '+'FK']=main.apply(get_flag_for_clients_d1_serv,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='pickup',axis=1)
    #--------------- Other-------------------------------------------
    client_other=deactivated_client_name.difference(set(['FTPL','AJIO','Flipkart MH Handover','Flipkart Internet E2E','All']))
    main['FWD '+'Other']=main.apply(get_flag_for_clients_d1_serv,clients=list(client_other),flag_type='delivery',axis=1)
    main['REV '+'Other']=main.apply(get_flag_for_clients_d1_serv,clients=list(client_other),flag_type='pickup',axis=1)
except:
    main['FWD '+'FK']=None
    main['REV '+'FK']=None
    #--------------- Other-------------------------------------------
    main['FWD '+'Other']=None
    main['REV '+'Other']=None

In [1405]:
main=main.merge(Meesho_orders[['Pincode','POD','State','Region','SZM','Meesho City','Platform Orders']],on='Pincode',how='left')

In [1406]:
fwd_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='FWD')
fwd_deactivation_summary=fwd_deactivation_summary[fwd_deactivation_summary['Region']=='Overall']
fwd_deactivation_summary['Region'].replace('Overall','FWD',inplace=True)
for i in ['FTPL','FK','AJIO','Other']:
    fwd_deactivation=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='FWD '+i)
    fwd_deactivation=fwd_deactivation[fwd_deactivation['Region']=='Overall']
    fwd_deactivation['Region'].replace('Overall',i,inplace=True)
    fwd_deactivation_summary=pd.concat([fwd_deactivation_summary,fwd_deactivation])
f=data[['Region','SFX Pincode Coverage','SFX Coverage%']]
f.rename(columns={'SFX Pincode Coverage':'Active Pincode','SFX Coverage%':'Volumn Coverage%'},inplace=True)
f=f.replace('Overall','FWD')
fwd_deactivation_summary=f.merge(fwd_deactivation_summary,on='Region',how='left')
fwd_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live)
0,FWD,"17,606",84.91%,0,0.00%,34,0.09%
1,FTPL,"16,185",68.44%,79,2.18%,1458,17.09%
2,FK,"16,411",80.13%,0,0.00%,607,3.21%
3,AJIO,"16,460",79.32%,0,0.00%,594,3.08%
4,Other,"2,800",18.69%,163,1.83%,17224,76.02%

In [1407]:
fwd_d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='FWD')
fwd_d1_Activation_summary=fwd_d1_Activation_summary[fwd_d1_Activation_summary['Region']=='Overall']
fwd_d1_Activation_summary.replace('Overall','FWD',inplace=True)

for i in ['FTPL','FK','AJIO','Other']:
    fwd_d1_Activation=get_deactivation_coverage(main,group_by_para='Region',col='FWD '+i)
    fwd_d1_Activation=fwd_d1_Activation[fwd_d1_Activation['Region']=='Overall']
    fwd_d1_Activation['Region'].replace('Overall',i,inplace=True)
    fwd_d1_Activation_summary=pd.concat([fwd_d1_Activation_summary,fwd_d1_Activation])
fwd_d1_Activation_summary.rename(columns={'Pincode':'D-1 Activation','Deactivation Vol %':'D-1 Activation Vol %'},inplace=True)
fwd_deactivation_summary=fwd_deactivation_summary.merge(fwd_d1_Activation_summary[['Region','D-1 Activation','D-1 Activation Vol %']],on='Region',how='left')
fwd_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live),D-1 Activation,D-1 Activation Vol %
0,FWD,"17,606",84.91%,0,0.00%,34,0.09%,0,0.00%
1,FTPL,"16,185",68.44%,79,2.18%,1458,17.09%,320,4.09%
2,FK,"16,411",80.13%,0,0.00%,607,3.21%,52,0.35%
3,AJIO,"16,460",79.32%,0,0.00%,594,3.08%,3,0.01%
4,Other,"2,800",18.69%,163,1.83%,17224,76.02%,354,1.96%

In [1408]:
rev_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='REV')
rev_deactivation_summary=rev_deactivation_summary[rev_deactivation_summary['Region']=='Overall']
rev_deactivation_summary['Region'].replace('Overall','REV',inplace=True)
for i in ['FTPL','FK','AJIO','Other']:
    fwd_deactivation=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='REV '+i)
    fwd_deactivation=fwd_deactivation[fwd_deactivation['Region']=='Overall']
    fwd_deactivation['Region'].replace('Overall',i,inplace=True)
    rev_deactivation_summary=pd.concat([rev_deactivation_summary,fwd_deactivation])
f=data[['Region','SFX Rev Pincode Coverage','SFX Rev Coverage%']]
f.rename(columns={'SFX Rev Pincode Coverage':'Active Pincode','SFX Rev Coverage%':'Volumn Coverage%'},inplace=True)
f=f.replace('Overall','REV')
rev_deactivation_summary=f.merge(rev_deactivation_summary,on='Region',how='left')
rev_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live)
0,REV,"17,258",83.73%,0,0.00%,283,1.00%
1,FTPL,"17,058",82.18%,0,0.00%,405,2.10%
2,FK,"16,459",78.00%,4,0.02%,823,4.81%
3,AJIO,"15,524",75.02%,0,0.00%,2381,10.11%
4,Other,"5,782",30.51%,161,1.73%,17738,78.02%

In [1409]:
rev_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live)
0,REV,"17,258",83.73%,0,0.00%,283,1.00%
1,FTPL,"17,058",82.18%,0,0.00%,405,2.10%
2,FK,"16,459",78.00%,4,0.02%,823,4.81%
3,AJIO,"15,524",75.02%,0,0.00%,2381,10.11%
4,Other,"5,782",30.51%,161,1.73%,17738,78.02%

In [1410]:
rev_d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='REV')
rev_d1_Activation_summary=rev_d1_Activation_summary[rev_d1_Activation_summary['Region']=='Overall']
rev_d1_Activation_summary.replace('Overall','REV',inplace=True)

for i in ['FTPL','FK','AJIO','Other']:
    fwd_d1_Activation=get_deactivation_coverage(main,group_by_para='Region',col='REV '+i)
    fwd_d1_Activation=fwd_d1_Activation[fwd_d1_Activation['Region']=='Overall']
    fwd_d1_Activation['Region'].replace('Overall',i,inplace=True)
    rev_d1_Activation_summary=pd.concat([rev_d1_Activation_summary,fwd_d1_Activation])
rev_d1_Activation_summary.rename(columns={'Pincode':'D-1 Activation','Deactivation Vol %':'D-1 Activation Vol %'},inplace=True)
rev_deactivation_summary=rev_deactivation_summary.merge(rev_d1_Activation_summary[['Region','D-1 Activation','D-1 Activation Vol %']],on='Region',how='left')
rev_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live),D-1 Activation,D-1 Activation Vol %
0,REV,"17,258",83.73%,0,0.00%,283,1.00%,0,0.00%
1,FTPL,"17,058",82.18%,0,0.00%,405,2.10%,4,0.01%
2,FK,"16,459",78.00%,4,0.02%,823,4.81%,50,0.34%
3,AJIO,"15,524",75.02%,0,0.00%,2381,10.11%,9,0.02%
4,Other,"5,782",30.51%,161,1.73%,17738,78.02%,501,5.13%

In [1411]:
d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='FWD')
d1_Activation_summary=d1_Activation_summary[d1_Activation_summary['Region']=='Overall']
d1_Activation_summary.rename(columns={'Pincode':'D-1 Activation','Deactivation Vol %':'D-1 Activation Vol %'},inplace=True)


fwd_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='Overall')
fwd_summary=fwd_summary[fwd_summary['Region']=='Overall']
f=data[['Region','SFX Pincode Coverage','SFX Coverage%']]
f=f[f['Region']=='Overall']
f.rename(columns={'SFX Pincode Coverage':'Active Pincode','SFX Coverage%':'Volumn Coverage%'},inplace=True)
fwd_summary=f.merge(fwd_summary,on='Region',how='left')
fwd_summary=fwd_summary.merge(d1_Activation_summary[['Region','D-1 Activation','D-1 Activation Vol %']],on='Region',how='left')

In [1412]:
client_wise_summary=pd.concat([fwd_summary,fwd_deactivation_summary])
client_wise_summary=pd.concat([client_wise_summary,rev_deactivation_summary])
client_wise_summary=client_wise_summary.replace('nan%','0.00%')
client_wise_summary.rename(columns={'Region':'Client',
                                    'Active Pincode':'Act Pins',
                                    'Volumn Coverage%':'Vol Cov%',
                                    'D-1 Deactivated Pincode (Live)':'D-1 Deact Pins (Live)',
                                   'D-30 Deactivated Pincode (Live)':'D-30 Deact Pins (Live)',
                                   'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact Vol Cov% (Live)',
                                   'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact Vol Cov% (Live)'},inplace=True)
client_wise_summary

,Client,Act Pins,Vol Cov%,D-1 Deact Pins (Live),D-1 Deact Vol Cov% (Live),D-30 Deact Pins (Live),D-30 Deact Vol Cov% (Live),D-1 Activation,D-1 Activation Vol %
0,Overall,"17,606",84.91%,0,0.00%,34,0.09%,0,0.00%
0,FWD,"17,606",84.91%,0,0.00%,34,0.09%,0,0.00%
1,FTPL,"16,185",68.44%,79,2.18%,1458,17.09%,320,4.09%
2,FK,"16,411",80.13%,0,0.00%,607,3.21%,52,0.35%
3,AJIO,"16,460",79.32%,0,0.00%,594,3.08%,3,0.01%
4,Other,"2,800",18.69%,163,1.83%,17224,76.02%,354,1.96%
0,REV,"17,258",83.73%,0,0.00%,283,1.00%,0,0.00%
1,FTPL,"17,058",82.18%,0,0.00%,405,2.10%,4,0.01%
2,FK,"16,459",78.00%,4,0.02%,823,4.81%,50,0.34%
3,AJIO,"15,524",75.02%,0,0.00%,2381,10.11%,9,0.02%
4,Other,"5,782",30.51%,161,1.73%,17738,78.02%,501,5.13%

In [1413]:
client_wise_summary=client_wise_summary[['Client', 'Act Pins', 'Vol Cov%', 
                                      'D-1 Deact Vol Cov% (Live)', 'D-30 Deact Vol Cov% (Live)','D-1 Activation','D-1 Activation Vol %']]
client_wise_summary

,Client,Act Pins,Vol Cov%,D-1 Deact Vol Cov% (Live),D-30 Deact Vol Cov% (Live),D-1 Activation,D-1 Activation Vol %
0,Overall,"17,606",84.91%,0.00%,0.09%,0,0.00%
0,FWD,"17,606",84.91%,0.00%,0.09%,0,0.00%
1,FTPL,"16,185",68.44%,2.18%,17.09%,320,4.09%
2,FK,"16,411",80.13%,0.00%,3.21%,52,0.35%
3,AJIO,"16,460",79.32%,0.00%,3.08%,3,0.01%
4,Other,"2,800",18.69%,1.83%,76.02%,354,1.96%
0,REV,"17,258",83.73%,0.00%,1.00%,0,0.00%
1,FTPL,"17,058",82.18%,0.00%,2.10%,4,0.01%
2,FK,"16,459",78.00%,0.02%,4.81%,50,0.34%
3,AJIO,"15,524",75.02%,0.00%,10.11%,9,0.02%
4,Other,"5,782",30.51%,1.73%,78.02%,501,5.13%

In [1414]:
fwd_d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='FWD')

In [1416]:
sheet_deact=get_params_from_spreadsheet(DEACTIVATION_GSHEET_ID[0],DEACTIVATION_GSHEET_ID[1],DEACTIVATION_GSHEET_ID[2])
sheet_deact.drop_duplicates(subset=['Pincode'],inplace=True)
sheet_deact=sheet_deact[['Pincode','Ops Remark','Expected Activation']]
sheet_deact = sheet_deact[sheet_deact['Pincode'].astype(str).str.strip() != '']
sheet_deact['Pincode']=sheet_deact['Pincode'].astype('int64')
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(sheet_deact,on='Pincode',how='left')

In [1417]:
def payment_category():
    query=''' select p.code as Pincode,pc.category as payment_category
from data-warehousing-391512.ecommerce.ecommerce_riderpaymentpincodecategory pc
left join data-warehousing-391512.ecommerce.ecommerce_pincode p on p.id=pc.pincode_id
where pc.order_type=1 '''
    df = client.query(query).to_dataframe().drop_duplicates()
    return df
payment_category=payment_category()
payment_category['payment_category']='P'+payment_category['payment_category'].astype(str)

In [1418]:
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(payment_category,on='Pincode',how='left')
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[['Pincode', 'payment_category', 'Client Wise Deactivation', 'deactivation_date',
       'Deactivation_Age', 'Hub', 'City', 'POD', 'State', 'Region','SZM',
       'Platform Orders', 'Overall', 'FWD FTPL', 'REV FTPL', 'FWD AJIO',
       'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other', 'FWD', 'REV',
       'Ops Remark', 'Expected Activation' ]]
deactivated_in_last_30_day_g

,Pincode,payment_category,Client Wise Deactivation,deactivation_date,Deactivation_Age,Hub,City,POD,State,Region,...,FWD AJIO,REV AJIO,FWD FK,REV FK,FWD Other,REV Other,FWD,REV,Ops Remark,Expected Activation
0,110001,P1,"FableStreet-pickup, FableStreet-delivery, Hamm...",2025-05-01,15,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,Stress,None
1,110002,P1,"FableStreet-delivery, FableStreet-pickup, NOBE...",2025-05-01,15,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,No,Yes,No,No,Stress,None
2,110003,P4,"FableStreet-pickup, FableStreet-delivery, Mees...",2025-04-17,29,DEL_LajpatNagar,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,stress,None
3,110004,P2,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-16,0,DEL_KarolBagh,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,NaN,NaN
4,110005,P1,"FableStreet-pickup, FableStreet-delivery",2025-05-16,0,DEL_KarolBagh,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,No,No,No,No,Stress - sales,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18250,854108,P1,"nykaa-pickup, Kartrocket Gifting-pickup, Shipr...",2025-05-02,14,NaN,Falka,POD_BH/JH,Bihar,North,...,No,Yes,No,No,No,Yes,No,No,VBO,None
18251,854114,P1,"nykaa-pickup, Nykaa E-retail-pickup, Shiprocke...",2025-05-02,14,NaN,Falka,POD_BH/JH,Bihar,North,...,No,Yes,No,No,No,Yes,No,No,VBO,None
18252,854303,P4,All,2025-04-28,18,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,VBO - Possible COD Risk,None
18253,854304,P3,All,2025-04-28,18,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,VBO - Possible COD Risk,None
18254,854325,P3,"Kartrocket Premium-pickup, Kartrocket Fashion-...",2025-05-02,14,NaN,Araria,POD_BH/JH,Bihar,North,...,No,Yes,No,No,No,Yes,No,No,VBO Low ADL (DC Hold),None

In [1419]:
deactivated_in_last_30_day_g.columns

Index(['Pincode', 'payment_category', 'Client Wise Deactivation',
       'deactivation_date', 'Deactivation_Age', 'Hub', 'City', 'POD', 'State',
       'Region', 'SZM', 'Platform Orders', 'Overall', 'FWD FTPL', 'REV FTPL',
       'FWD AJIO', 'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other',
       'FWD', 'REV', 'Ops Remark', 'Expected Activation'],
      dtype='object')

In [1420]:
def group_by_head(group_by_para):
    rts_active_pins = get_deactivation_coverage(Meesho_orders, group_by_para, col='RTS')
    rts_active_pins = rts_active_pins[[group_by_para, 'Pincode', 'Deactivation Vol %']]
    rts_active_pins.rename(columns={
        'Pincode': 'LM-RTS Active Pincode',
        'Deactivation Vol %': 'LM-RTS Vol Cov%'
    }, inplace=True)

    fm_active_pins = get_deactivation_coverage(Meesho_orders, group_by_para, col='FM')
    fm_active_pins = fm_active_pins[[group_by_para, 'Pincode', 'Deactivation Vol %']]
    fm_active_pins.rename(columns={
        'Pincode': 'LM-FM Active Pincode',
        'Deactivation Vol %': 'LM-FM Vol Cov%'
    }, inplace=True)

    fm_rts_active_pins = get_deactivation_coverage(Meesho_orders, group_by_para, col='LM-FM-RTS')
    fm_rts_active_pins = fm_rts_active_pins[[group_by_para, 'Pincode', 'Deactivation Vol %']]
    fm_rts_active_pins.rename(columns={
        'Pincode': 'LM-FM-RTS Active Pincode',
        'Deactivation Vol %': 'LM-FM-RTS Vol Cov%'
    }, inplace=True)

    df = fm_rts_active_pins.merge(fm_active_pins, on=group_by_para, how='outer')
    df = df.merge(rts_active_pins, on=group_by_para, how='outer')

    df = df.sort_values(by='LM-FM-RTS Active Pincode', ascending=False)

    return df

In [1421]:
pod_fm_rts_active_pins=group_by_head("POD")
region_fm_rts_active_pins=group_by_head("Region")
szm_fm_rts_active_pins=group_by_head("SZM")

In [1422]:
file_name = 'Serviceability_' + datetime.now().strftime("%Y-%m-%d")+'.xlsx'
with pd.ExcelWriter(file_name) as writer:
    base_df.to_excel(writer, sheet_name='Active_Pincode', index=False)  # Change 'Sheet1' to your desired sheet name
    deactivated_in_last_30_day_g.to_excel(writer, sheet_name='deactivated_in_last_30_day', index=False)  # Change 'Sheet2' to your desired sheet name
    State.to_excel(writer, sheet_name='State_Wise_Summary', index=False)  # Change 'Sheet2' to your desired sheet name
    #main.to_excel(writer, sheet_name='D-1 Activation', index=False)

In [1423]:
region_fm_rts_active_pins.head()

,Region,LM-FM-RTS Active Pincode,LM-FM-RTS Vol Cov%,LM-FM Active Pincode,LM-FM Vol Cov%,LM-RTS Active Pincode,LM-RTS Vol Cov%
2,Overall,1472,12.96%,1473,12.97%,4439,28.09%
4,West,507,18.66%,507,18.66%,909,27.85%
0,East,401,13.01%,401,13.01%,1058,29.56%
3,South,254,12.37%,254,12.37%,1289,29.94%
1,North,52,6.93%,52,6.93%,453,35.08%

In [1436]:
szm_fm_rts_active_pins.head()

,SZM,LM-FM-RTS Active Pincode,LM-FM-RTS Vol Cov%,LM-FM Active Pincode,LM-FM Vol Cov%,LM-RTS Active Pincode,LM-RTS Vol Cov%
7,Overall,1472,12.96%,1473,12.97%,4439,28.09%
3,Biswajit Gupta,321,32.24%,321,32.24%,460,43.67%
1,Ashish Vishwakarma,202,19.31%,202,19.31%,322,29.23%
13,Yadvendra Ramawat,169,17.88%,169,17.88%,254,24.17%
5,John Paul,112,9.71%,112,9.71%,493,32.39%

In [1424]:
pod_fm_rts_active_pins.head()

,POD,LM-FM-RTS Active Pincode,LM-FM-RTS Vol Cov%,LM-FM Active Pincode,LM-FM Vol Cov%,LM-RTS Active Pincode,LM-RTS Vol Cov%
1,Overall,1472,12.96%,1473,12.97%,4439,28.09%
6,POD_CCU/ROWB,321,32.24%,321,32.24%,460,43.67%
9,POD_GJ,202,19.31%,202,19.31%,322,29.23%
11,POD_MP/RJ,169,17.88%,169,17.88%,254,24.17%
10,POD_JK/HP/HR/PB,132,11.24%,132,11.24%,236,17.14%

In [1425]:
def apply_generic_css2(html_text):
    newlines = []
    new_htmltext = ''
    for i in ['Overall','All','FWD','REV']:
        try:
            a=html_text.split(f'<tr>\n      <td>{i}</td>\n')[0]
            b=f'<tr>\n      <td style = "font-size:13px;font-weight:bold; background-color: #cccccc; text-align:center">{i}</td>\n'
            c=html_text.split(f'<tr>\n      <td>{i}</td>\n')[1].split('</tr>\n')[0].replace('<td>','<td style = "font-size:13px;font-weight:bold; background-color: #cccccc; text-align:center">')
            d='</tr>\n'
            e=html_text.split(f'<tr>\n      <td>{i}</td>\n')[1].split('</tr>\n')[1:]
            e='</tr>\n'.join(e)
            html_text=a+b+c+d+e
        except:
            z=0
    html_text = html_text.split('\n')
    for line in html_text:
        line = line.replace('<table','<table border="1" style= "border:1px solid rgb(0, 102, 204);border-collapse:collapse"')
        line = line.replace('<th>','<th style = "font-size:14px; color:black; background-color:rgb(153, 204, 255); border-width: 1px;padding: 4px;border-style: solid;border-color: rgb(0, 102, 204);text-align:center">')
        line = line.replace('<tr>','<tr style = "color:black; background-color:rgb(255, 255, 255)">')
        line = line.replace('<td>','<td style = "font-size:13px; text-align:center">')
        newlines.append(line)
    newlines
    for line in newlines:
        new_htmltext += line
    return new_htmltext

In [1426]:
def get_raw_data():
    query='''select base.*, city.name as city, city.state as state,
            (case when city.zone=0 then 'East'
            when city.zone=1 then 'West'
            when city.zone=2 then 'North'
            when city.zone=3 then 'South' 
            when city.zone=4 then 'Central'
            else cast(city.zone as string) end) as zone,
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.report_date=current_date() and base.service in ('marketplace','rts')
            and base.pincode>109999
            and base.hub  not like '%_ADM%'
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and base.hub  not like '%_DC_%'
            and base.hub  not like 'Seller_Direct_%'
            and base.hub  not like '%_OC_S'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe().drop_duplicates()
    return raw_df

In [1427]:
def get_deactivated_in_last_30_day():
    query='''select distinct date(a.created + interval 330 minute) as  deactivation_date,b.service,d.code as pincode, e.name as hub,
    case when a.model_name ='DeliveryHubPincodeServiceability' then 'delivery'
    when a.model_name ='PickupHubPincodeServiceability' then 'pickup' end as request_type
    from data-warehousing-391512.ecommerce.admin_mapping_pincodemappingrequest as a
    left join data-warehousing-391512.ecommerce.admin_mapping_deliveryhubpincodeserviceability b on b.id=a.object_id and a.model_name='DeliveryHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.admin_mapping_pickuphubpincodeserviceability c on c.id=a.object_id and a.model_name='PickupHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.ecommerce_pincode d on d.id =COALESCE(b.pincode_id,c.pincode_id)
    left join data-warehousing-391512.ecommerce.ecommerce_hub e on e.id =COALESCE(b.hub_id,c.hub_id)
    where (b.service in ('marketplace','rts') or c.service in ('marketplace','rts')) and a.created>current_date()- interval 30 day -interval 330 minute
    and a.status!='expired'
    and d.code>109999
    and e.name  not like '%_ADM%'
    and lower(e.name) not like '%_inv%'
    and lower(e.name)  not like '%_sh'
    and lower(e.name)  not like '%inventory%'
    and lower(e.name)  not like '%zomato%'
    and lower(e.name)  not like '%_cdk%'
    and lower(e.name)  not like 'fkl_%'
    and lower(e.name)  not like '%citymall%'
    and lower(e.name)  not like '%test%'
    and lower(e.name)  not like '%_exp%'
    and e.name  not like '%_DC_%'
    and e.name  not like 'Seller_Direct_%'
    and e.name  not like '%_OC_S'
    and lower(e.name)  not like '%samsung_%'
    and lower(e.name)  not like '%_fkl'
    and lower(e.name) not like '%testhub'
    and lower(e.name) not like '%_inactive'
    '''
    return client.query(query).to_dataframe().drop_duplicates()

In [1428]:
deactivated_in_last_30_day=get_deactivated_in_last_30_day()
base_df=get_raw_data().merge(szm_mapping[['hub','SZM']],left_on='hub', right_on='hub', how='left')
base_df=base_df.merge(deactivated_in_last_30_day,on=['pincode','service','request_type','hub'],how='left')
base_df=base_df[base_df['deactivation_date'].isna()]
base_df = base_df.drop(['deactivation_date','request_type'], axis=1)
base_df['payment_category']='P'+base_df['payment_category'].astype(str)
base_df.rename(columns={'hub':'Hub','pincode':'Pincode','service':'Service','city':'City','state':'State','zone':'Zone','SZM':"SZM"},inplace=True)
base_df

,report_date,Hub,Pincode,Service,payment_category,deactivated_client_name,City,State,Zone,SZM
0,2025-05-16,DEL_FM_KirtiNagar,110000,rts,P4,None,Delhi,Delhi,North,Large-Team
1,2025-05-16,Del_Daryaganj_FM,110002,rts,P1,None,Delhi,Delhi,North,Large-Team
2,2025-05-16,DEL_Okhla_RTS,110003,rts,P4,None,Delhi,Delhi,North,Large-Team
3,2025-05-16,DEL_FM_KirtiNagar,110004,rts,P2,None,Delhi,Delhi,North,Large-Team
4,2025-05-16,Del_Daryaganj_FM,110005,rts,P1,None,Delhi,Delhi,North,Large-Team
...,...,...,...,...,...,...,...,...,...,...
7209,2025-05-16,BOM_PADGHA_FM,990006,marketplace,P1,None,Mumbai,Maharashtra,West,NaN
7218,2025-05-16,VNS_BasantpurChowk_E,221301,marketplace,P4,None,Varanasi,Uttar Pradesh,North,Buddhi Prakash
7219,2025-05-16,Bom_Kurla_FM,400089,marketplace,P3,None,Mumbai,Maharashtra,West,NaN
7220,2025-05-16,PTCR_Patancheru,502307,rts,P3,None,Hyderabad,Telangana,South,Ramagiri Gopi
7221,2025-05-16,PTCR_Patancheru,502307,marketplace,P3,None,Hyderabad,Telangana,South,Ramagiri Gopi

In [1429]:
file_name = 'Serviceability_' + datetime.now().strftime("%Y-%m-%d")+'.xlsx'
with pd.ExcelWriter(file_name,mode='a', engine='openpyxl') as writer:
    base_df[base_df['Service']=='rts'].to_excel(writer, sheet_name='RTS(Seller Delivery) Pincodes', index=False)  # Change 'Sheet1' to your desired sheet name
    base_df[base_df['Service']=='marketplace'].to_excel(writer, sheet_name='FM(Seller Pickup) Pincodes', index=False)  # Change 'Sheet2' to your desired sheet name

In [1430]:
def act_pins(df):
    df['Act Pins'] = (
        df['Act Pins']
        .astype(str)
        .str.replace(',', '', regex=False)
    )
    df['Act Pins'] = pd.to_numeric(df['Act Pins'], errors='coerce')
    df = df.dropna(subset=['Act Pins'])
    df['Act Pins'] = df['Act Pins'].astype(int)
    new_df = df.sort_values(by='Act Pins', ascending=False)
    return new_df

In [1431]:
POD=act_pins(POD)
SZM=act_pins(SZM)
Region=act_pins(Region)

In [1432]:
pod_fm_rts_active_pins

,POD,LM-FM-RTS Active Pincode,LM-FM-RTS Vol Cov%,LM-FM Active Pincode,LM-FM Vol Cov%,LM-RTS Active Pincode,LM-RTS Vol Cov%
1,Overall,1472,12.96%,1473,12.97%,4439,28.09%
6,POD_CCU/ROWB,321,32.24%,321,32.24%,460,43.67%
9,POD_GJ,202,19.31%,202,19.31%,322,29.23%
11,POD_MP/RJ,169,17.88%,169,17.88%,254,24.17%
10,POD_JK/HP/HR/PB,132,11.24%,132,11.24%,236,17.14%
17,POD_UK/UP,120,13.14%,121,13.21%,480,34.89%
16,POD_ROTN,112,9.71%,112,9.71%,493,32.39%
5,POD_BOM/PNQ,87,27.84%,87,27.84%,95,30.39%
8,POD_CHN,66,39.25%,66,39.25%,90,49.77%
4,POD_BLR,58,32.26%,58,32.26%,71,34.43%
2,POD_AP/TS,52,11.53%,52,11.53%,260,29.63%
3,POD_BH/JH,52,6.93%,52,6.93%,453,35.08%
15,POD_ROMH,49,12.23%,49,12.23%,238,31.21%
7,POD_CG/OD,24,7.90%,24,7.90%,234,29.69%
14,POD_ROK/KL,18,0.85%,18,0.85%,635,21.96%
12,POD_NCR,6,0.12%,6,0.12%,14,0.20%
13,POD_NE,4,0.49%,4,0.49%,104,12.80%
0,Defunct,0,0.00%,0,0.00%,0,0.00%

In [1433]:
html_text = f''' Hi All
Please find the updated serviceable Pincode List as on {datetime.now().strftime("%Y-%m-%d")}.
<br>
<br>
<b>Note:</b> 
<br>
Act Pins = Total active pincode serviceable for at least one client
<br>
Vol Cov% = (Volume in active pincodes) / (Total Volume available in Meesho Platform)
<br>
Meesho Deact Vol Cov% = (Volume in deactivated pincode of meesho but active for other client) / (Total Volume available in Meesho Platform)
<br>
D-1 Deact Pins (Live) = Yesterday deactivated pincodes
<br>
D-30 Deact Pins (Live) = Deactivated pincodes in last 30 days
<br>
D-1 Deact Vol Cov% (Live) = (Volume in pincode deactivated yesterday ) / (Total Volume available  in Meesho Platform)
<br>
D-30 Deact Vol Cov% (Live) = (Volume of deactivated pincode in last 30 days) / (Total Volume available in Meesho Platform)
<br>
<br>
<b>Client wise Summary:</b>
<br>
<br>
{apply_generic_css2(client_wise_summary.to_html(index=False))}
<br>
<br>
<b>Region wise Summary:</b>
<br>
<br>
{apply_generic_css2(Region.to_html(index=False))}
<br>
<br>
<b>POD wise Summary:</b>
<br>
<br>
{apply_generic_css2(POD.to_html(index=False))}
<br>
<br>
<b>SZM wise Summary:</b>
<br>
<br>
{apply_generic_css2(SZM.to_html(index=False))}
<br>
<br>
<b>FM-RTS Active Pincode Region wise Summary:</b>
<br>
<br>
{apply_generic_css2(region_fm_rts_active_pins.to_html(index=False))}
<br>
<br>
<b>FM-RTS Active Pincode POD wise Summary:</b>
<br>
<br>
{apply_generic_css2(pod_fm_rts_active_pins.to_html(index=False))}
<br>
<br>
<b>FM-RTS Active Pincode SZM wise Summary:</b>
<br>
<br>
{apply_generic_css2(szm_fm_rts_active_pins.to_html(index=False))}

'''
#html_text = "Hi All,"+ "<br>" +"<br> Please find the updated serviceable Pincode List as on "+datetime.now().strftime("%Y-%m-%d")+"<br><br>"+gmail_utility.apply_generic_css2(Overall.to_html(index=False))+"<br><br>"+ gmail_utility.apply_generic_css2(Region.to_html(index=False)) +"<br><br>"+ gmail_utility.apply_generic_css2(POD.to_html(index=False))+"<br><br>" + gmail_utility.apply_generic_css2(State.to_html(index=False))

In [1434]:
# mails=get_params_from_spreadsheet(Mail_DATA_GSHEET_ID[0],Mail_DATA_GSHEET_ID[1],Mail_DATA_GSHEET_ID[2])
# mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-1'].reset_index(drop=True)
# to = [email.strip() for email in mail['TO'][0].split(',')]
# cc=[email.strip() for email in mail['CC'][0].split(',')]

In [1435]:
from sendgrid import SendGridAPIClient
from sendgrid.helpers.mail import Mail, From, To, Subject, Content, Category,Attachment, FileContent, FileName, FileType, Disposition,Cc
import base64

def sendgrid(to, subject, html_text, cc_emails, attachment):
    api_key = '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'

    try:
        message = Mail(
            from_email=From(email="noreply@shadowfax.in"),  # Ensure this email is verified
            to_emails=[To(email) for email in to],  # Use the provided 'to' list
            subject=Subject(subject),
            html_content=Content("text/html", html_text),
        )
        message.add_category(Category("Serviceable pincode"))

        # Add CC emails
        for cc_email in cc_emails:
            message.add_cc(Cc(cc_email))

        # Attach file if provided
        if attachment:
            if not os.path.exists(attachment):
                print(f"Error: Attachment file '{attachment}' not found.")
                return

            with open(attachment, "rb") as file:
                file_data = file.read()
                base64str = base64.b64encode(file_data).decode()

            attachment_obj = Attachment(
                file_content=FileContent(base64str),
                file_type=FileType('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'),
                file_name=FileName(os.path.basename(attachment)),
                disposition=Disposition('attachment')
            )
            message.add_attachment(attachment_obj)

        sg = SendGridAPIClient(api_key)
        response = sg.send(message)
        print(f"Email sent. Status: {response.status_code}")

    except Exception as e:
        print(f"Error sending email: {e}")
        if hasattr(e, 'body'):  # Now inside the except block
            print("SendGrid Error Details:", e.body)
to=['Akhilesh.kashyap@shadowfax.in',]
cc_emails=['tripti.kumari@shadowfax.in',]
html_text=html_text
suject_line='test'
sendgrid(to, suject_line, html_text, cc_emails, attachment=None)

Email sent. Status: 202

In [ ]:
# gmail_utility.send_email(to, cc,[], 'Updated LM Serviceable Pincode List | ' + datetime.now().strftime("%d-%m-%Y"), mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [ ]:
# mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-2'].reset_index(drop=True)
# to = [email.strip() for email in mail['TO'][0].split(',')]
# cc=[email.strip() for email in mail['CC'][0].split(',')]

In [ ]:
# to=['tripti.kumari@shadowfax.in']
# cc=['aggunna.avinash@shadowfax.in']

In [ ]:
subject ='Updated LM Serviceable Pincode List | ' + datetime.now().strftime("%d-%m-%Y")
# attachment="file_name"
cc_emails=cc

# to, subject, html_text, cc_emails, attachment
sendgrid(to,subject, html_text,cc_emails,attachment=file_name)

Email sent. Status: 202

In [ ]:
# gmail_utility.send_email(to, cc,[], 'Updated LM Serviceable Pincode List 2nd | ' + datetime.now().strftime("%d-%m-%Y"), mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [ ]:
mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-2'].reset_index(drop=True)
to = [email.strip() for email in mail['TO'][0].split(',')]
cc=[email.strip() for email in mail['CC'][0].split(',')]

In [ ]:
# to=['tripti.kumari@shadowfax.in']
# cc=['aggunna.avinash@shadowfax.in']
subject ='Updated LM Serviceable Pincode List 2nd | ' + datetime.now().strftime("%d-%m-%Y")
# attachment="file_name"
cc_emails=cc

# to, subject, html_text, cc_emails, attachment
sendgrid(to,subject, html_text,cc_emails,attachment=file_name)

Email sent. Status: 202

In [ ]:
mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-3'].reset_index(drop=True)
to = [email.strip() for email in mail['TO'][0].split(',')]
cc=[email.strip() for email in mail['CC'][0].split(',')]

In [ ]:
# gmail_utility.send_email(to, cc,[], 'Updated LM Serviceable Pincode List 3rd | ' + datetime.now().strftime("%d-%m-%Y"), mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [ ]:
# to=['tripti.kumari@shadowfax.in']
# cc=['aggunna.avinash@shadowfax.in']
subject ='Updated LM Serviceable Pincode List 3rd | ' + datetime.now().strftime("%d-%m-%Y")
# attachment="file_name"
cc_emails=cc

# to, subject, html_text, cc_emails, attachment
sendgrid(to,subject, html_text,cc_emails,attachment=file_name)

Email sent. Status: 202

### Ajio_exchange

In [ ]:
query='''select 
        date(lg.created+interval 330 minute) as date,
        lg.pickup_request_id,
        lg.delivery_request_id,
        hub.name as hub_name,
        dr.attempt_number,
        client.name as client_name,
        dr.product_value,
        dr.received_at_hub_time as FWD_Shipment_received_at_hub_time,
        case dr.order_status
        When 0 then 'NEW'
        When 1 then 'TO_BE_ASSIGNED'
        When 2 then 'ASSIGNED'
        When 3 then 'OUT_FOR_DELIVERY'
        When 4 then 'DELIVERED'
        When 5 then 'TO_BE_RETURNED'
        When 6 then 'CLOSED'
        When 7 then 'ASSIGNED_TO_CLUSTER'
        When 8 then 'LOST'
        When 9 then 'RECEIVED_AT_DC'
        When 10 then 'SCHEDULED'
        When 11 then 'CID'
        When 12 then 'CANCELLED'
        When 13 then 'NOT_CONTACTABLE'
        When 14 then 'NOT_ATTEMPTED'
        When 15 then 'RECEIVED_AT_HUB'
        When 16 then 'RETURNED_TO_CLIENT'
        When 17 then 'RTO'
        When 18 then 'RTD'
        When 19 then 'NDR_DEL'
        When 20 then 'IN_MANIFEST'
        When 21 then 'IN_RETURN_PROCESS'
        When 22 then 'RTS'
        When 23 then 'RTOD'
        When 24 then 'RTSD'
        When 25 then 'RTOND'
        When 26 then 'RTSND'
        When 27 then 'RECEIVED_AT_PICKUP_HUB'
        When 28 then 'PINCODE_UPDATED'
        When 29 then 'ON_HOLD'
        When 30 then 'CLIENT_REJECTED'
        When 31 then 'Recd at via hub'
        When 32 then 'DELIVERED_AT_HUB'
        When 33 then 'RECEIVED_FROM_CLIENT_WAREHOUSE'
        When 34 then 'SELLER_REJECTED'
        else cast(dr.order_status as string) end as FWD_OrderStatus,
        r.picked_date as REV_Pick_Date,
        r.status as REV_OrderStatus
        from data-warehousing-391512.ecommerce.ecommerce_exchangeordermapping lg
        left join data-warehousing-391512.ecommerce.ecommerce_deliveryrequest dr on dr.awb_number = lg.delivery_request_id and dr.creation_date> current_date() - interval 20 day
        left join data-warehousing-391512.ecommerce.pickup_pickuprequest r on r.awb_number=lg.pickup_request_id and r.created> current_date() - interval 20 day
        left join data-warehousing-391512.ecommerce.ecommerce_client client on client.id=dr.client_id
        left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.id=dr.hub_id
        where lg.created between current_date()-interval 330 minute - interval 20 day and current_date()-interval 330 minute and client.name='AJIO'  '''
raw_df = client.query(query).to_dataframe()

In [ ]:
raw_df.to_csv(r'ajio_exchange_raw.csv')

In [ ]:
raw_df.head()

,date,pickup_request_id,delivery_request_id,hub_name,attempt_number,client_name,product_value,FWD_Shipment_received_at_hub_time,FWD_OrderStatus,REV_Pick_Date,REV_OrderStatus
0,2025-04-28,R1215900790AJI,SF1657517623AJI,PNY_Ponducherry_E,1,AJIO,1013,2025-05-02 03:57:24,DELIVERED,2025-05-03 13:52:02,in_manifest
1,2025-05-05,R1225117475AJI,SF1679953255AJI,KIK_Karaikal,1,AJIO,1010,2025-05-09 01:27:07,DELIVERED,2025-05-09 14:03:25,rts_in_process
2,2025-05-09,R1228316474AJI,SF1680225039AJI,PDY_OldSaramSN_SCC,1,AJIO,429,2025-05-12 02:40:43,DELIVERED,2025-05-12 11:34:16,in_manifest
3,2025-05-09,R1230298211AJI,SF1680237776AJI,KIK_Karaikal,0,AJIO,265,NaT,IN_MANIFEST,NaT,new
4,2025-05-09,R1230301995AJI,SF1680196853AJI,FKG_Wokha_SCC,0,AJIO,1398,NaT,IN_MANIFEST,NaT,new

In [ ]:
date_wise=pd.pivot_table(raw_df,index=['date'],values=['pickup_request_id'],aggfunc='count').reset_index()
date_wise.rename(columns={'pickup_request_id':'Total_Order'},inplace=True)
date_wise

          date  Total_Order
0   2025-04-24           18
1   2025-04-25           25
2   2025-04-26           21
3   2025-04-27           20
4   2025-04-28           14
5   2025-04-29           20
6   2025-04-30           24
7   2025-05-01           12
8   2025-05-02           19
9   2025-05-03           13
10  2025-05-04           13
11  2025-05-05            7
12  2025-05-06            5
13  2025-05-07           10
14  2025-05-08           17
15  2025-05-09           13
16  2025-05-10           10
17  2025-05-11            5
18  2025-05-12            4
19  2025-05-13           12

In [ ]:
hub_wise=pd.pivot_table(raw_df,index=['hub_name'],columns=['date'],values=['pickup_request_id'],aggfunc='count',margins=True,margins_name='Grand Total').reset_index()
hub_wise=pd.merge(pd.DataFrame(hub_wise['hub_name']),hub_wise['pickup_request_id'],left_index=True, right_index=True, how='left')
hub_wise = hub_wise.fillna(0).applymap(lambda x: f"{x:.0f}" if isinstance(x, float) else x)
hub_wise#['pickup_request_id']

,hub_name,2025-04-24,2025-04-25,2025-04-26,2025-04-27,2025-04-28,2025-04-29,2025-04-30,2025-05-01,2025-05-02,...,2025-05-05,2025-05-06,2025-05-07,2025-05-08,2025-05-09,2025-05-10,2025-05-11,2025-05-12,2025-05-13,Grand Total
0,BXJ_Zunheboto_SCC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,CDD_Cuddalore_TH,0,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,4
2,CMA_Mokokchung_SCC,1,1,1,0,0,0,0,0,1,...,2,1,3,0,1,0,1,1,1,15
3,CVR_Diu_SCC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,DMU_ChumukidimaLT_SCC,0,0,0,0,0,1,0,0,2,...,0,0,0,0,1,0,0,0,0,4
5,DMU_Khermahal_SCC,3,5,1,2,0,4,4,0,2,...,0,0,0,2,1,1,0,0,3,28
6,FKG_Wokha_SCC,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,2
7,GKJ_ChandmariMarket_SCC,0,0,2,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,7
8,GOI_Assolna_SCC,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,4
9,GOI_BicholimHS_SCC,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
10,GOI_Canacona_SCC,1,0,0,2,2,0,2,1,0,...,0,0,1,4,0,0,0,0,0,14
11,GOI_MadgaonDV_SCC,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,3
12,GOI_MapusaRD,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
13,IXZ_ VeerSavarkar_SCC,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,0,0,0,3
14,IXZ_Garacharama_SCC,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
15,KIK_Karaikal,0,1,4,1,1,2,3,0,1,...,1,0,2,2,4,2,2,0,2,33
16,NHLN_ItanagarN_SCC,1,2,0,0,2,0,1,1,0,...,0,0,0,0,0,0,0,0,0,7
17,NOM_Mon_SCC,0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,4
18,PDY_Kottakuppam_SCC,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
19,PDY_OldSaramSN_SCC,3,1,0,2,0,1,1,0,4,...,1,0,0,1,3,0,0,1,2,23
20,PNY_Ponducherry_E,5,3,5,3,4,7,3,5,2,...,3,2,0,4,0,4,1,0,4,59
21,SHL_ShillongN_SCC,4,10,5,3,1,3,6,2,3,...,0,2,2,1,2,0,0,0,0,47
22,UT_Daman_SCC,0,1,1,2,1,1,0,2,0,...,0,0,0,1,0,1,1,2,0,16
23,Grand Total,18,25,21,20,14,20,24,12,19,...,7,5,10,17,13,10,5,4,12,282

In [ ]:
# to = ['farihaa.naeem@shadowfax.in','manaswini.chaturvedi@shadowfax.in','mkumar.asish@shadowfax.in',
#       'nishant.rawat@shadowfax.in' ,'ankit.singhal@shadowfax.in' ,'ananda.dasgupta@shadowfax.in','akash.bansal@shadowfax.in']
# cc=['praharsh@shadowfax.in','amandeep.sahu@shadowfax.in','tripti.kumari@shadowfax.in','shubham.udayraj@shadowfax.in']
# file_name=r'ajio_exchange_raw.csv'

In [ ]:
from sendgrid import SendGridAPIClient
from sendgrid.helpers.mail import Mail, From, To, Subject, Content, Category,Attachment, FileContent, FileName, FileType, Disposition,Cc

def sendgrid(to, subject, html_text, cc_emails, attachment=None):
    api_key = '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'

    try:
        message = Mail(
            from_email=From(email="noreply@shadowfax.in"),  # Ensure this email is verified
            to_emails=[To(email) for email in to],  # Use the provided 'to' list
            subject=Subject(subject),
            html_content=Content("text/html", html_text),
        )
        message.add_category(Category("Ajio_Exchange"))

        # Add CC emails
        for cc_email in cc_emails:
            message.add_cc(Cc(cc_email))

        # Attach file if provided
        if attachment:
            if not os.path.exists(attachment):
                print(f"Error: Attachment file '{attachment}' not found.")
                return

            with open(attachment, "rb") as file:
                file_data = file.read()
                base64str = base64.b64encode(file_data).decode()

            attachment_obj = Attachment(
                file_content=FileContent(base64str),
                file_type=FileType('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'),
                file_name=FileName(os.path.basename(attachment)),
                disposition=Disposition('attachment')
            )
            message.add_attachment(attachment_obj)

        sg = SendGridAPIClient(api_key)
        response = sg.send(message)
        print(f"Email sent. Status: {response.status_code}")

    except Exception as e:
        print(f"Error sending email: {e}")
        if hasattr(e, 'body'):  # Now inside the except block
            print("SendGrid Error Details:", e.body)
# to=['shubham.udayraj@shadowfax.in']
# cc_emails=['aggunna.avinash@shadowfax.in']
# html_text='hi all'
# suject_line='test'
# sendgrid(to, suject_line, html_text, cc_emails, attachment=None)

In [ ]:
html_text_1 = f''' Hi All,
<br>
<br>
Please find Ajio Exchange Orders,
<br>
<br>
<b>Date wise Summary:</b>
<br>
<br>
{apply_generic_css2(date_wise.to_html(index=False))}
<br>
<br>
<b>Hub wise Summary:</b>
<br>
<br>
{apply_generic_css2(hub_wise.to_html(index=False))}
'''

In [ ]:
to = ['farihaa.naeem@shadowfax.in','manaswini.chaturvedi@shadowfax.in','mkumar.asish@shadowfax.in',
      'nishant.rawat@shadowfax.in' ,'ankit.singhal@shadowfax.in' ,'ananda.dasgupta@shadowfax.in','akash.bansal@shadowfax.in']
cc=['praharsh@shadowfax.in','amandeep.sahu@shadowfax.in','tripti.kumari@shadowfax.in','shubham.udayraj@shadowfax.in']
# to = ['tripti.kumari@shadowfax.in']
# cc = ['aggunna.avinash@shadowfax.in']
sendgrid(to,subject='Ajio Exchange Orders | D-1 to D-20', html_text=html_text_1, cc_emails=cc, attachment='ajio_exchange_raw.csv')

# file_name=r'ajio_exchange_raw.csv'

Email sent. Status: 202

In [ ]:
# gmail_utility.send_email(to, cc,[], 'Ajio Exchange Orders | D-1 to D-20', mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [ ]:
#(datetime.today()-timedelta(1)).date().strftime("%d-%m-%Y")