In [726]:
import gspread
import numpy as np
import pandas as pd # For importing data
import os as os
from datetime import date, timedelta, datetime  # To Today yesterdays dat
import warnings
warnings.filterwarnings('ignore')      # To ignore warnings
from google.cloud import bigquery
client = bigquery.Client()
from google.oauth2.service_account import Credentials
from utility_scripts import gmail_utility

In [727]:
pip install sendgrid

Requirement already satisfied: sendgrid in c:\users\tripti kumari\anaconda3\lib\site-packages (6.11.0)
Requirement already satisfied: python-http-client>=3.2.1 in c:\users\tripti kumari\anaconda3\lib\site-packages (from sendgrid) (3.3.7)
Requirement already satisfied: starkbank-ecdsa>=2.0.1 in c:\users\tripti kumari\anaconda3\lib\site-packages (from sendgrid) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [728]:
# CONSTANTS
MEESHO_ORDERS_GSHEET_ID = ['1rDc5sgA6ZihdtrqvddlqBtBm4rCRI6H0HFzQNvbAtaI','Meesho Orders','A2:L']
POD_MAPPING_GSHEET_ID = ['17jOHT8yE3QVD4IR0LpnGFAfNDDeWBQIL08pChya7yYQ','Sheet1','A:L']
Mail_DATA_GSHEET_ID=['1E1mjW4PsGhlcZlNp7DAXvXgUaMNqui0bSlXlwgJi-yI','mail_id','A:D']
DEACTIVATION_GSHEET_ID=['1igyhOjgORn4oV1jMi-ALQ2X00AXbxUUJolEs-8CC4Pk','Deactivation','H:N']

In [729]:
def get_params_from_spreadsheet(gsheet_key,name,range):
    gc =gspread.service_account(filename='gsheet.json')
    gsheet = gc.open_by_key(gsheet_key)
    worksheet = gsheet.worksheet(name)
    data = worksheet.get(range)
    df = pd.DataFrame(data[1:], columns=data[0])
    return df

In [730]:
def get_meesho_orders():
    Meesho_orders=get_params_from_spreadsheet(MEESHO_ORDERS_GSHEET_ID[0],MEESHO_ORDERS_GSHEET_ID[1],MEESHO_ORDERS_GSHEET_ID[2])
    Meesho_orders['Platform Orders'] = Meesho_orders['Platform Orders'].str.replace(',', '').astype(int)
    Meesho_orders['State'] = Meesho_orders['State'].str.strip().str.title()
    Meesho_orders.drop(columns=['Region','Zone'],inplace=True)
    return Meesho_orders

In [731]:
def get_pod_zone_mapping():
    POD_MAPPING=get_params_from_spreadsheet(POD_MAPPING_GSHEET_ID[0],POD_MAPPING_GSHEET_ID[1],POD_MAPPING_GSHEET_ID[2])
    POD_MAPPING['hub']=POD_MAPPING['hub'].str.strip()
    POD_MAPPING=POD_MAPPING[['hub','Vertical','POD Mapping','POD_Zone','SZM','HI/Lead','City','POD owner / E-com Lead','City type']]
    POD_MAPPING.rename(columns={'POD Mapping':'POD','POD_Zone':'Region'},inplace=True)
    return POD_MAPPING

In [732]:
def get_raw_data():
    query='''select distinct base.*, 
            city.name as City
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.service='regular' 
            and base.report_date=current_date() 
            and base.pincode>109999
            and base.hub  not like '%_ADM%' 
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub) not like '%_fm'
            and lower(base.hub) not like '%_rts'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and lower(base.hub) not like '%_fm_%'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_oc_s%'
            and lower(base.hub)  not like '%_oc'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe()
    raw_df=raw_df.drop_duplicates()
    return raw_df

In [733]:
def get_deactivated_in_last_30_day():
    query='''select distinct date(a.created + interval 330 minute) as  deactivation_date, 
    e.name as Hub, 
    d.code as Pincode, 
    case when a.model_name ='DeliveryHubPincodeServiceability' then 'delivery'
         when a.model_name ='PickupHubPincodeServiceability' then 'pickup' end as request_type,
    'regular' as service,
    null as payment_category,
    null as deactivated_client_name
    from data-warehousing-391512.ecommerce.admin_mapping_pincodemappingrequest as a
    left join data-warehousing-391512.ecommerce.admin_mapping_deliveryhubpincodeserviceability b on b.id=a.object_id and a.model_name='DeliveryHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.admin_mapping_pickuphubpincodeserviceability c on c.id=a.object_id and a.model_name='PickupHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.ecommerce_pincode d on d.id =COALESCE(b.pincode_id,c.pincode_id)
    left join data-warehousing-391512.ecommerce.ecommerce_hub e on e.id =COALESCE(b.hub_id,c.hub_id)
    where (b.service='regular' or c.service='regular') and a.created>current_date()- interval 30 day -interval 330 minute
    and a.status!='expired'
    and d.code>109999
    and e.name  not like '%_ADM%'
    and lower(e.name) not like '%_inv%'
    and lower(e.name)  not like '%_sh'
    and lower(e.name)  not like '%inventory%'
    and lower(e.name)  not like '%zomato%'
    and lower(e.name)  not like '%_cdk%'
    and lower(e.name)  not like 'fkl_%'
    and lower(e.name)  not like '%citymall%'
    and lower(e.name) not like '%_fm'
    and lower(e.name) not like '%_rts'
    and lower(e.name)  not like '%test%'
    and lower(e.name)  not like '%_exp%'
    and lower(e.name) not like '%_fm_%'
    and lower(e.name)  not like '%samsung_%'
    and lower(e.name)  not like '%_oc_s%'
    and lower(e.name)  not like '%_oc'
    and lower(e.name)  not like '%_fkl'
    and lower(e.name) not like '%testhub'
    and lower(e.name) not like '%_inactive' 
    '''
    data=client.query(query).to_dataframe()
    data=data.drop_duplicates()
    return data

In [734]:
def classify_request(data):
    request_type = data.get('request_type', None)
    if 'pickup' in request_type and 'delivery' in request_type:
        return 'Serviceable'
    elif 'pickup' in request_type:
        return 'Reverse Only'
    else:
        return 'Forward Only'

In [735]:
def classify_client(data):
    client_wise_activation = data.get('client_wise_activation', None)
    if 'All-delivery' in client_wise_activation and 'All-pickup' in client_wise_activation:
        return 'All'
    if 'All-delivery' == client_wise_activation:
        return 'All-delivery'
    if 'All-pickup' == client_wise_activation:
        return 'All-pickup'
    elif 'All-delivery,' in client_wise_activation or ',All-delivery' in client_wise_activation:
        return 'Except ' + client_wise_activation.replace('All-delivery,', '').replace(', All-delivery', '')
    else:
        return 'Except ' + client_wise_activation.replace('All-pickup,', '').replace(', All-pickup', '')

In [736]:
def get_fwd_flag(data):
    flag = data.get('Remarks', None)
    if flag == 'Serviceable':
        return 'Yes'
    elif flag== 'Forward Only':
        return 'Yes'
    else:
        return 'No'

In [737]:
def get_rev_flag(data):
    flag = data.get('Remarks', None)
    if flag == 'Serviceable':
        return 'Yes'
    elif flag== 'Reverse Only':
        return 'Yes'
    else:
        return 'No'

In [738]:
def get_base_data(raw_df):
    raw_df['Hub']=raw_df['hub']
    raw_df['Pincode']=raw_df['pincode']
    raw_df['Payment Category'] = 'P' + raw_df['payment_category'].astype(str)
    raw_df['deactivated_client_name']=raw_df['deactivated_client_name'].fillna('All')
    deactivated_client_name=set(raw_df['deactivated_client_name'])
    raw_df['client_wise_activation']=raw_df['deactivated_client_name']+'-'+raw_df['request_type']
    main=raw_df[['Hub','Pincode','Payment Category','City']]
    main.drop_duplicates(subset=['Pincode'],inplace=True)
    grouped_df = raw_df.groupby(['Pincode'])['request_type'].agg(lambda x: ', '.join(x)).reset_index()
    grouped_df['Remarks'] = grouped_df.apply(classify_request,axis=1)
    serviceability_remarks=grouped_df[['Pincode','Remarks']]
    main=main.merge(serviceability_remarks,on='Pincode',how='left')
    grouped_df = raw_df.groupby(['Pincode'])['client_wise_activation'].agg(lambda x: ', '.join(x)).reset_index()
    grouped_df['Client Serviceability'] = grouped_df.apply(classify_client, axis=1)
    grouped_df=grouped_df[['Pincode','Client Serviceability']]
    main=main.merge(grouped_df,on='Pincode',how='left')
    l=['City','Remarks']
    for col in l:
        main[col]=main[col].str.title()
    main['FWD Serviceability']=main.apply(get_fwd_flag,axis=1)
    main['REV Serviceability']=main.apply(get_rev_flag,axis=1)
    main['Client Serviceability']=main['Client Serviceability'].str.replace(', All-delivery','')
    main['Client Serviceability']=main['Client Serviceability'].str.replace(', All-pickup','')
    return main,deactivated_client_name

In [739]:
def fm_get_deactivated_in_last_30_day():
    query='''select distinct date(a.created + interval 330 minute) as  deactivation_date,b.service,d.code as pincode, e.name as hub,
    case when a.model_name ='DeliveryHubPincodeServiceability' then 'delivery'
    when a.model_name ='PickupHubPincodeServiceability' then 'pickup' end as request_type
    from data-warehousing-391512.ecommerce.admin_mapping_pincodemappingrequest as a
    left join data-warehousing-391512.ecommerce.admin_mapping_deliveryhubpincodeserviceability b on b.id=a.object_id and a.model_name='DeliveryHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.admin_mapping_pickuphubpincodeserviceability c on c.id=a.object_id and a.model_name='PickupHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.ecommerce_pincode d on d.id =COALESCE(b.pincode_id,c.pincode_id)
    left join data-warehousing-391512.ecommerce.ecommerce_hub e on e.id =COALESCE(b.hub_id,c.hub_id)
    where (b.service in ('marketplace','rts') or c.service in ('marketplace','rts')) and a.created>current_date()- interval 30 day -interval 330 minute
    and a.status!='expired'
    and d.code>109999
    and e.name  not like '%_ADM%'
    and lower(e.name) not like '%_inv%'
    and lower(e.name)  not like '%_sh'
    and lower(e.name)  not like '%inventory%'
    and lower(e.name)  not like '%zomato%'
    and lower(e.name)  not like '%_cdk%'
    and lower(e.name)  not like 'fkl_%'
    and lower(e.name)  not like '%citymall%'
    and lower(e.name)  not like '%test%'
    and lower(e.name)  not like '%_exp%'
    and e.name  not like '%_DC_%'
    and e.name  not like 'Seller_Direct_%'
    and e.name  not like '%_OC_S'
    and lower(e.name)  not like '%samsung_%'
    and lower(e.name)  not like '%_fkl'
    and lower(e.name) not like '%testhub'
    and lower(e.name) not like '%_inactive'
    '''
    return client.query(query).to_dataframe().drop_duplicates()

In [740]:
def fm_get_raw_data():
    query='''select distinct base.*, city.name as City
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.report_date=current_date() and base.service in ('marketplace','rts')
            and base.pincode>109999
            and base.hub  not like '%_ADM%'
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and base.hub  not like '%_DC_%'
            and base.hub  not like 'Seller_Direct_%'
            and base.hub  not like '%_OC_S'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe().drop_duplicates()
    return raw_df

In [741]:
raw_df=get_raw_data()
raw_df['id']=raw_df['hub']+raw_df['pincode'].astype(str)+raw_df['request_type']

In [742]:
deactivated_in_last_30_day=get_deactivated_in_last_30_day()
deactivated_in_last_2_day = deactivated_in_last_30_day

In [743]:
deactivated_in_last_2_day['id']=deactivated_in_last_2_day['Hub']+deactivated_in_last_2_day['Pincode'].astype(str)+deactivated_in_last_2_day['request_type']
deactivated_in_last_2_day['flag']='yes'
deactivated_in_last_2_day=deactivated_in_last_2_day[['id','flag']]
deactivated_in_last_2_day.drop_duplicates(subset=['id'],inplace=True)
raw_df=raw_df.merge(deactivated_in_last_2_day,on='id',how='left')
raw_df=raw_df[~(raw_df['flag']=='yes')]
raw_df=raw_df[['report_date', 'hub', 'pincode', 'request_type', 'service',
       'payment_category', 'deactivated_client_name', 'City']]

In [744]:
#--------------Meesho------------------------------
Meesho_orders=get_meesho_orders()
Meesho_orders.drop_duplicates(subset=['Pincode'],inplace=True)
pod_zone_mapping=get_pod_zone_mapping()
region=pod_zone_mapping[['POD','Region']]
region=region[region['POD']!='Nil']
region.drop_duplicates(subset=['POD'],inplace=True)
Meesho_orders=Meesho_orders.merge(region,on='POD',how='left')
Meesho_orders['Pincode']=Meesho_orders['Pincode'].astype(int)
Meesho_orders.fillna('NA')

,Pincode,Pincode type,India Post Flag,Platform Orders,State Code,State,Meesho City,Servicable,SFX Vol Coverage,POD,Region
0,522410,Correct,Yes,199,AP,Andhra Pradesh,Sattenapalle,0,0,POD_AP/TS,East
1,844134,Defunct,No,14,BR,Bihar,Saraiya,0,0,POD_BH/JH,North
2,800022,Correct,Yes,4,BR,Bihar,Patna,0,0,POD_BH/JH,North
3,533333,Defunct,No,1,AP,Andhra Pradesh,Kadiam,0,0,POD_AP/TS,East
4,523003,Defunct,No,1,AP,Andhra Pradesh,Macherla,0,0,POD_AP/TS,East
...,...,...,...,...,...,...,...,...,...,...,...
28198,585344,Not Considered,No,0,,Defunct,Defunct,0,0,Defunct,NA
28199,585363,Not Considered,No,0,,Defunct,Defunct,0,0,Defunct,NA
28200,999985,Not Considered,No,0,,Defunct,Defunct,0,0,Defunct,NA
28201,654321,Not Considered,No,73,,Defunct,Defunct,0,0,Defunct,NA
28202,111111,Not Considered,No,81,,Defunct,Defunct,0,0,Defunct,NA

In [745]:
raw_df

,report_date,hub,pincode,request_type,service,payment_category,deactivated_client_name,City
0,2025-05-20,DEL_Daryaganj,110001,delivery,regular,1,Jockey E,Delhi
1,2025-05-20,DEL_Daryaganj,110001,delivery,regular,1,TATACliQ,Delhi
2,2025-05-20,DEL_LajpatNagar,110003,delivery,regular,4,The Collective,Delhi
3,2025-05-20,DEL_KarolBagh,110004,delivery,regular,2,Kartrocket Premium,Delhi
4,2025-05-20,DEL_KarolBagh,110005,delivery,regular,1,The Collective,Delhi
...,...,...,...,...,...,...,...,...
400584,2025-05-20,KTYM_Kottayam_TH,999994,pickup,regular,1,Boodmo,Kottayam
400585,2025-05-20,KTYM_Kottayam_TH,999994,pickup,regular,1,Festabox,Kottayam
400586,2025-05-20,KTYM_Kottayam_TH,999994,pickup,regular,1,Knya,Kottayam
400587,2025-05-20,KTYM_Kottayam_TH,999994,pickup,regular,1,Kartrocket Fashion WH,Kottayam
400588,2025-05-20,KTYM_Kottayam_TH,999994,pickup,regular,1,GuddiPost,Kottayam

In [746]:
#-------------Base Data----------------------------------
base_df,deactivated_client_name=get_base_data(raw_df)

In [747]:
base_df=base_df.merge(Meesho_orders[['Pincode','POD','State','Region']],on='Pincode',how='left')
base_df

,Hub,Pincode,Payment Category,City,Remarks,Client Serviceability,FWD Serviceability,REV Serviceability,POD,State,Region
0,DEL_Daryaganj,110001,P1,Delhi,Serviceable,"Except Jockey E-delivery, TATACliQ-delivery, C...",Yes,Yes,POD_NCR,Delhi,NaN
1,DEL_LajpatNagar,110003,P4,Delhi,Serviceable,"Except The Collective-delivery, Urbanic-delive...",Yes,Yes,POD_NCR,Delhi,NaN
2,DEL_KarolBagh,110004,P2,Delhi,Serviceable,"Except Kartrocket Premium-delivery, CityMall G...",Yes,Yes,POD_NCR,Delhi,NaN
3,DEL_KarolBagh,110005,P1,Delhi,Serviceable,"Except The Collective-delivery, Urbanic-delive...",Yes,Yes,POD_NCR,Delhi,NaN
4,DEL_Daryaganj,110006,P1,Delhi,Serviceable,"Except Get Ketch-delivery, Newme-pickup, Jocke...",Yes,Yes,POD_NCR,Delhi,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17633,JAA_Jhalda_SCC,723202,P2,Ranchi,Serviceable,"Except Hammer-delivery, Hammer-pickup",Yes,Yes,POD_CCU/ROWB,Jharkhand,East
17634,DHH_Dinhata_SCC,736168,P5,Dinhata,Serviceable,"Except Hammer-delivery, Hammer-pickup",Yes,Yes,POD_CCU/ROWB,West Bengal,East
17635,DEL_Burari,110033,P1,Delhi,Serviceable,All,Yes,Yes,POD_NCR,Delhi,NaN
17636,AAL_Amilai_ODH,276141,P1,Amilai,Serviceable,"Except Hammer-delivery, Hammer-pickup",Yes,Yes,POD_UK/UP,Uttar Pradesh,NaN
17637,TLU_Pamuru_SCC,523108,P6,Pamuru,Serviceable,"Except Hammer-delivery, Hammer-pickup",Yes,Yes,POD_AP/TS,Andhra Pradesh,East

In [748]:
base_df.to_csv('data.csv')

In [749]:
fm_deactivated_in_last_30_day=fm_get_deactivated_in_last_30_day()
fm_base_df=fm_get_raw_data()
fm_base_df=fm_base_df.merge(fm_deactivated_in_last_30_day,on=['pincode','service','request_type','hub'],how='left')
fm_base_df=fm_base_df[fm_base_df['deactivation_date'].isna()]
fm_base_df = fm_base_df.drop(['deactivation_date','request_type'], axis=1)
fm_base_df['payment_category']='P'+fm_base_df['payment_category'].astype(str)
fm_base_df.rename(columns={'hub':'Hub','pincode':'Pincode','service':'Service','city':'City','state':'State','zone':'Zone'},inplace=True)
fm_base_df=fm_base_df[fm_base_df.Hub.isin(base_df.Hub.unique())]
final_fm_base_df=fm_base_df[['Hub','Pincode','City','payment_category']]
final_fm_base_df.rename(columns={'payment_category':'Payment Category'},inplace=True)
final_fm_base_df.drop_duplicates(subset=['Pincode'],inplace=True)

In [750]:
main=fm_base_df.sort_values('Service').groupby(['Pincode'])['Service'].agg(lambda x: ', '.join(x)).reset_index()
main['Service']=main['Service'].str.replace('marketplace','FM')
main['Service']=main['Service'].str.replace('rts','RTS')
final_fm_base_df=final_fm_base_df.merge(main,how='left',on='Pincode')
final_fm_base_df=final_fm_base_df[~final_fm_base_df['Pincode'].isin(base_df.Pincode.unique())]
final_fm_base_df

                  Hub  Pincode      City Payment Category Service
827  SRTN_Sibasagar_E   785661  Sibsagar               P3      FM

In [751]:
base_df=base_df.merge(main,how='left',on='Pincode')
#base_df=pd.concat([base_df,final_fm_base_df])

In [752]:
base_df['Service']=base_df['Service'].fillna('LM')
base_df['Service'][base_df['Service']=='RTS']='LM, RTS'
base_df['Service'][base_df['Service']=='FM']='LM,FM'
base_df['Service']=base_df['Service'].str.replace('FM, RTS','LM, FM, RTS')

In [753]:
def get_flag_for_clients(data,clients,flag_type):
    client_keywords = clients
    client_keywords = [keyword + '-' + flag_type for keyword in client_keywords]
    Remarks = data.get('Remarks')
    # Client Serviceability
    Client_Serviceability=data.get('Client Serviceability')
    # Seviceability type
    flag='Yes'
    if flag_type=='delivery':
        if Remarks=='Reverse Only':
            flag='No'
    if flag_type=='pickup':
        if Remarks=='Forward Only':
            flag='No'
    # checking client level
    if flag=='Yes':
        if any(i in Client_Serviceability for i in client_keywords):
            flag='No'
    return flag

In [754]:
client_list=['FTPL','AJIO']
for i in client_list:
    base_df['FWD '+i]=base_df.apply(get_flag_for_clients,clients=[i],flag_type='delivery',axis=1)
    base_df['REV '+i]=base_df.apply(get_flag_for_clients,clients=[i],flag_type='pickup',axis=1)
base_df['FWD '+'FK']=base_df.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='delivery',axis=1)
base_df['REV '+'FK']=base_df.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='pickup',axis=1)
#--------------- Other-------------------------------------------
client_other=['1MG','AEPL','Airtel Reverse','Amydus','Apollo Express','AS TRADERS','Bicree','BookMyCostume','BRILLIANT B2C','cilory','CityMall B2C','CityMall Grocery','CityMall Reverse','Cloudpost','Clovia','Coutloot(MJVS)','CRAFTURCAREER EDUCATIONS PRIVATE LIMITED','CRED','DcHub-70772F28','DcHub-A14183A6','Decathlon_N','DropX Ecom PVT LTD','Ed-a-mamma','Emiza','F Ship','Festabox','Forever 21','FreeUp','Get Ketch','Global Transatlantic','Gritstones','GrowSimplee_WH','Hamada Global (Chiran)','Haritu','HealthKart_N','Herbal Hygenic','Hopscotch','House Of X','ICARRY','INNERELLA','ITC WH ECOM','iThink Logistics','JAYPEE MARKETING A UNIT OF J P WOLLEN INDUSTRIES','JhaJi','Jio MART','Jiomart 1P','Kartrocket','Kartrocket Express','Kartrocket Express Longtail','Kartrocket Fashion','Kartrocket Fashion WH','Kartrocket Premium','Kartrocket_Air','Knyamed','Lenskart','Lime road_DSQC','LimeRoad','Logistify','Mabel Jewelry','Marico Warehouse','Medlife','Meesho - Exchange','Meesho Heavy','Meesho Regional','MIMI’S COLLECTION','MOVERY PRIVATE LIMITED','MyDesignation','Myntra','Naaptol','Netmeds Express','Newme','Nimbuspost','Nimbuspost_1kg','Noetic Logistiex','Nutriherbs','Nykaa E-retail','Nykaa Fashion','Nykaa_mkt','Nykaa_N','Orionz Jewels','OTPL','Paapos','Pantaloons','PATAAKHA','Prozo Enterprise','Prozo Flat','Prozo Retail','Purpledrone supplychain solutions','purplle','QUIXGO','Qxpress India Private Limited','RAMAPIR FASHION','RapidShyp','Salty','Samsung CE','Savana','Selloship Services','Sendecom','Shadowfax_IT_Asset_Repair','Shift','Shipclues Solutions Private Limited','ShipDelight','Shipease','Shipmozo','Shippigo','Shiprocket FM Express','Shiprocket Glowroad','Shiprocket_OTP','Shiprocket_PPD','Shipstreak','Shipway','Shipway Fashion','Shipyaari','Shirt Burry','Shopdeck','Shopingcart Retail Service','ShoppersStop','SHYPBUDDY INDIA PRIVATE LIMITED','Snapdeal','Snapdeal_DSQC','Snapdeal_marketplace','SquareBag','SRI KAMADHENU MILK CENTER','Sugar Cosmetics','Super Bottoms','Supertails express','TATACliQ','TCNS','teststore_sfx','The Collective','TheAlternate','Trendin','Trumeds express','Truweight Wellness Pvt. Ltd.','Urbanic','VISHARO','WareIQ','Wellness Forever Express','White Brands','Wiom','Yolojet','YOTTACTO','Zivame']
base_df['FWD '+'Other']=base_df.apply(get_flag_for_clients,clients=list(client_other),flag_type='delivery',axis=1)
base_df['REV '+'Other']=base_df.apply(get_flag_for_clients,clients=list(client_other),flag_type='pickup',axis=1)

In [755]:
# def other_clients_flag(row, clients, flag_type):
#     client_keywords = [flag_type + ' ' + keyword for keyword in clients]
#     serviceability_key = flag_type + ' Serviceability'
    
#     serviceability = row.get(serviceability_key)
#     if serviceability == 'No':
#         return 'No'
    
#     for keyword in client_keywords:
#         if row.get(keyword) == 'Yes':
#             return 'No'
    
#     return 'Yes'

# clients = ['FTPL', 'AJIO', 'FK']

# base_df['FWD Other'] = base_df.apply(lambda row: other_clients_flag(row, clients, flag_type='FWD'), axis=1)
# base_df['REV Other'] = base_df.apply(lambda row: other_clients_flag(row, clients, flag_type='REV'), axis=1)

In [756]:
base_df['FWD Other'][(base_df['FWD Serviceability']=='Yes')& (base_df['FWD FTPL']=='No') & (base_df['FWD AJIO']=='No') & (base_df['FWD FK']=='No')]='Yes'
base_df['REV Other'][(base_df['REV Serviceability']=='Yes')& (base_df['REV FTPL']=='No') & (base_df['REV AJIO']=='No') & (base_df['REV FK']=='No')]='Yes'

In [757]:
base_df['RTS']='NO'
base_df['RTS'][base_df['Service'].isin(['LM, RTS','LM, FM, RTS'])]='Yes'
base_df['FM']='NO'
base_df['FM'][base_df['Service'].isin(['LM,FM','LM, FM, RTS'])]='Yes'
base_df['LM-FM-RTS']='NO'
base_df['LM-FM-RTS'][base_df['Service']=='LM, FM, RTS']='Yes'

In [758]:
Meesho_orders=Meesho_orders.merge(base_df[['Pincode', 'Remarks','FWD Serviceability', 'REV Serviceability',
                             'FWD FTPL', 'REV FTPL', 'FWD AJIO','REV AJIO', 'FWD FK', 'REV FK', 
                             'FWD Other', 'REV Other','RTS','FM','LM-FM-RTS']],on='Pincode',how='left')

In [759]:
def GET_Total_Pincode_grouped_df(data,group_by_para='State'):
    India_Post_grouped_df=data.groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    India_Post_grouped_df = pd.concat([India_Post_grouped_df, grand_total_row]).reset_index(drop=True)
    India_Post_grouped_df.rename(columns={'Pincode':'Total Pincode'},inplace=True)
    return India_Post_grouped_df

In [760]:
def SFX_Pincode_Coverage(data,group_by_para='State',col='FWD Serviceability',type=None):
    grouped_df_state = data[data[col]=='Yes'].groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data[data[col]=='Yes']['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    grouped_df_state = pd.concat([grouped_df_state, grand_total_row]).reset_index(drop=True)
    grouped_df_state.rename(columns={'Pincode':'SFX Pincode Coverage'},inplace=True)
    return grouped_df_state

In [761]:
def GET_India_Post_grouped_df(data,group_by_para='State'):
    India_Post_grouped_df=data[data['India Post Flag']=='Yes'].groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data[data['India Post Flag']=='Yes']['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    India_Post_grouped_df = pd.concat([India_Post_grouped_df, grand_total_row]).reset_index(drop=True)
    India_Post_grouped_df.rename(columns={'Pincode':'India Post Pincode'},inplace=True)
    return India_Post_grouped_df

In [762]:
def GET_SFX_India_Post_Pincode(data,group_by_para='State',col='Servicable'):
    SFX_India_Post_grouped_df=data[(data['India Post Flag']=='Yes')&(data[col]=='Yes')].groupby([group_by_para])['Pincode'].nunique().reset_index()
    grand_total = data[(data['India Post Flag']=='Yes')&(data[col]=='Yes')]['Pincode'].nunique()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    SFX_India_Post_grouped_df
    SFX_India_Post_grouped_df = pd.concat([SFX_India_Post_grouped_df, grand_total_row]).reset_index(drop=True)
    SFX_India_Post_grouped_df.rename(columns={'Pincode':'SFX India Post Pincode'},inplace=True)
    return SFX_India_Post_grouped_df

In [763]:
def get_total_Volumn(data,group_by_para='State'):
    grouped_df = data.groupby(group_by_para)['Platform Orders'].sum().reset_index()
    grand_total = data['Platform Orders'].sum()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Platform Orders': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    Meesho_coverage = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    return Meesho_coverage
def GET_SFX_coverage(data,group_by_para,col): #group_by_para = 'State',col = 'Servicable'
    # SFX coverage-------------------
    grouped_df = data[data[col]=='Yes'].groupby(group_by_para)['Platform Orders'].sum().reset_index()
    grand_total = data[data[col]=='Yes']['Platform Orders'].sum()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Platform Orders': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    SFX_coverage = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    SFX_coverage.rename(columns={'Platform Orders':'SFX Platform Orders'},inplace=True)
    Meesho_coverage=get_total_Volumn(data,group_by_para)
    Meesho_coverage=Meesho_coverage.merge(SFX_coverage,on=group_by_para,how='left')
    Meesho_coverage['SFX Coverage%']=round(Meesho_coverage['SFX Platform Orders']/Meesho_coverage['Platform Orders']*100,2)
    return(Meesho_coverage)

In [764]:
def get_final_df(data=Meesho_orders,group_by_para='Region',client='Serviceability'):
    #-----------------FWD-----------------------------------------------------
    col='FWD '+ client
    Total_Pincode=GET_Total_Pincode_grouped_df(data,group_by_para)
    SFX_Pincode=SFX_Pincode_Coverage(data,group_by_para,col)
    final_df=Total_Pincode.merge(SFX_Pincode,how='outer',on=group_by_para)
    India_Post=GET_India_Post_grouped_df(data,group_by_para)
    final_df=final_df.merge(India_Post,how='outer',on=group_by_para)
    SFX_India_Post_Pincode=GET_SFX_India_Post_Pincode(data,group_by_para,col)
    final_df=final_df.merge(SFX_India_Post_Pincode,how='outer',on=group_by_para)
    SFX_coverage=GET_SFX_coverage(data,group_by_para,col)
    SFX_coverage=SFX_coverage[[group_by_para,'SFX Coverage%']]
    final_df=final_df.merge(SFX_coverage,how='outer',on=group_by_para)
    #--------------------Rev------------------------------------------------------------------------------------------
    col='REV '+ client
    SFX_Pincode=SFX_Pincode_Coverage(data,group_by_para,col)
    SFX_India_Post_Pincode=GET_SFX_India_Post_Pincode(data,group_by_para,col)
    rev_final_df=SFX_Pincode.merge(SFX_India_Post_Pincode,how='outer',on=group_by_para)
    
    SFX_coverage=GET_SFX_coverage(data,group_by_para,col)
    SFX_coverage=SFX_coverage[[group_by_para,'SFX Coverage%']]
    rev_final_df=rev_final_df.merge(SFX_coverage,how='outer',on=group_by_para)
    rev_final_df.rename(columns={'SFX Pincode Coverage':'SFX Rev Pincode Coverage',
                             'SFX India Post Pincode':'SFX Rev India Post Pincode',
                             'SFX Coverage%':'SFX Rev Coverage%'},inplace=True)
    final_df=final_df.merge(rev_final_df,how='outer',on=group_by_para)
    #-----------------------------------delta---------------------------------------------
    final_df['SFX Rev Pincode Delta']=final_df['SFX Pincode Coverage']-final_df['SFX Rev Pincode Coverage']
    final_df['SFX Rev Coverage Delta%']=final_df['SFX Coverage%']-final_df['SFX Rev Coverage%']
    final_df.sort_values(by='SFX Pincode Coverage',ascending=False,inplace=True)
    #---------------------------------------Meesho Coverage--------------------------------------------------------------
    if client=='Serviceability':
        meesho_coverage=GET_SFX_coverage(data,group_by_para,'FWD FTPL')
        meesho_coverage.rename(columns={'SFX Coverage%':'FWD Meesho Coverage%'},inplace=True)
        meesho_coverage=meesho_coverage[[group_by_para,'FWD Meesho Coverage%']]
        final_df=final_df.merge(meesho_coverage,how='outer',on=group_by_para)
        
        meesho_coverage=GET_SFX_coverage(data,group_by_para,'REV FTPL')
        meesho_coverage.rename(columns={'SFX Coverage%':'REV Meesho Coverage%'},inplace=True)
        meesho_coverage=meesho_coverage[[group_by_para,'REV Meesho Coverage%']]
        final_df=final_df.merge(meesho_coverage,how='outer',on=group_by_para)
        final_df['Meesho Fwd % Delta']=final_df['SFX Coverage%']-final_df['FWD Meesho Coverage%']
        final_df['Meesho Rev % Delta']=final_df['SFX Coverage%']-final_df['REV Meesho Coverage%']
    

    #---------------- Formatting for thousands separator---------------------------------------------
    final_df.fillna(0,inplace=True)
    format_thousands = lambda x: '{:,.0f}'.format(x)
    numeric_columns = ['Total Pincode', 'SFX Pincode Coverage', 'India Post Pincode', 'SFX India Post Pincode',
                           'SFX Rev Pincode Coverage','SFX Rev India Post Pincode','SFX Rev Pincode Delta']   
    final_df[numeric_columns] = final_df[numeric_columns].applymap(format_thousands)
    #-----------------------format_persentage--------------------------------------------
    format_percentage = lambda x: '{:.2f}%'.format(x)
    if client=='Serviceability':
        columns=['SFX Coverage%','SFX Rev Coverage%','SFX Rev Coverage Delta%','FWD Meesho Coverage%',
                 'REV Meesho Coverage%','Meesho Fwd % Delta','Meesho Rev % Delta']
    else:
        columns=['SFX Coverage%','SFX Rev Coverage%','SFX Rev Coverage Delta%']
    final_df[columns] = final_df[columns].applymap(format_percentage)
    
    return final_df

In [765]:
def summary(data=Meesho_orders,group_by_para='Region',client='Serviceability'):
    new=get_final_df(data,group_by_para,client)
    new=new[[group_by_para,'SFX Pincode Coverage','SFX Coverage%','Meesho Fwd % Delta']]
    new.rename(columns={'SFX Pincode Coverage':'Active Pincodes','SFX Coverage%':'Volume Coverage%','Meesho Fwd % Delta':'Meesho Deactivated Volume Coverage%'},inplace=True)
    return new

In [766]:
Region=summary(data=Meesho_orders,group_by_para='Region',client='Serviceability')
POD=summary(data=Meesho_orders,group_by_para='POD',client='Serviceability')
State=summary(data=Meesho_orders,group_by_para='State',client='Serviceability')

In [767]:
def client_summary(cl):
    ndata=get_final_df(group_by_para='Region',client=cl)
    ndata=ndata[ndata['Region']=='Overall']
    ndata['Region']=ndata['Region'].str.replace('Overall', cl)
    return ndata

In [768]:
# Define a lambda function to format numbers in the thousands format
l=['Serviceability','FTPL','FK','AJIO','Other']
data=pd.DataFrame()
for i in l:
    new_data=client_summary(i)
    data=pd.concat([data,new_data])
data['Region'].replace({'Serviceability':'Overall'},inplace=True)

In [769]:
base_df=base_df[['Hub', 'Pincode','Service', 'Payment Category', 'City', 'Remarks',
       'POD', 'State', 'Region','Client Serviceability', 'FWD Serviceability', 
        'REV Serviceability','FWD FTPL', 'REV FTPL', 'FWD AJIO',
       'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other']]

In [770]:
base_df.to_csv(r'serviceabilty_data.csv')

In [771]:
deactivated_in_last_30_day.sort_values(by='deactivation_date',ascending=False,inplace=True)
deactivated_in_last_30_day.drop_duplicates(subset=['Pincode','request_type'],inplace=True)
deactivated_in_last_30_day_g=deactivated_in_last_30_day.groupby(['Pincode'])['request_type'].agg(lambda x: ', '.join(x)).reset_index()
deactivated_in_last_30_day_g['Deactivatin_Remarks']=deactivated_in_last_30_day_g.apply(classify_request,axis=1)
deactivated_in_last_30_day_min=deactivated_in_last_30_day.groupby(['Pincode'])['deactivation_date'].agg(lambda x: min(x)).reset_index()
deactivated_in_last_30_day_g['deactivated_in_last_30_day']='Yes'
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(deactivated_in_last_30_day_min,on='Pincode',how='left')

In [772]:
hub=deactivated_in_last_30_day[['Pincode','Hub']]
hub.drop_duplicates(subset=['Pincode','Hub'],inplace=True)

In [773]:
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(base_df,on='Pincode',how='left')
deactivated_in_last_30_day_g['Deactivatin_Remarks'][deactivated_in_last_30_day_g['Remarks'].isna()]='All'
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[~(deactivated_in_last_30_day_g['Deactivatin_Remarks']==deactivated_in_last_30_day_g['Remarks'])]
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[deactivated_in_last_30_day_g['Remarks']!='Serviceable']
deactivated_in_last_30_day_g['Deactivatin_Remarks'][deactivated_in_last_30_day_g['Remarks']=='Forward Only']='Reverse Only'
deactivated_in_last_30_day_g['Deactivatin_Remarks'][deactivated_in_last_30_day_g['Remarks']=='Reverse Only']='Forward Only'
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[['deactivation_date','Pincode','Deactivatin_Remarks']]

In [774]:
def get_client_wise_deactivation_30_day():
    query='''select date(a.modified+interval 330 minute) as deactivation_date,
            null as hub,
            p.code as Pincode, 
            a.service_type as request_type,
            a.service as service,
            null as payment_category,
            c.name as client
            from data-warehousing-391512.ecommerce.admin_mapping_pincodeclientserviceability a
            left join data-warehousing-391512.ecommerce.ecommerce_pincode p on p.id=a.pincode_id 
            left join data-warehousing-391512.ecommerce.ecommerce_client c on c.id=a.client_id 
            where a.modified >current_date()-interval 30 day -interval 330 minute
            and a.service='regular' and a.expiry>current_date("Asia/Kolkata") '''
    return client.query(query).to_dataframe()

In [775]:
client_wise_deactivation_30_day=get_client_wise_deactivation_30_day()
client_wise_deactivation_30_day.sort_values(by='deactivation_date',ascending=False,inplace=True)
client_wise_deactivation_30_day.drop_duplicates(subset=['Pincode','request_type','client'],inplace=True)
client_wise_deactivation_30_day['client_wise_deactivation']=client_wise_deactivation_30_day['client']+'-'+client_wise_deactivation_30_day['request_type']
deactivated_in_last_30_day_min=client_wise_deactivation_30_day.groupby(['Pincode'])['deactivation_date'].agg(lambda x: min(x)).reset_index()
client_wise_deactivated_in_last_30_day_g = client_wise_deactivation_30_day.groupby(['Pincode'])['client_wise_deactivation'].agg(lambda x: ', '.join(x)).reset_index()
client_wise_deactivated_in_last_30_day_g = deactivated_in_last_30_day_min.merge(client_wise_deactivated_in_last_30_day_g,on='Pincode',how='left')
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g.merge(base_df,on='Pincode',how='left')
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[~client_wise_deactivated_in_last_30_day_g['Client Serviceability'].isin(['All'])]
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[~client_wise_deactivated_in_last_30_day_g['Client Serviceability'].isna()]
#client_wise_deactivated_in_last_30_day_g['Client Serviceability']=client_wise_deactivated_in_last_30_day_g['Client Serviceability'].str.replace('Except ','')
#client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[['Pincode','deactivation_date','Client Serviceability']]
#client_wise_deactivated_in_last_30_day_g.rename(columns={'Client Serviceability':'Client Wise Deactivation'},inplace=True)
# --------------------changes---------

client_wise_deactivated_in_last_30_day_g.rename(columns={'client_wise_deactivation':'Client Wise Deactivation'},inplace=True)
client_wise_deactivated_in_last_30_day_g=client_wise_deactivated_in_last_30_day_g[['Pincode','deactivation_date','Client Wise Deactivation']]

deactivated_in_last_30_day_g.rename(columns={'Deactivatin_Remarks':'Client Wise Deactivation'},inplace=True)
deactivated_in_last_30_day_g=pd.concat([deactivated_in_last_30_day_g,client_wise_deactivated_in_last_30_day_g])
deactivated_in_last_30_day_min=deactivated_in_last_30_day_g.groupby(['Pincode'])['deactivation_date'].agg(lambda x: min(x)).reset_index()
deactivated_in_last_30_day_g = deactivated_in_last_30_day_g.groupby(['Pincode'])['Client Wise Deactivation'].agg(lambda x: ', '.join(x)).reset_index()
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(deactivated_in_last_30_day_min,on='Pincode',how='left')
deactivated_in_last_30_day_g['deactivation_date'] = pd.to_datetime(deactivated_in_last_30_day_g['deactivation_date'])
deactivated_in_last_30_day_g['Deactivation_Age'] = (pd.Timestamp.now().normalize() - deactivated_in_last_30_day_g['deactivation_date']).dt.days
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(base_df[['Hub','Pincode','City','POD','State','Region']],on='Pincode',how='left')
deactivated_in_last_30_day_g1=deactivated_in_last_30_day_g[deactivated_in_last_30_day_g['Hub'].isna()]
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[~deactivated_in_last_30_day_g['Hub'].isna()]
deactivated_in_last_30_day_g1=deactivated_in_last_30_day_g1[['Pincode', 'Client Wise Deactivation', 'deactivation_date','Deactivation_Age']].merge(hub,on='Pincode',how='left')
deactivated_in_last_30_day_g1=deactivated_in_last_30_day_g1.merge(Meesho_orders[['Pincode','POD','State','Region','Meesho City']],on='Pincode',how='left')
deactivated_in_last_30_day_g1.rename(columns={'Meesho City':'City'},inplace=True)
deactivated_in_last_30_day_g=pd.concat([deactivated_in_last_30_day_g,deactivated_in_last_30_day_g1])
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(Meesho_orders[['Pincode','Platform Orders']],on='Pincode',how='left')
deactivated_in_last_30_day_g

,Pincode,Client Wise Deactivation,deactivation_date,Deactivation_Age,Hub,City,POD,State,Region,Platform Orders
0,110001,"Hammer-delivery, Hammer-pickup, FYND-pickup, p...",2025-05-01,19,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,976.0
1,110002,"Clovia-pickup, Mensa Brands-pickup, NOBERO-pic...",2025-05-01,19,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,662.0
2,110004,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-16,4,DEL_KarolBagh,Delhi,POD_NCR,Delhi,NaN,40.0
3,110006,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-01,19,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,1786.0
4,110010,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-09,11,DEL_Bijwasan,Delhi,POD_NCR,Delhi,NaN,903.0
...,...,...,...,...,...,...,...,...,...,...
17841,854108,"Shiprocket_SDD-pickup, Shiprocket FM Express-p...",2025-05-02,18,NaN,Falka,POD_BH/JH,Bihar,North,363.0
17842,854114,"Shiprocket FM Express-pickup, Kartrocket Gifti...",2025-05-02,18,NaN,Falka,POD_BH/JH,Bihar,North,345.0
17843,854303,All,2025-04-28,22,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,401.0
17844,854304,All,2025-04-28,22,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,604.0
17845,854325,"Kartrocket Fashion WH-pickup, Savana Surface-p...",2025-05-02,18,NaN,Araria,POD_BH/JH,Bihar,North,335.0

In [776]:
def GET_deactivation_coverage(data,group_by_para,col): #group_by_para = 'State',col = 'Overall'
    # SFX coverage-------------------
    grouped_df = data[data[col]=='Yes'].groupby(group_by_para)['Platform Orders'].sum().reset_index()
    grand_total = data[data[col]=='Yes']['Platform Orders'].sum()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Platform Orders': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    coverage = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    return coverage

In [777]:
def GET_deactivation_pincode(data,group_by_para,col): #group_by_para = 'State',col = 'Overall'
    # SFX coverage-------------------
    grouped_df = data[data[col]=='Yes'].groupby(group_by_para)['Pincode'].count().reset_index()
    grand_total = data[data[col]=='Yes']['Pincode'].count()
    grand_total_row = pd.DataFrame({
        group_by_para: ['Overall'],
        'Pincode': [grand_total]
    })
    # Append grand total row to the grouped DataFrame
    deactivation_pincode = pd.concat([grouped_df, grand_total_row]).reset_index(drop=True)
    return deactivation_pincode

In [778]:
def get_deactivation_coverage(df,group_by_para,col):
    totalVol=get_total_Volumn(Meesho_orders,group_by_para)
    deact_Vol=GET_deactivation_coverage(df,group_by_para,col)
    deact_Vol.rename(columns={'Platform Orders':'Deactivation Platform Orders'},inplace=True)
    totalVol=totalVol.merge(deact_Vol, on=group_by_para,how='left')
    deactivation_pincode=GET_deactivation_pincode(df,group_by_para,col)
    totalVol=totalVol.merge(deactivation_pincode, on=group_by_para,how='left')
    totalVol=totalVol.fillna(0)
    format_percentage = lambda x: '{:.2f}%'.format(x)
    totalVol['Deactivation Vol %'] = round((totalVol['Deactivation Platform Orders'] / totalVol['Platform Orders']) * 100, 2).apply(format_percentage)
    totalVol['Pincode']=totalVol['Pincode'].astype(int)
    return totalVol

In [779]:
def deactivation_summary(df,group_by_para,col):
    d1_reginal_deactivation_coverage=get_deactivation_coverage(df[df['Deactivation_Age'].isin([0, 1])],group_by_para,col)
    d1_reginal_deactivation_coverage.rename(columns={'Deactivation Vol %':'D-1 Deactivated Volume Coverage% (Live)','Pincode':'D-1 Deactivated Pincode (Live)'},inplace=True)
    reginal_deactivation_coverage=get_deactivation_coverage(df,group_by_para,col)
    reginal_deactivation_coverage.rename(columns={'Deactivation Vol %':'D-30 Deactivated Volume Coverage% (Live)','Pincode':'D-30 Deactivated Pincode (Live)'},inplace=True)
    reginal_deactivation_coverage=reginal_deactivation_coverage.merge(d1_reginal_deactivation_coverage,on=group_by_para,how='left')
    reginal_deactivation_coverage=reginal_deactivation_coverage[[group_by_para,'D-1 Deactivated Pincode (Live)','D-1 Deactivated Volume Coverage% (Live)','D-30 Deactivated Pincode (Live)','D-30 Deactivated Volume Coverage% (Live)']]
    return reginal_deactivation_coverage

In [780]:
deactivated_in_last_30_day_g['Overall']='Yes'
region_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='Overall')
pod_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='POD',col='Overall')
state_wise_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='State',col='Overall')

In [781]:
def get_flag_for_clients(data,clients,flag_type):
    client_keywords = clients
    client_keywords = [keyword + '-' + flag_type for keyword in client_keywords]
    
    # Client Serviceability
    Client_Serviceability=data.get('Client Wise Deactivation')
    # Seviceability type
    flag='No'
    if Client_Serviceability=='All':
        return 'Yes'
    if flag_type=='delivery':
        client_keywords.append('Forward Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    if flag_type=='pickup':
        client_keywords.append('Reverse Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    return flag

In [782]:
def get_flag_for_type(data,flag_type):
    client_keywords = []
    Client_Serviceability=data.get('Client Wise Deactivation')
    # Seviceability type
    flag='No'
    if Client_Serviceability=='All':
        return 'Yes'
    if flag_type=='delivery':
        client_keywords.append('Forward Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    if flag_type=='pickup':
        client_keywords.append('Reverse Only')
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    return flag

In [783]:
client_list=['FTPL','AJIO']
for i in client_list:
    deactivated_in_last_30_day_g['FWD '+i]=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=[i],flag_type='delivery',axis=1)
    deactivated_in_last_30_day_g['REV '+i]=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=[i],flag_type='pickup',axis=1)
deactivated_in_last_30_day_g['FWD '+'FK']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='delivery',axis=1)
deactivated_in_last_30_day_g['REV '+'FK']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='pickup',axis=1)
#--------------- Other-------------------------------------------
client_other=deactivated_client_name.difference(set(['FTPL','AJIO','Flipkart MH Handover','Flipkart Internet E2E','All']))
deactivated_in_last_30_day_g['FWD '+'Other']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=list(client_other),flag_type='delivery',axis=1)
deactivated_in_last_30_day_g['REV '+'Other']=deactivated_in_last_30_day_g.apply(get_flag_for_clients,clients=list(client_other),flag_type='pickup',axis=1)
deactivated_in_last_30_day_g['FWD']=deactivated_in_last_30_day_g.apply(get_flag_for_type,flag_type='delivery',axis=1)
deactivated_in_last_30_day_g['REV']=deactivated_in_last_30_day_g.apply(get_flag_for_type,flag_type='pickup',axis=1)

In [784]:
deactivated_in_last_30_day_g['Overall']='No'
deactivated_in_last_30_day_g['Overall'][deactivated_in_last_30_day_g['Client Wise Deactivation']=='All']='Yes'

In [785]:
Region=Region.merge(region_wise_deactivation_summary,on='Region',how='left')
Region.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='Overall')
all_deact.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
Region=Region.merge(all_deact,how='left', on='Region')
Region=Region.replace('nan%','0.00%')

In [786]:
Region=Region[['Region', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
Region

,Region,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,East,"4,002",78.90%,5.12%,0,0.00%,4,0.03%,2,0.20%,4015,72.84%
1,North,"1,140",80.46%,14.55%,0,0.00%,14,0.58%,0,0.00%,1201,83.86%
2,Overall,"17,610",84.92%,11.36%,0,0.00%,41,0.12%,121,2.19%,17846,79.75%
3,South,"5,567",86.89%,12.85%,0,0.00%,14,0.13%,55,4.75%,5692,83.07%
4,West,"3,437",82.60%,18.59%,0,0.00%,0,0.00%,45,3.73%,3501,81.89%

In [787]:
POD=POD.merge(pod_wise_deactivation_summary,on='POD',how='left')
POD.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='POD',col='Overall')
all_deact.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
POD=POD.merge(all_deact,how='left', on='POD')
POD=POD.replace('nan%','0.00%')

In [788]:
POD=POD[['POD', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
POD

,POD,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,Defunct,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
1,Overall,"17,610",84.92%,11.36%,0,0.00%,41,0.12%,121,2.19%,17846,79.75%
2,POD_AP/TS,"1,461",86.54%,5.93%,0,0.00%,0,0.00%,1,0.39%,1410,71.13%
3,POD_BH/JH,"1,140",80.46%,14.55%,0,0.00%,14,0.58%,0,0.00%,1201,83.86%
4,POD_BLR,158,97.24%,18.10%,0,0.00%,0,0.00%,35,22.24%,125,66.72%
5,POD_BOM/PNQ,308,99.64%,36.22%,0,0.00%,0,0.00%,38,16.82%,288,91.05%
6,POD_CCU/ROWB,"1,194",89.26%,2.72%,0,0.00%,2,0.07%,1,0.21%,1084,72.73%
7,POD_CG/OD,875,75.24%,6.16%,0,0.00%,2,0.06%,0,0.00%,924,78.62%
8,POD_CHN,199,98.95%,26.07%,0,0.00%,0,0.00%,20,12.95%,176,86.75%
9,POD_GJ,"1,003",87.38%,20.10%,0,0.00%,0,0.00%,2,0.22%,1019,88.76%
10,POD_JK/HP/HR/PB,"1,275",81.16%,7.33%,0,0.00%,9,0.67%,6,0.00%,1350,85.12%
11,POD_MP/RJ,"1,295",78.55%,10.62%,0,0.00%,0,0.00%,5,1.27%,1316,78.85%
12,POD_NCR,278,99.10%,11.75%,0,0.00%,0,0.00%,11,5.81%,190,46.22%
13,POD_NE,472,54.45%,4.76%,0,0.00%,0,0.00%,0,0.00%,597,69.38%
14,POD_ROK/KL,"2,713",78.64%,11.49%,0,0.00%,14,0.28%,0,0.00%,2839,82.20%
15,POD_ROMH,831,72.65%,17.23%,0,0.00%,0,0.00%,0,0.00%,878,75.02%
16,POD_ROTN,"2,497",89.76%,7.16%,0,0.00%,0,0.00%,0,0.00%,2552,91.41%
17,POD_UK/UP,"1,911",95.02%,9.20%,0,0.00%,0,0.00%,2,1.11%,1885,91.11%

In [789]:
State=State.merge(state_wise_deactivation_summary,on='State',how='left')
State.rename(columns={'Active Pincodes':'Act Pins',
                       'Volume Coverage%':'Vol Cov%',
                       'Meesho Deactivated Volume Coverage%':'Meesho Deact Pins Vol Cov%',
                       'D-1 Deactivated Pincode (Live)':'D-1 Deact [alteast one client] Pins (Live)',
                       'D-30 Deactivated Pincode (Live)':'D-30 Deact [alteast one client] Pins (Live)',
                       'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [alteast one client] Vol Cov (Live)',
                       'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [alteast one client] Vol Cov (Live)'},inplace=True)
all_deact=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='State',col='Overall')
all_deact.rename(columns={'D-1 Deactivated Pincode (Live)':'D-1 Deact [All client] Pins (Live)',
'D-30 Deactivated Pincode (Live)':'D-30 Deact [All client] Pins (Live)',
'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact [All client] Vol Cov (Live)',
'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact [All client] Vol Cov (Live)'},inplace=True)
State=State.merge(all_deact,how='left', on='State')
State=State.replace('nan%','0.00%')

In [790]:
State=State[['State', 'Act Pins', 'Vol Cov%', 'Meesho Deact Pins Vol Cov%',
       'D-1 Deact [All client] Pins (Live)',
       'D-1 Deact [All client] Vol Cov (Live)',
       'D-30 Deact [All client] Pins (Live)',
       'D-30 Deact [All client] Vol Cov (Live)',
        'D-1 Deact [alteast one client] Pins (Live)',
       'D-1 Deact [alteast one client] Vol Cov (Live)',
       'D-30 Deact [alteast one client] Pins (Live)',
       'D-30 Deact [alteast one client] Vol Cov (Live)']]
State

,State,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
0,Andaman And Nicobar,8,97.40%,84.16%,0,0.00%,0,0.00%,0,0.00%,8,97.40%
1,Andhra Pradesh,883,83.37%,4.52%,0,0.00%,0,0.00%,0,0.00%,890,83.76%
2,Arunachal Pradesh,3,12.21%,0.00%,0,0.00%,0,0.00%,0,0.00%,7,26.10%
3,Assam,330,55.69%,4.16%,0,0.00%,0,0.00%,0,0.00%,427,74.22%
4,Bihar,865,83.74%,15.17%,0,0.00%,4,0.54%,0,0.00%,891,86.03%
5,Chandigarh,86,87.53%,1.68%,0,0.00%,0,0.00%,0,0.00%,88,94.22%
6,Chhattisgarh,220,77.69%,11.38%,0,0.00%,0,0.00%,0,0.00%,232,80.07%
7,Defunct,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
8,Delhi,151,99.98%,9.18%,0,0.00%,0,0.00%,5,4.57%,95,41.87%
9,Goa,82,84.90%,17.00%,0,0.00%,0,0.00%,0,0.00%,82,84.90%
10,Gujarat,"1,003",87.38%,20.10%,0,0.00%,0,0.00%,2,0.22%,1019,88.76%
11,Haryana,406,87.06%,11.50%,0,0.00%,0,0.00%,4,1.74%,392,62.99%
12,Himachal Pradesh,168,60.72%,0.34%,0,0.00%,0,0.00%,0,0.00%,168,60.72%
13,Jammu & Kashmir,158,72.67%,6.83%,0,0.00%,8,4.66%,0,0.00%,174,83.17%
14,Jammu And Kashmir,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
15,Jharkhand,279,71.91%,12.81%,0,0.00%,10,0.67%,0,0.00%,314,78.22%
16,Karnataka,"1,246",82.05%,13.25%,0,0.00%,12,0.23%,35,8.33%,1288,73.03%
17,Kerala,"1,535",85.05%,8.57%,0,0.00%,2,0.19%,0,0.00%,1586,88.74%
18,Lakshadweep,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%
19,Madhya Pradesh,660,83.77%,6.18%,0,0.00%,0,0.00%,0,0.00%,677,85.25%
20,Maharashtra,"1,138",84.63%,25.68%,0,0.00%,0,0.00%,38,7.47%,1165,82.13%
21,Manipur,23,64.94%,4.05%,0,0.00%,0,0.00%,0,0.00%,25,67.60%
22,Meghalaya,25,44.43%,0.00%,0,0.00%,0,0.00%,0,0.00%,28,48.67%
23,Mizoram,8,27.33%,8.76%,0,0.00%,0,0.00%,0,0.00%,8,27.33%
24,Nagaland,20,70.62%,0.00%,0,0.00%,0,0.00%,0,0.00%,24,78.01%
25,Odisha,662,73.75%,2.58%,0,0.00%,2,0.11%,0,0.00%,699,77.79%
26,Overall,"17,610",84.92%,11.36%,0,0.00%,41,0.12%,121,2.19%,17846,79.75%
27,Puducherry,40,92.61%,2.44%,0,0.00%,0,0.00%,0,0.00%,41,95.82%
28,Punjab,532,89.45%,4.60%,0,0.00%,1,0.10%,5,0.00%,583,93.67%
29,Rajasthan,635,73.63%,14.78%,0,0.00%,0,0.00%,5,2.46%,639,72.83%
30,Sikkim,6,52.68%,34.34%,0,0.00%,0,0.00%,0,0.00%,12,85.90%
31,Tamil Nadu,"2,656",92.31%,12.66%,0,0.00%,0,0.00%,20,3.70%,2687,89.97%
32,Telangana,578,89.70%,7.34%,0,0.00%,0,0.00%,1,0.78%,520,58.58%
33,Tripura,58,73.24%,9.14%,0,0.00%,0,0.00%,0,0.00%,71,88.36%
34,Uttar Pradesh,"1,805",95.92%,11.34%,0,0.00%,0,0.00%,5,1.93%,1767,89.63%
35,Uttarakhand,158,90.45%,1.53%,0,0.00%,0,0.00%,0,0.00%,158,90.45%
36,West Bengal,"1,183",89.59%,2.64%,0,0.00%,2,0.07%,1,0.21%,1069,72.40%

In [791]:
def get_raw_data2():
    query='''select distinct base.*, city.name as City
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.service='regular' 
            and base.report_date>=current_date() - interval 1 day
            and base.pincode>109999
            and base.hub  not like '%_ADM%'
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub) not like '%_fm'
            and lower(base.hub) not like '%_rts'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and lower(base.hub) not like '%_fm_%'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_oc_s%'
            and lower(base.hub)  not like '%_oc'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe().drop_duplicates()
    return raw_df

In [792]:
data_for_activaion=get_raw_data2()

In [793]:
data_for_activaion.report_date.unique()

<DateArray>
[datetime.date(2025, 5, 19), datetime.date(2025, 5, 20)]
Length: 2, dtype: dbdate

In [794]:
data_for_activaion['id']=data_for_activaion['request_type']+data_for_activaion['pincode'].astype(str)

In [795]:
data_for_activaion=data_for_activaion.drop_duplicates()

In [796]:
today=data_for_activaion[data_for_activaion.report_date==datetime.today().date()]
yesterday=data_for_activaion[data_for_activaion.report_date==(datetime.today()-timedelta(1)).date()]

In [797]:
data_for_activaion

,report_date,hub,pincode,request_type,service,payment_category,deactivated_client_name,City,id
0,2025-05-19,DEL_YamunaVihar,110053,delivery,regular,1,Meesho Heavy,Delhi,delivery110053
1,2025-05-19,HDL_HodalRD_SCC,121106,delivery,regular,1,Paapos,Hodal,delivery121106
2,2025-05-19,HDL_HodalRD_SCC,121106,delivery,regular,1,Kartrocket Fashion WH,Hodal,delivery121106
3,2025-05-19,JHJ_Bahadurgarh_SCC,124105,delivery,regular,6,SquareBag,Jhajjar,delivery124105
4,2025-05-19,JHJ_Bahadurgarh_SCC,124504,delivery,regular,5,Nykaa Fashion,Jhajjar,delivery124504
...,...,...,...,...,...,...,...,...,...
802370,2025-05-20,BGS_GarhpuraSK_SCC,851110,pickup,regular,1,Nykaa_N,Begusarai,pickup851110
802371,2025-05-20,BGS_GarhpuraSK_SCC,851139,pickup,regular,1,Minimalist,Begusarai,pickup851139
802372,2025-05-20,BG_MaheshkhuntSR_SCC,851213,pickup,regular,6,MyDesignation,Maheshkhut,pickup851213
802373,2025-05-20,KHG_Khagariya_TH,851214,pickup,regular,5,Nykaa_N,Begusarai,pickup851214
802374,2025-05-20,KHG_Khagariya_TH,851214,pickup,regular,5,INNERELLA,Begusarai,pickup851214

In [798]:
yesterday

,report_date,hub,pincode,request_type,service,payment_category,deactivated_client_name,City,id
0,2025-05-19,DEL_YamunaVihar,110053,delivery,regular,1,Meesho Heavy,Delhi,delivery110053
1,2025-05-19,HDL_HodalRD_SCC,121106,delivery,regular,1,Paapos,Hodal,delivery121106
2,2025-05-19,HDL_HodalRD_SCC,121106,delivery,regular,1,Kartrocket Fashion WH,Hodal,delivery121106
3,2025-05-19,JHJ_Bahadurgarh_SCC,124105,delivery,regular,6,SquareBag,Jhajjar,delivery124105
4,2025-05-19,JHJ_Bahadurgarh_SCC,124504,delivery,regular,5,Nykaa Fashion,Jhajjar,delivery124504
...,...,...,...,...,...,...,...,...,...
801761,2025-05-19,KHG_Khagariya_TH,851214,pickup,regular,5,Hyugalife,Begusarai,pickup851214
801762,2025-05-19,KNE_Kishanganj,852147,pickup,regular,1,ICARRY,Kishanganj,pickup852147
801763,2025-05-19,BOE_Barsoi,855102,pickup,regular,3,Reliance digital,Barsoi,pickup855102
801764,2025-05-19,KNE_Kishanganj,855121,pickup,regular,1,Nykaa_mkt,Kishanganj,pickup855121
801765,2025-05-19,RPR_SichaicolonyRA_SCC,493881,pickup,regular,3,Kartrocket_Air,Raipur,pickup493881

In [799]:
yesterday['flag']=1
today=today.merge(yesterday[['id','flag']],on='id',how='left')
today=today[today['flag']!=1]
today=today[today['deactivated_client_name'].isna()]
today

Empty DataFrame
Columns: [report_date, hub, pincode, request_type, service, payment_category, deactivated_client_name, City, id, flag]
Index: []

In [800]:
data_for_activaion['id']=data_for_activaion['request_type']+data_for_activaion['pincode'].astype(str)+data_for_activaion['deactivated_client_name'].astype(str)
today1=data_for_activaion[data_for_activaion.report_date==datetime.today().date()]
yesterday=data_for_activaion[data_for_activaion.report_date==(datetime.today()-timedelta(1)).date()]

In [801]:
today1['flag1']=1

In [802]:
yesterday=yesterday.merge(today1[['flag1','id']],on='id',how='left')
yesterday=yesterday[yesterday['flag1']!=1]
yesterday=yesterday[~yesterday['deactivated_client_name'].isna()]

In [803]:
yesterday['id']=yesterday['hub']+yesterday['request_type']+yesterday['pincode'].astype(str)
today['id']=today['hub']+today['request_type']+today['pincode'].astype(str)
today['flag2']=1
yesterday=yesterday.merge(today[['id','flag2']],on='id',how='left')
yesterday=yesterday[yesterday['flag2']!=1]

In [804]:
today=today[['report_date', 'hub', 'pincode', 'request_type', 'service','payment_category', 'deactivated_client_name', 'City']]
yesterday=yesterday[['report_date', 'hub', 'pincode', 'request_type', 'service','payment_category', 'deactivated_client_name', 'City']]
D1_Activation=pd.concat([today,yesterday])

In [805]:
D1_Activation.rename(columns={'pincode':'Pincode'},inplace=True)

In [806]:
D1_Activation=D1_Activation.merge(base_df[['Pincode','Remarks']],on='Pincode',how='left')
D1_Activation=D1_Activation[~D1_Activation['Remarks'].isna()]
D1_Activation

,report_date,hub,Pincode,request_type,service,payment_category,deactivated_client_name,City,Remarks
0,2025-05-19,DWM_Darwha_SCC,445202,delivery,regular,2,FTPL,Darwha,Serviceable
1,2025-05-19,GMD_Kavaraipettai_SCC,601201,delivery,regular,1,FTPL,Gummudipoondi,Serviceable
2,2025-05-19,DIB_Niranjanpath_N,786010,delivery,regular,32,FTPL,Dibrugarh,Serviceable
3,2025-05-19,KNE_Kishanganj,855107,delivery,regular,6,FTPL,Kishanganj,Serviceable
4,2025-05-19,IXJ_RawalporaSF_SCC,190007,delivery,regular,2,FTPL,Chanapora,Serviceable
...,...,...,...,...,...,...,...,...,...
1214,2025-05-19,KPN_Bargur_SCC,635104,pickup,regular,1,Hammer,Bargur,Forward Only
1215,2025-05-19,BSP_ChakarbhathaAK_SCC,495220,delivery,regular,3,FTPL,Bilaspur,Serviceable
1216,2025-05-19,CHN_Ayyanavaram,600040,delivery,regular,8,FTPL,Chennai,Serviceable
1217,2025-05-19,MJ_Sojat_SCC,306114,delivery,regular,4,Reliance digital,Sojat,Serviceable
1218,2025-05-19,HYD_Chintalmet_SCC,500030,delivery,regular,1,Reliance digital,Hyderabad,Serviceable

In [807]:
D1_Activation['Payment Category'] = 'P' + D1_Activation['payment_category'].astype(str)

In [808]:
D1_Activation['client_wise_activation']=D1_Activation['deactivated_client_name']+'-'+D1_Activation['request_type']

In [809]:
main=D1_Activation[['hub','Pincode','Payment Category']]

In [810]:
D1_Activation['client_wise_activation']=D1_Activation['client_wise_activation'].fillna('All')
main.drop_duplicates(subset=['Pincode'],inplace=True)
grouped_df = D1_Activation.groupby(['Pincode'])['request_type'].agg(lambda x: ', '.join(x)).reset_index()

In [811]:
try:
    grouped_df['Remarks'] = grouped_df.apply(classify_request,axis=1)
except:
    grouped_df['Remarks'] = None
serviceability_remarks=grouped_df[['Pincode','Remarks']]
main=main.merge(serviceability_remarks,on='Pincode',how='left')

In [812]:
grouped_df = D1_Activation.groupby(['Pincode'])['client_wise_activation'].agg(lambda x: ', '.join(x)).reset_index()

In [813]:
try:
    grouped_df['Client Serviceability'] = grouped_df.apply(classify_client, axis=1)
except:
    grouped_df['Client Serviceability'] = None
grouped_df=grouped_df[['Pincode','Client Serviceability']]
main=main.merge(grouped_df,on='Pincode',how='left')
main['Remarks']=main['Remarks'].str.title()
main['Client Serviceability']=main['Client Serviceability'].str.replace('Except ','')
main['Client Serviceability']=main['Client Serviceability'].str.replace('All,','')
main['Client Serviceability']=main['Client Serviceability'].str.replace('All','')
main['Client Serviceability']=main['Client Serviceability'].fillna('All')
main['Client Serviceability']=main['Client Serviceability'].replace(' ','All')
main['Client Serviceability']=main['Client Serviceability'].replace('','All')

In [814]:
main['Overall']='No'
main['Overall'][(main['Remarks']=='Serviceable')&(main['Client Serviceability']=='All')]='Yes'
main['FWD']='No'
main['FWD'][((main['Remarks']=='Forward Only')&(main['Client Serviceability']=='All'))|(main['Overall']=='Yes')]='Yes'
main['REV']='No'
main['REV'][((main['Remarks']=='Reverse Only')&(main['Client Serviceability']=='All'))|(main['Overall']=='Yes')]='Yes'

In [815]:
def get_flag_for_clients_d1_serv(data,clients,flag_type):
    client_keywords = clients
    client_keywords = [keyword + '-' + flag_type for keyword in client_keywords]
    Remarks = data.get('Remarks')
    # Client Serviceability
    Client_Serviceability=data.get('Client Serviceability')
    # Seviceability type
    flag='No'
    if flag_type=='delivery':
        if Remarks in ('Forward Only','Serviceable') and Client_Serviceability=='All':
            flag='Yes'
    if flag_type=='pickup':
        if Remarks in ('Reverse Only','Serviceable') and Client_Serviceability=='All':
            flag='Yes'
    # checking client level
    if flag=='No':
        if any(i in Client_Serviceability for i in client_keywords):
            flag='Yes'
    return flag

In [816]:
main

,hub,Pincode,Payment Category,Remarks,Client Serviceability,Overall,FWD,REV
0,DWM_Darwha_SCC,445202,P2,Forward Only,FTPL-delivery,No,No,No
1,GMD_Kavaraipettai_SCC,601201,P1,Forward Only,FTPL-delivery,No,No,No
2,DIB_Niranjanpath_N,786010,P32,Forward Only,FTPL-delivery,No,No,No
3,KNE_Kishanganj,855107,P6,Forward Only,FTPL-delivery,No,No,No
4,IXJ_RawalporaSF_SCC,190007,P2,Forward Only,FTPL-delivery,No,No,No
...,...,...,...,...,...,...,...,...
1118,TVC_Vizhinjam,695020,P2,Forward Only,FTPL-delivery,No,No,No
1119,BSP_ChakarbhathaAK_SCC,495220,P3,Forward Only,FTPL-delivery,No,No,No
1120,CHN_Ayyanavaram,600040,P8,Forward Only,FTPL-delivery,No,No,No
1121,MJ_Sojat_SCC,306114,P4,Forward Only,Reliance digital-delivery,No,No,No
1122,HYD_Chintalmet_SCC,500030,P1,Forward Only,Reliance digital-delivery,No,No,No

In [817]:
client_list=['FTPL','AJIO']
for i in client_list:
    try:
        main['FWD '+i]=main.apply(get_flag_for_clients_d1_serv,clients=[i],flag_type='delivery',axis=1)
        main['REV '+i]=main.apply(get_flag_for_clients_d1_serv,clients=[i],flag_type='pickup',axis=1)
    except:
        main['FWD '+i]=None
        main['REV '+i]=None 
try:
    main['FWD '+'FK']=main.apply(get_flag_for_clients_d1_serv,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='delivery',axis=1)
    main['REV '+'FK']=main.apply(get_flag_for_clients_d1_serv,clients=['Flipkart MH Handover','Flipkart Internet E2E'],flag_type='pickup',axis=1)
    #--------------- Other-------------------------------------------
    client_other=deactivated_client_name.difference(set(['FTPL','AJIO','Flipkart MH Handover','Flipkart Internet E2E','All']))
    main['FWD '+'Other']=main.apply(get_flag_for_clients_d1_serv,clients=list(client_other),flag_type='delivery',axis=1)
    main['REV '+'Other']=main.apply(get_flag_for_clients_d1_serv,clients=list(client_other),flag_type='pickup',axis=1)
except:
    main['FWD '+'FK']=None
    main['REV '+'FK']=None
    #--------------- Other-------------------------------------------
    main['FWD '+'Other']=None
    main['REV '+'Other']=None

In [818]:
main=main.merge(Meesho_orders[['Pincode','POD','State','Region','Meesho City','Platform Orders']],on='Pincode',how='left')

In [819]:
fwd_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='FWD')
fwd_deactivation_summary=fwd_deactivation_summary[fwd_deactivation_summary['Region']=='Overall']
fwd_deactivation_summary['Region'].replace('Overall','FWD',inplace=True)
for i in ['FTPL','FK','AJIO','Other']:
    fwd_deactivation=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='FWD '+i)
    fwd_deactivation=fwd_deactivation[fwd_deactivation['Region']=='Overall']
    fwd_deactivation['Region'].replace('Overall',i,inplace=True)
    fwd_deactivation_summary=pd.concat([fwd_deactivation_summary,fwd_deactivation])
f=data[['Region','SFX Pincode Coverage','SFX Coverage%']]
f.rename(columns={'SFX Pincode Coverage':'Active Pincode','SFX Coverage%':'Volumn Coverage%'},inplace=True)
f=f.replace('Overall','FWD')
fwd_deactivation_summary=f.merge(fwd_deactivation_summary,on='Region',how='left')
fwd_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live)
0,FWD,"17,610",84.92%,0,0.00%,41,0.12%
1,FTPL,"16,536",73.56%,36,0.96%,1147,12.04%
2,FK,"16,432",80.21%,0,0.00%,545,2.76%
3,AJIO,"16,475",79.37%,0,0.00%,592,2.84%
4,Other,"2,635",17.54%,91,1.35%,17300,77.00%

In [820]:
fwd_d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='FWD')
fwd_d1_Activation_summary=fwd_d1_Activation_summary[fwd_d1_Activation_summary['Region']=='Overall']
fwd_d1_Activation_summary.replace('Overall','FWD',inplace=True)

for i in ['FTPL','FK','AJIO','Other']:
    fwd_d1_Activation=get_deactivation_coverage(main,group_by_para='Region',col='FWD '+i)
    fwd_d1_Activation=fwd_d1_Activation[fwd_d1_Activation['Region']=='Overall']
    fwd_d1_Activation['Region'].replace('Overall',i,inplace=True)
    fwd_d1_Activation_summary=pd.concat([fwd_d1_Activation_summary,fwd_d1_Activation])
fwd_d1_Activation_summary.rename(columns={'Pincode':'D-1 Activation','Deactivation Vol %':'D-1 Activation Vol %'},inplace=True)
fwd_deactivation_summary=fwd_deactivation_summary.merge(fwd_d1_Activation_summary[['Region','D-1 Activation','D-1 Activation Vol %']],on='Region',how='left')
fwd_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live),D-1 Activation,D-1 Activation Vol %
0,FWD,"17,610",84.92%,0,0.00%,41,0.12%,0,0.00%
1,FTPL,"16,536",73.56%,36,0.96%,1147,12.04%,742,10.12%
2,FK,"16,432",80.21%,0,0.00%,545,2.76%,0,0.00%
3,AJIO,"16,475",79.37%,0,0.00%,592,2.84%,0,0.00%
4,Other,"2,635",17.54%,91,1.35%,17300,77.00%,359,3.75%

In [821]:
rev_deactivation_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='REV')
rev_deactivation_summary=rev_deactivation_summary[rev_deactivation_summary['Region']=='Overall']
rev_deactivation_summary['Region'].replace('Overall','REV',inplace=True)
for i in ['FTPL','FK','AJIO','Other']:
    fwd_deactivation=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='REV '+i)
    fwd_deactivation=fwd_deactivation[fwd_deactivation['Region']=='Overall']
    fwd_deactivation['Region'].replace('Overall',i,inplace=True)
    rev_deactivation_summary=pd.concat([rev_deactivation_summary,fwd_deactivation])
f=data[['Region','SFX Rev Pincode Coverage','SFX Rev Coverage%']]
f.rename(columns={'SFX Rev Pincode Coverage':'Active Pincode','SFX Rev Coverage%':'Volumn Coverage%'},inplace=True)
f=f.replace('Overall','REV')
rev_deactivation_summary=f.merge(rev_deactivation_summary,on='Region',how='left')
rev_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live)
0,REV,"17,254",83.73%,0,0.00%,283,1.02%
1,FTPL,"17,055",82.11%,0,0.00%,394,2.15%
2,FK,"16,465",78.05%,0,0.00%,696,3.35%
3,AJIO,"15,528",75.04%,0,0.00%,2376,10.03%
4,Other,"5,774",30.46%,3,0.06%,17718,77.58%

In [822]:
rev_d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='REV')
rev_d1_Activation_summary=rev_d1_Activation_summary[rev_d1_Activation_summary['Region']=='Overall']
rev_d1_Activation_summary.replace('Overall','REV',inplace=True)

for i in ['FTPL','FK','AJIO','Other']:
    fwd_d1_Activation=get_deactivation_coverage(main,group_by_para='Region',col='REV '+i)
    fwd_d1_Activation=fwd_d1_Activation[fwd_d1_Activation['Region']=='Overall']
    fwd_d1_Activation['Region'].replace('Overall',i,inplace=True)
    rev_d1_Activation_summary=pd.concat([rev_d1_Activation_summary,fwd_d1_Activation])
rev_d1_Activation_summary.rename(columns={'Pincode':'D-1 Activation','Deactivation Vol %':'D-1 Activation Vol %'},inplace=True)
rev_deactivation_summary=rev_deactivation_summary.merge(rev_d1_Activation_summary[['Region','D-1 Activation','D-1 Activation Vol %']],on='Region',how='left')
rev_deactivation_summary

,Region,Active Pincode,Volumn Coverage%,D-1 Deactivated Pincode (Live),D-1 Deactivated Volume Coverage% (Live),D-30 Deactivated Pincode (Live),D-30 Deactivated Volume Coverage% (Live),D-1 Activation,D-1 Activation Vol %
0,REV,"17,254",83.73%,0,0.00%,283,1.02%,0,0.00%
1,FTPL,"17,055",82.11%,0,0.00%,394,2.15%,0,0.00%
2,FK,"16,465",78.05%,0,0.00%,696,3.35%,0,0.00%
3,AJIO,"15,528",75.04%,0,0.00%,2376,10.03%,0,0.00%
4,Other,"5,774",30.46%,3,0.06%,17718,77.58%,84,0.97%

In [823]:
d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='FWD')
d1_Activation_summary=d1_Activation_summary[d1_Activation_summary['Region']=='Overall']
d1_Activation_summary.rename(columns={'Pincode':'D-1 Activation','Deactivation Vol %':'D-1 Activation Vol %'},inplace=True)


fwd_summary=deactivation_summary(deactivated_in_last_30_day_g,group_by_para='Region',col='Overall')
fwd_summary=fwd_summary[fwd_summary['Region']=='Overall']
f=data[['Region','SFX Pincode Coverage','SFX Coverage%']]
f=f[f['Region']=='Overall']
f.rename(columns={'SFX Pincode Coverage':'Active Pincode','SFX Coverage%':'Volumn Coverage%'},inplace=True)
fwd_summary=f.merge(fwd_summary,on='Region',how='left')
fwd_summary=fwd_summary.merge(d1_Activation_summary[['Region','D-1 Activation','D-1 Activation Vol %']],on='Region',how='left')

In [824]:
client_wise_summary=pd.concat([fwd_summary,fwd_deactivation_summary])
client_wise_summary=pd.concat([client_wise_summary,rev_deactivation_summary])
client_wise_summary=client_wise_summary.replace('nan%','0.00%')
client_wise_summary.rename(columns={'Region':'Client',
                                    'Active Pincode':'Act Pins',
                                    'Volumn Coverage%':'Vol Cov%',
                                    'D-1 Deactivated Pincode (Live)':'D-1 Deact Pins (Live)',
                                   'D-30 Deactivated Pincode (Live)':'D-30 Deact Pins (Live)',
                                   'D-1 Deactivated Volume Coverage% (Live)':'D-1 Deact Vol Cov% (Live)',
                                   'D-30 Deactivated Volume Coverage% (Live)':'D-30 Deact Vol Cov% (Live)'},inplace=True)
client_wise_summary

,Client,Act Pins,Vol Cov%,D-1 Deact Pins (Live),D-1 Deact Vol Cov% (Live),D-30 Deact Pins (Live),D-30 Deact Vol Cov% (Live),D-1 Activation,D-1 Activation Vol %
0,Overall,"17,610",84.92%,0,0.00%,41,0.12%,0,0.00%
0,FWD,"17,610",84.92%,0,0.00%,41,0.12%,0,0.00%
1,FTPL,"16,536",73.56%,36,0.96%,1147,12.04%,742,10.12%
2,FK,"16,432",80.21%,0,0.00%,545,2.76%,0,0.00%
3,AJIO,"16,475",79.37%,0,0.00%,592,2.84%,0,0.00%
4,Other,"2,635",17.54%,91,1.35%,17300,77.00%,359,3.75%
0,REV,"17,254",83.73%,0,0.00%,283,1.02%,0,0.00%
1,FTPL,"17,055",82.11%,0,0.00%,394,2.15%,0,0.00%
2,FK,"16,465",78.05%,0,0.00%,696,3.35%,0,0.00%
3,AJIO,"15,528",75.04%,0,0.00%,2376,10.03%,0,0.00%
4,Other,"5,774",30.46%,3,0.06%,17718,77.58%,84,0.97%

In [825]:
client_wise_summary=client_wise_summary[['Client', 'Act Pins', 'Vol Cov%', 
                                      'D-1 Deact Vol Cov% (Live)', 'D-30 Deact Vol Cov% (Live)','D-1 Activation','D-1 Activation Vol %']]
client_wise_summary

,Client,Act Pins,Vol Cov%,D-1 Deact Vol Cov% (Live),D-30 Deact Vol Cov% (Live),D-1 Activation,D-1 Activation Vol %
0,Overall,"17,610",84.92%,0.00%,0.12%,0,0.00%
0,FWD,"17,610",84.92%,0.00%,0.12%,0,0.00%
1,FTPL,"16,536",73.56%,0.96%,12.04%,742,10.12%
2,FK,"16,432",80.21%,0.00%,2.76%,0,0.00%
3,AJIO,"16,475",79.37%,0.00%,2.84%,0,0.00%
4,Other,"2,635",17.54%,1.35%,77.00%,359,3.75%
0,REV,"17,254",83.73%,0.00%,1.02%,0,0.00%
1,FTPL,"17,055",82.11%,0.00%,2.15%,0,0.00%
2,FK,"16,465",78.05%,0.00%,3.35%,0,0.00%
3,AJIO,"15,528",75.04%,0.00%,10.03%,0,0.00%
4,Other,"5,774",30.46%,0.06%,77.58%,84,0.97%

In [826]:
fwd_d1_Activation_summary=get_deactivation_coverage(main,group_by_para='Region',col='FWD')

In [827]:
sheet_deact=get_params_from_spreadsheet(DEACTIVATION_GSHEET_ID[0],DEACTIVATION_GSHEET_ID[1],DEACTIVATION_GSHEET_ID[2])
sheet_deact.drop_duplicates(subset=['Pincode'],inplace=True)
sheet_deact=sheet_deact[['Pincode','Ops Remark','Expected Activation']]
sheet_deact = sheet_deact[sheet_deact['Pincode'].astype(str).str.strip() != '']
sheet_deact['Pincode']=sheet_deact['Pincode'].astype('int64')
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(sheet_deact,on='Pincode',how='left')

In [828]:
def payment_category():
    query=''' select p.code as Pincode,pc.category as payment_category
from data-warehousing-391512.ecommerce.ecommerce_riderpaymentpincodecategory pc
left join data-warehousing-391512.ecommerce.ecommerce_pincode p on p.id=pc.pincode_id
where pc.order_type=1 '''
    df = client.query(query).to_dataframe().drop_duplicates()
    return df
payment_category=payment_category()
payment_category['payment_category']='P'+payment_category['payment_category'].astype(str)

In [829]:
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g.merge(payment_category,on='Pincode',how='left')
deactivated_in_last_30_day_g=deactivated_in_last_30_day_g[['Pincode', 'payment_category', 'Client Wise Deactivation', 'deactivation_date',
       'Deactivation_Age', 'Hub', 'City', 'POD', 'State', 'Region',
       'Platform Orders', 'Overall', 'FWD FTPL', 'REV FTPL', 'FWD AJIO',
       'REV AJIO', 'FWD FK', 'REV FK', 'FWD Other', 'REV Other', 'FWD', 'REV',
       'Ops Remark', 'Expected Activation' ]]
deactivated_in_last_30_day_g

,Pincode,payment_category,Client Wise Deactivation,deactivation_date,Deactivation_Age,Hub,City,POD,State,Region,...,FWD AJIO,REV AJIO,FWD FK,REV FK,FWD Other,REV Other,FWD,REV,Ops Remark,Expected Activation
0,110001,P1,"Hammer-delivery, Hammer-pickup, FYND-pickup, p...",2025-05-01,19,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,Stress,None
1,110002,P1,"Clovia-pickup, Mensa Brands-pickup, NOBERO-pic...",2025-05-01,19,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,No,Yes,No,No,Stress,None
2,110004,P2,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-16,4,DEL_KarolBagh,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,NaN,NaN
3,110006,P1,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-01,19,DEL_Daryaganj,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,Stress,None
4,110010,P4,"Kartrocket Premium-pickup, Kartrocket Premium-...",2025-05-09,11,DEL_Bijwasan,Delhi,POD_NCR,Delhi,NaN,...,No,No,No,No,Yes,Yes,No,No,stress,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17841,854108,P1,"Shiprocket_SDD-pickup, Shiprocket FM Express-p...",2025-05-02,18,NaN,Falka,POD_BH/JH,Bihar,North,...,No,Yes,No,No,No,Yes,No,No,VBO,None
17842,854114,P1,"Shiprocket FM Express-pickup, Kartrocket Gifti...",2025-05-02,18,NaN,Falka,POD_BH/JH,Bihar,North,...,No,Yes,No,No,No,Yes,No,No,VBO,None
17843,854303,P4,All,2025-04-28,22,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,VBO - Possible COD Risk,None
17844,854304,P3,All,2025-04-28,22,PUI_Shrinagar_SCC,Purnia,POD_BH/JH,Bihar,North,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,VBO - Possible COD Risk,None
17845,854325,P3,"Kartrocket Fashion WH-pickup, Savana Surface-p...",2025-05-02,18,NaN,Araria,POD_BH/JH,Bihar,North,...,No,Yes,No,No,No,Yes,No,No,VBO Low ADL (DC Hold),None

In [830]:
group_by_para='Region'
rts_active_pins=get_deactivation_coverage(Meesho_orders, group_by_para, col='RTS')
rts_active_pins=rts_active_pins[[group_by_para,'Pincode','Deactivation Vol %']]
rts_active_pins.rename(columns={'Pincode':'LM-RTS Active Pincode','Deactivation Vol %':'LM-RTS Vol Cov%'},inplace=True)
fm_active_pins=get_deactivation_coverage(Meesho_orders, group_by_para, col='FM')
fm_active_pins=fm_active_pins[[group_by_para,'Pincode','Deactivation Vol %']]
fm_active_pins.rename(columns={'Pincode':'LM-FM Active Pincode','Deactivation Vol %':'LM-FM Vol Cov%'},inplace=True)
fm_rts_active_pins=get_deactivation_coverage(Meesho_orders, group_by_para, col='LM-FM-RTS')
fm_rts_active_pins=fm_rts_active_pins[[group_by_para,'Pincode','Deactivation Vol %']]
fm_rts_active_pins.rename(columns={'Pincode':'LM-FM-RTS Active Pincode','Deactivation Vol %':'LM-FM-RTS Vol Cov%'},inplace=True)
fm_rts_active_pins=fm_rts_active_pins.merge(fm_active_pins,on=group_by_para,how='outer')
fm_rts_active_pins=fm_rts_active_pins.merge(rts_active_pins,on=group_by_para,how='outer')
fm_rts_active_pins.sort_values(by='LM-FM-RTS Active Pincode',ascending=False,inplace=True)

In [831]:
region_rts_active_pins=fm_rts_active_pins
region_rts_active_pins

,Region,LM-FM-RTS Active Pincode,LM-FM-RTS Vol Cov%,LM-FM Active Pincode,LM-FM Vol Cov%,LM-RTS Active Pincode,LM-RTS Vol Cov%
2,Overall,1476,12.96%,1476,12.96%,4442,28.10%
4,West,511,18.71%,511,18.71%,912,27.87%
0,East,402,13.07%,402,13.07%,1059,29.62%
3,South,254,12.37%,254,12.37%,1289,29.94%
1,North,52,6.93%,52,6.93%,453,35.08%

In [832]:
group_by_para='POD'
rts_active_pins=get_deactivation_coverage(Meesho_orders, group_by_para, col='RTS')
rts_active_pins=rts_active_pins[[group_by_para,'Pincode','Deactivation Vol %']]
rts_active_pins.rename(columns={'Pincode':'LM-RTS Active Pincode','Deactivation Vol %':'LM-RTS Vol Cov%'},inplace=True)
fm_active_pins=get_deactivation_coverage(Meesho_orders, group_by_para, col='FM')
fm_active_pins=fm_active_pins[[group_by_para,'Pincode','Deactivation Vol %']]
fm_active_pins.rename(columns={'Pincode':'LM-FM Active Pincode','Deactivation Vol %':'LM-FM Vol Cov%'},inplace=True)
fm_rts_active_pins=get_deactivation_coverage(Meesho_orders, group_by_para, col='LM-FM-RTS')
fm_rts_active_pins=fm_rts_active_pins[[group_by_para,'Pincode','Deactivation Vol %']]
fm_rts_active_pins.rename(columns={'Pincode':'LM-FM-RTS Active Pincode','Deactivation Vol %':'LM-FM-RTS Vol Cov%'},inplace=True)
fm_rts_active_pins=fm_rts_active_pins.merge(fm_active_pins,on=group_by_para,how='outer')
fm_rts_active_pins=fm_rts_active_pins.merge(rts_active_pins,on=group_by_para,how='outer')
fm_rts_active_pins.sort_values(by='LM-FM-RTS Active Pincode',ascending=False,inplace=True)

In [833]:
pod_rts_active_pins=fm_rts_active_pins
pod_rts_active_pins

,POD,LM-FM-RTS Active Pincode,LM-FM-RTS Vol Cov%,LM-FM Active Pincode,LM-FM Vol Cov%,LM-RTS Active Pincode,LM-RTS Vol Cov%
1,Overall,1476,12.96%,1476,12.96%,4442,28.10%
6,POD_CCU/ROWB,321,32.24%,321,32.24%,460,43.67%
9,POD_GJ,202,19.31%,202,19.31%,321,29.08%
11,POD_MP/RJ,173,17.99%,173,17.99%,258,24.28%
10,POD_JK/HP/HR/PB,131,10.94%,131,10.94%,235,16.84%
17,POD_UK/UP,120,13.14%,120,13.14%,480,34.89%
16,POD_ROTN,112,9.71%,112,9.71%,493,32.39%
5,POD_BOM/PNQ,87,27.84%,87,27.84%,95,30.39%
8,POD_CHN,66,39.25%,66,39.25%,90,49.77%
4,POD_BLR,58,32.26%,58,32.26%,71,34.43%
2,POD_AP/TS,53,11.69%,53,11.69%,261,29.79%
3,POD_BH/JH,52,6.93%,52,6.93%,453,35.08%
15,POD_ROMH,49,12.23%,49,12.23%,238,31.21%
7,POD_CG/OD,24,7.90%,24,7.90%,234,29.69%
14,POD_ROK/KL,18,0.85%,18,0.85%,635,21.96%
12,POD_NCR,6,0.12%,6,0.12%,14,0.20%
13,POD_NE,4,0.49%,4,0.49%,104,12.80%
0,Defunct,0,0.00%,0,0.00%,0,0.00%

In [834]:
file_name = 'Serviceability_' + datetime.now().strftime("%Y-%m-%d")+'.xlsx'
with pd.ExcelWriter(file_name) as writer:
    base_df.to_excel(writer, sheet_name='Active_Pincode', index=False)  # Change 'Sheet1' to your desired sheet name
    deactivated_in_last_30_day_g.to_excel(writer, sheet_name='deactivated_in_last_30_day', index=False)  # Change 'Sheet2' to your desired sheet name
    State.to_excel(writer, sheet_name='State_Wise_Summary', index=False)  # Change 'Sheet2' to your desired sheet name
    #main.to_excel(writer, sheet_name='D-1 Activation', index=False)

In [835]:
def apply_generic_css2(html_text):
    newlines = []
    new_htmltext = ''
    for i in ['Overall','All','FWD','REV']:
        try:
            a=html_text.split(f'<tr>\n      <td>{i}</td>\n')[0]
            b=f'<tr>\n      <td style = "font-size:13px;font-weight:bold; background-color: #cccccc; text-align:center">{i}</td>\n'
            c=html_text.split(f'<tr>\n      <td>{i}</td>\n')[1].split('</tr>\n')[0].replace('<td>','<td style = "font-size:13px;font-weight:bold; background-color: #cccccc; text-align:center">')
            d='</tr>\n'
            e=html_text.split(f'<tr>\n      <td>{i}</td>\n')[1].split('</tr>\n')[1:]
            e='</tr>\n'.join(e)
            html_text=a+b+c+d+e
        except:
            z=0
    html_text = html_text.split('\n')
    for line in html_text:
        line = line.replace('<table','<table border="1" style= "border:1px solid rgb(0, 102, 204);border-collapse:collapse"')
        line = line.replace('<th>','<th style = "font-size:14px; color:black; background-color:rgb(153, 204, 255); border-width: 1px;padding: 4px;border-style: solid;border-color: rgb(0, 102, 204);text-align:center">')
        line = line.replace('<tr>','<tr style = "color:black; background-color:rgb(255, 255, 255)">')
        line = line.replace('<td>','<td style = "font-size:13px; text-align:center">')
        newlines.append(line)
    newlines
    for line in newlines:
        new_htmltext += line
    return new_htmltext

In [836]:
def get_raw_data():
    query='''select base.*, city.name as city, city.state as state,
            (case when city.zone=0 then 'East'
            when city.zone=1 then 'West'
            when city.zone=2 then 'North'
            when city.zone=3 then 'South' 
            when city.zone=4 then 'Central'
            else cast(city.zone as string) end) as zone,
            from data-warehousing-391512.analytics_tables.client_pincode_active_data base
            left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.name=base.hub
            left join data-warehousing-391512.ecommerce.dc_dc_mapping_city city on city.id=hub.city_id
            where base.report_date=current_date() and base.service in ('marketplace','rts')
            and base.pincode>109999
            and base.hub  not like '%_ADM%'
            and lower(base.hub) not like '%_inv%'
            and lower(base.hub)  not like '%_sh'
            and lower(base.hub)  not like '%inventory%'
            and lower(base.hub)  not like '%zomato%'
            and lower(base.hub)  not like '%_cdk%'
            and lower(base.hub)  not like 'fkl_%'
            and lower(base.hub)  not like '%citymall%'
            and lower(base.hub)  not like '%test%'
            and lower(base.hub)  not like '%_exp%'
            and base.hub  not like '%_DC_%'
            and base.hub  not like 'Seller_Direct_%'
            and base.hub  not like '%_OC_S'
            and lower(base.hub)  not like '%samsung_%'
            and lower(base.hub)  not like '%_fkl'
            and lower(base.hub) not like '%testhub'
            and lower(base.hub) not like '%_inactive'  '''
    raw_df = client.query(query).to_dataframe().drop_duplicates()
    return raw_df

In [837]:
def get_deactivated_in_last_30_day():
    query='''select distinct date(a.created + interval 330 minute) as  deactivation_date,b.service,d.code as pincode, e.name as hub,
    case when a.model_name ='DeliveryHubPincodeServiceability' then 'delivery'
    when a.model_name ='PickupHubPincodeServiceability' then 'pickup' end as request_type
    from data-warehousing-391512.ecommerce.admin_mapping_pincodemappingrequest as a
    left join data-warehousing-391512.ecommerce.admin_mapping_deliveryhubpincodeserviceability b on b.id=a.object_id and a.model_name='DeliveryHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.admin_mapping_pickuphubpincodeserviceability c on c.id=a.object_id and a.model_name='PickupHubPincodeServiceability'
    left join data-warehousing-391512.ecommerce.ecommerce_pincode d on d.id =COALESCE(b.pincode_id,c.pincode_id)
    left join data-warehousing-391512.ecommerce.ecommerce_hub e on e.id =COALESCE(b.hub_id,c.hub_id)
    where (b.service in ('marketplace','rts') or c.service in ('marketplace','rts')) and a.created>current_date()- interval 30 day -interval 330 minute
    and a.status!='expired'
    and d.code>109999
    and e.name  not like '%_ADM%'
    and lower(e.name) not like '%_inv%'
    and lower(e.name)  not like '%_sh'
    and lower(e.name)  not like '%inventory%'
    and lower(e.name)  not like '%zomato%'
    and lower(e.name)  not like '%_cdk%'
    and lower(e.name)  not like 'fkl_%'
    and lower(e.name)  not like '%citymall%'
    and lower(e.name)  not like '%test%'
    and lower(e.name)  not like '%_exp%'
    and e.name  not like '%_DC_%'
    and e.name  not like 'Seller_Direct_%'
    and e.name  not like '%_OC_S'
    and lower(e.name)  not like '%samsung_%'
    and lower(e.name)  not like '%_fkl'
    and lower(e.name) not like '%testhub'
    and lower(e.name) not like '%_inactive'
    '''
    return client.query(query).to_dataframe().drop_duplicates()

In [838]:
deactivated_in_last_30_day=get_deactivated_in_last_30_day()
base_df=get_raw_data()
base_df=base_df.merge(deactivated_in_last_30_day,on=['pincode','service','request_type','hub'],how='left')
base_df=base_df[base_df['deactivation_date'].isna()]
base_df = base_df.drop(['deactivation_date','request_type'], axis=1)
base_df['payment_category']='P'+base_df['payment_category'].astype(str)
base_df.rename(columns={'hub':'Hub','pincode':'Pincode','service':'Service','city':'City','state':'State','zone':'Zone'},inplace=True)
base_df

,report_date,Hub,Pincode,Service,payment_category,deactivated_client_name,City,State,Zone
0,2025-05-20,DEL_FM_KirtiNagar,110000,rts,P4,None,Delhi,Delhi,North
1,2025-05-20,Del_Daryaganj_FM,110002,rts,P1,None,Delhi,Delhi,North
2,2025-05-20,DEL_Okhla_RTS,110003,rts,P4,None,Delhi,Delhi,North
3,2025-05-20,DEL_FM_KirtiNagar,110004,rts,P2,None,Delhi,Delhi,North
4,2025-05-20,Del_Daryaganj_FM,110005,rts,P1,None,Delhi,Delhi,North
...,...,...,...,...,...,...,...,...,...
7211,2025-05-20,BGP_Bhagalpur_TH,821005,marketplace,P1,None,Bhagalpur,Bihar,East
7212,2025-05-20,GAY_Gaya_E,823004,marketplace,P2,None,Gaya,Bihar,East
7213,2025-05-20,BGP_Bhagalpur_TH,823201,marketplace,P1,None,Bhagalpur,Bihar,East
7214,2025-05-20,SMI_Pupri,843320,marketplace,P4,None,Pupri,Bihar,East
7215,2025-05-20,BOM_PADGHA_FM,990006,marketplace,P1,None,Mumbai,Maharashtra,West

In [839]:
file_name = 'Serviceability_' + datetime.now().strftime("%Y-%m-%d")+'.xlsx'
with pd.ExcelWriter(file_name,mode='a', engine='openpyxl') as writer:
    base_df[base_df['Service']=='rts'].to_excel(writer, sheet_name='RTS(Seller Delivery) Pincodes', index=False)  # Change 'Sheet1' to your desired sheet name
    base_df[base_df['Service']=='marketplace'].to_excel(writer, sheet_name='FM(Seller Pickup) Pincodes', index=False)  # Change 'Sheet2' to your desired sheet name

In [840]:
POD['Act Pins'] = POD['Act Pins'].str.replace(',', '').astype(int)
sorted_POD = POD.sort_values(by='Act Pins', ascending=False)
sorted_POD

,POD,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
1,Overall,17610,84.92%,11.36%,0,0.00%,41,0.12%,121,2.19%,17846,79.75%
14,POD_ROK/KL,2713,78.64%,11.49%,0,0.00%,14,0.28%,0,0.00%,2839,82.20%
16,POD_ROTN,2497,89.76%,7.16%,0,0.00%,0,0.00%,0,0.00%,2552,91.41%
17,POD_UK/UP,1911,95.02%,9.20%,0,0.00%,0,0.00%,2,1.11%,1885,91.11%
2,POD_AP/TS,1461,86.54%,5.93%,0,0.00%,0,0.00%,1,0.39%,1410,71.13%
11,POD_MP/RJ,1295,78.55%,10.62%,0,0.00%,0,0.00%,5,1.27%,1316,78.85%
10,POD_JK/HP/HR/PB,1275,81.16%,7.33%,0,0.00%,9,0.67%,6,0.00%,1350,85.12%
6,POD_CCU/ROWB,1194,89.26%,2.72%,0,0.00%,2,0.07%,1,0.21%,1084,72.73%
3,POD_BH/JH,1140,80.46%,14.55%,0,0.00%,14,0.58%,0,0.00%,1201,83.86%
9,POD_GJ,1003,87.38%,20.10%,0,0.00%,0,0.00%,2,0.22%,1019,88.76%
7,POD_CG/OD,875,75.24%,6.16%,0,0.00%,2,0.06%,0,0.00%,924,78.62%
15,POD_ROMH,831,72.65%,17.23%,0,0.00%,0,0.00%,0,0.00%,878,75.02%
13,POD_NE,472,54.45%,4.76%,0,0.00%,0,0.00%,0,0.00%,597,69.38%
5,POD_BOM/PNQ,308,99.64%,36.22%,0,0.00%,0,0.00%,38,16.82%,288,91.05%
12,POD_NCR,278,99.10%,11.75%,0,0.00%,0,0.00%,11,5.81%,190,46.22%
8,POD_CHN,199,98.95%,26.07%,0,0.00%,0,0.00%,20,12.95%,176,86.75%
4,POD_BLR,158,97.24%,18.10%,0,0.00%,0,0.00%,35,22.24%,125,66.72%
0,Defunct,0,0.00%,0.00%,0,0.00%,0,0.00%,0,0.00%,0,0.00%

In [841]:
Region['Act Pins'] = Region['Act Pins'].str.replace(',', '').astype(int)
sorted_Region = Region.sort_values(by='Act Pins', ascending=False)
sorted_Region

,Region,Act Pins,Vol Cov%,Meesho Deact Pins Vol Cov%,D-1 Deact [All client] Pins (Live),D-1 Deact [All client] Vol Cov (Live),D-30 Deact [All client] Pins (Live),D-30 Deact [All client] Vol Cov (Live),D-1 Deact [alteast one client] Pins (Live),D-1 Deact [alteast one client] Vol Cov (Live),D-30 Deact [alteast one client] Pins (Live),D-30 Deact [alteast one client] Vol Cov (Live)
2,Overall,17610,84.92%,11.36%,0,0.00%,41,0.12%,121,2.19%,17846,79.75%
3,South,5567,86.89%,12.85%,0,0.00%,14,0.13%,55,4.75%,5692,83.07%
0,East,4002,78.90%,5.12%,0,0.00%,4,0.03%,2,0.20%,4015,72.84%
4,West,3437,82.60%,18.59%,0,0.00%,0,0.00%,45,3.73%,3501,81.89%
1,North,1140,80.46%,14.55%,0,0.00%,14,0.58%,0,0.00%,1201,83.86%

In [842]:
html_text = f''' Hi All
Please find the updated serviceable Pincode List as on {datetime.now().strftime("%Y-%m-%d")}.
<br>
<br>
<b>Note:</b> 
<br>
Act Pins = Total active pincode serviceable for at least one client
<br>
Vol Cov% = (Volume in active pincodes) / (Total Volume available in Meesho Platform)
<br>
Meesho Deact Vol Cov% = (Volume in deactivated pincode of meesho but active for other client) / (Total Volume available in Meesho Platform)
<br>
D-1 Deact Pins (Live) = Yesterday deactivated pincodes
<br>
D-30 Deact Pins (Live) = Deactivated pincodes in last 30 days
<br>
D-1 Deact Vol Cov% (Live) = (Volume in pincode deactivated yesterday ) / (Total Volume available  in Meesho Platform)
<br>
D-30 Deact Vol Cov% (Live) = (Volume of deactivated pincode in last 30 days) / (Total Volume available in Meesho Platform)
<br>
<br>
<b>Client wise Summary:</b>
<br>
<br>
{apply_generic_css2(client_wise_summary.to_html(index=False))}
<br>
<br>
<b>Region wise Summary:</b>
<br>
<br>
{apply_generic_css2(sorted_Region.to_html(index=False))}
<br>
<br>
<b>POD wise Summary:</b>
<br>
<br>
{apply_generic_css2(sorted_POD.to_html(index=False))}
<br>
<br>
<b>FM-RTS Active Pincode Region wise Summary:</b>
<br>
<br>
{apply_generic_css2(region_rts_active_pins.to_html(index=False))}
<br>
<br>
<b>FM-RTS Active Pincode POD wise Summary:</b>
<br>
<br>
{apply_generic_css2(pod_rts_active_pins.to_html(index=False))}

'''
#html_text = "Hi All,"+ "<br>" +"<br> Please find the updated serviceable Pincode List as on "+datetime.now().strftime("%Y-%m-%d")+"<br><br>"+gmail_utility.apply_generic_css2(Overall.to_html(index=False))+"<br><br>"+ gmail_utility.apply_generic_css2(Region.to_html(index=False)) +"<br><br>"+ gmail_utility.apply_generic_css2(POD.to_html(index=False))+"<br><br>" + gmail_utility.apply_generic_css2(State.to_html(index=False))

In [843]:
mails=get_params_from_spreadsheet(Mail_DATA_GSHEET_ID[0],Mail_DATA_GSHEET_ID[1],Mail_DATA_GSHEET_ID[2])
mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-1'].reset_index(drop=True)
to = [email.strip() for email in mail['TO'][0].split(',')]
cc=[email.strip() for email in mail['CC'][0].split(',')]

In [844]:
# to=['shubham.udayraj@shadowfax.in']
# cc=[]

In [ ]:
from sendgrid import SendGridAPIClient
from sendgrid.helpers.mail import Mail, From, To, Subject, Content, Category,Attachment, FileContent, FileName, FileType, Disposition,Cc
import base64

def sendgrid(to, subject, html_text, cc_emails, attachment):
    ' '

    try:
        message = Mail(
            from_email=From(email="noreply@shadowfax.in"),  # Ensure this email is verified
            to_emails=[To(email) for email in to],  # Use the provided 'to' list
            subject=Subject(subject),
            html_content=Content("text/html", html_text),
        )
        message.add_category(Category("Serviceable pincode"))

        # Add CC emails
        for cc_email in cc_emails:
            message.add_cc(Cc(cc_email))

        # Attach file if provided
        if attachment:
            if not os.path.exists(attachment):
                print(f"Error: Attachment file '{attachment}' not found.")
                return

            with open(attachment, "rb") as file:
                file_data = file.read()
                base64str = base64.b64encode(file_data).decode()

            attachment_obj = Attachment(
                file_content=FileContent(base64str),
                file_type=FileType('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'),
                file_name=FileName(os.path.basename(attachment)),
                disposition=Disposition('attachment')
            )
            message.add_attachment(attachment_obj)

        sg = SendGridAPIClient(api_key)
        response = sg.send(message)
        print(f"Email sent. Status: {response.status_code}")

    except Exception as e:
        print(f"Error sending email: {e}")
        if hasattr(e, 'body'):  # Now inside the except block
            print("SendGrid Error Details:", e.body)
# to=['shubham.udayraj@shadowfax.in']
# cc_emails=['aggunna.avinash@shadowfax.in']
# html_text='hi all'
# suject_line='test'
# sendgrid(to, suject_line, html_text, cc_emails, attachment=None)

In [846]:
# gmail_utility.send_email(to, cc,[], 'Updated LM Serviceable Pincode List | ' + datetime.now().strftime("%d-%m-%Y"), mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [847]:
mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-2'].reset_index(drop=True)
to = [email.strip() for email in mail['TO'][0].split(',')]
cc=[email.strip() for email in mail['CC'][0].split(',')]

In [848]:
# to=['tripti.kumari@shadowfax.in']
# cc=['aggunna.avinash@shadowfax.in']

In [849]:
subject ='Updated LM Serviceable Pincode List | ' + datetime.now().strftime("%d-%m-%Y")
# attachment="file_name"
cc_emails=cc

# to, subject, html_text, cc_emails, attachment
sendgrid(to,subject, html_text,cc_emails,attachment=file_name)

Email sent. Status: 202

In [850]:
# gmail_utility.send_email(to, cc,[], 'Updated LM Serviceable Pincode List 2nd | ' + datetime.now().strftime("%d-%m-%Y"), mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [851]:
mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-2'].reset_index(drop=True)
to = [email.strip() for email in mail['TO'][0].split(',')]
cc=[email.strip() for email in mail['CC'][0].split(',')]

In [852]:
# to=['tripti.kumari@shadowfax.in']
# cc=['aggunna.avinash@shadowfax.in']
subject ='Updated LM Serviceable Pincode List 2nd | ' + datetime.now().strftime("%d-%m-%Y")
# attachment="file_name"
cc_emails=cc

# to, subject, html_text, cc_emails, attachment
sendgrid(to,subject, html_text,cc_emails,attachment=file_name)

Email sent. Status: 202

In [853]:
mail=mails[mails['REPORT NAME']=='New-Updated Serviceable pincode list-3'].reset_index(drop=True)
to = [email.strip() for email in mail['TO'][0].split(',')]
cc=[email.strip() for email in mail['CC'][0].split(',')]

In [854]:
# gmail_utility.send_email(to, cc,[], 'Updated LM Serviceable Pincode List 3rd | ' + datetime.now().strftime("%d-%m-%Y"), mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [855]:
# to=['tripti.kumari@shadowfax.in']
# cc=['aggunna.avinash@shadowfax.in']
subject ='Updated LM Serviceable Pincode List 3rd | ' + datetime.now().strftime("%d-%m-%Y")
# attachment="file_name"
cc_emails=cc

# to, subject, html_text, cc_emails, attachment
sendgrid(to,subject, html_text,cc_emails,attachment=file_name)

Email sent. Status: 202

### Ajio_exchange

In [715]:
query='''select 
        date(lg.created+interval 330 minute) as date,
        lg.pickup_request_id,
        lg.delivery_request_id,
        hub.name as hub_name,
        dr.attempt_number,
        client.name as client_name,
        dr.product_value,
        dr.received_at_hub_time as FWD_Shipment_received_at_hub_time,
        case dr.order_status
        When 0 then 'NEW'
        When 1 then 'TO_BE_ASSIGNED'
        When 2 then 'ASSIGNED'
        When 3 then 'OUT_FOR_DELIVERY'
        When 4 then 'DELIVERED'
        When 5 then 'TO_BE_RETURNED'
        When 6 then 'CLOSED'
        When 7 then 'ASSIGNED_TO_CLUSTER'
        When 8 then 'LOST'
        When 9 then 'RECEIVED_AT_DC'
        When 10 then 'SCHEDULED'
        When 11 then 'CID'
        When 12 then 'CANCELLED'
        When 13 then 'NOT_CONTACTABLE'
        When 14 then 'NOT_ATTEMPTED'
        When 15 then 'RECEIVED_AT_HUB'
        When 16 then 'RETURNED_TO_CLIENT'
        When 17 then 'RTO'
        When 18 then 'RTD'
        When 19 then 'NDR_DEL'
        When 20 then 'IN_MANIFEST'
        When 21 then 'IN_RETURN_PROCESS'
        When 22 then 'RTS'
        When 23 then 'RTOD'
        When 24 then 'RTSD'
        When 25 then 'RTOND'
        When 26 then 'RTSND'
        When 27 then 'RECEIVED_AT_PICKUP_HUB'
        When 28 then 'PINCODE_UPDATED'
        When 29 then 'ON_HOLD'
        When 30 then 'CLIENT_REJECTED'
        When 31 then 'Recd at via hub'
        When 32 then 'DELIVERED_AT_HUB'
        When 33 then 'RECEIVED_FROM_CLIENT_WAREHOUSE'
        When 34 then 'SELLER_REJECTED'
        else cast(dr.order_status as string) end as FWD_OrderStatus,
        r.picked_date as REV_Pick_Date,
        r.status as REV_OrderStatus
        from data-warehousing-391512.ecommerce.ecommerce_exchangeordermapping lg
        left join data-warehousing-391512.ecommerce.ecommerce_deliveryrequest dr on dr.awb_number = lg.delivery_request_id and dr.creation_date> current_date() - interval 20 day
        left join data-warehousing-391512.ecommerce.pickup_pickuprequest r on r.awb_number=lg.pickup_request_id and r.created> current_date() - interval 20 day
        left join data-warehousing-391512.ecommerce.ecommerce_client client on client.id=dr.client_id
        left join data-warehousing-391512.ecommerce.ecommerce_hub hub on hub.id=dr.hub_id
        where lg.created between current_date()-interval 330 minute - interval 20 day and current_date()-interval 330 minute and client.name='AJIO'  '''
raw_df = client.query(query).to_dataframe()

In [716]:
raw_df.to_csv(r'ajio_exchange_raw.csv')

In [717]:
raw_df.head()

,date,pickup_request_id,delivery_request_id,hub_name,attempt_number,client_name,product_value,FWD_Shipment_received_at_hub_time,FWD_OrderStatus,REV_Pick_Date,REV_OrderStatus
0,2025-05-05,R1225109869AJI,SF1680044945AJI,PNY_Ponducherry_E,1,AJIO,280,2025-05-10 03:39:04,DELIVERED,2025-05-10 07:10:36,rts_d
1,2025-05-16,R1239161369AJI,SF1680601361AJI,UT_Daman_SCC,1,AJIO,460,2025-05-18 02:57:47,DELIVERED,2025-05-18 11:05:12,in_manifest
2,2025-05-14,R1237683504AJI,SF1680471062AJI,KIK_Karaikal,1,AJIO,397,2025-05-15 22:15:54,DELIVERED,2025-05-16 12:02:21,in_manifest
3,2025-05-09,R1230301995AJI,SF1680196853AJI,FKG_Wokha_SCC,3,AJIO,1398,2025-05-14 03:19:41,DELIVERED,2025-05-16 08:34:30,in_manifest
4,2025-05-09,R1230298211AJI,SF1680237776AJI,KIK_Karaikal,1,AJIO,265,2025-05-15 01:39:20,DELIVERED,2025-05-15 11:21:15,rts_in_process

In [718]:
date_wise=pd.pivot_table(raw_df,index=['date'],values=['pickup_request_id'],aggfunc='count').reset_index()
date_wise.rename(columns={'pickup_request_id':'Total_Order'},inplace=True)
date_wise

          date  Total_Order
0   2025-04-30           23
1   2025-05-01           12
2   2025-05-02           19
3   2025-05-03           13
4   2025-05-04           13
5   2025-05-05            7
6   2025-05-06            5
7   2025-05-07           10
8   2025-05-08           17
9   2025-05-09           13
10  2025-05-10           10
11  2025-05-11            5
12  2025-05-12            4
13  2025-05-13           12
14  2025-05-14           15
15  2025-05-15           17
16  2025-05-16            7

In [719]:
hub_wise=pd.pivot_table(raw_df,index=['hub_name'],columns=['date'],values=['pickup_request_id'],aggfunc='count',margins=True,margins_name='Grand Total').reset_index()
hub_wise=pd.merge(pd.DataFrame(hub_wise['hub_name']),hub_wise['pickup_request_id'],left_index=True, right_index=True, how='left')
hub_wise = hub_wise.fillna(0).applymap(lambda x: f"{x:.0f}" if isinstance(x, float) else x)
hub_wise#['pickup_request_id']

,hub_name,2025-04-30,2025-05-01,2025-05-02,2025-05-03,2025-05-04,2025-05-05,2025-05-06,2025-05-07,2025-05-08,2025-05-09,2025-05-10,2025-05-11,2025-05-12,2025-05-13,2025-05-14,2025-05-15,2025-05-16,Grand Total
0,BXJ_Zunheboto_SCC,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,CDD_Cuddalore_TH,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2
2,CMA_Mokokchung_SCC,0,0,1,0,1,2,1,3,0,1,0,1,1,1,3,0,2,17
3,CVR_Diu_SCC,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,3
4,DMU_ChumukidimaLT_SCC,0,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,1,4
5,DMU_Khermahal_SCC,4,0,2,0,0,0,0,0,2,1,1,0,0,3,2,2,0,17
6,FKG_Wokha_SCC,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
7,GKJ_ChandmariMarket_SCC,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,5
8,GOI_Assolna_SCC,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,3
9,GOI_Canacona_SCC,2,1,0,1,0,0,0,1,4,0,0,0,0,0,0,0,0,9
10,GOI_MadgaonDV_SCC,0,0,1,2,0,0,0,0,0,0,0,0,0,0,0,1,0,4
11,GOI_MapusaRD,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2
12,IXZ_ VeerSavarkar_SCC,0,0,0,0,0,0,0,0,2,0,1,0,0,0,0,0,0,3
13,IXZ_Garacharama_SCC,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,2
14,KIK_Karaikal,3,0,1,2,3,1,0,2,2,4,2,2,0,2,3,2,0,29
15,NHLN_ItanagarN_SCC,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
16,NOM_Mon_SCC,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
17,PDY_Kottakuppam_SCC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
18,PDY_OldSaramSN_SCC,1,0,4,1,2,1,0,0,1,3,0,0,1,2,1,2,0,19
19,PNY_Ponducherry_E,3,5,2,2,2,3,2,0,4,0,4,1,0,4,2,8,2,44
20,SHL_ShillongN_SCC,5,2,3,2,1,0,2,2,1,2,0,0,0,0,0,0,0,20
21,UT_Daman_SCC,0,2,0,1,2,0,0,0,1,0,1,1,2,0,1,0,1,12
22,Grand Total,23,12,19,13,13,7,5,10,17,13,10,5,4,12,15,17,7,202

In [720]:
# to = ['farihaa.naeem@shadowfax.in','manaswini.chaturvedi@shadowfax.in','mkumar.asish@shadowfax.in',
#       'nishant.rawat@shadowfax.in' ,'ankit.singhal@shadowfax.in' ,'ananda.dasgupta@shadowfax.in','akash.bansal@shadowfax.in']
# cc=['praharsh@shadowfax.in','amandeep.sahu@shadowfax.in','tripti.kumari@shadowfax.in','shubham.udayraj@shadowfax.in']
# file_name=r'ajio_exchange_raw.csv'

In [721]:
# from sendgrid import SendGridAPIClient
# from sendgrid.helpers.mail import Mail, From, To, Subject, Content, Category,Attachment, FileContent, FileName, FileType, Disposition,Cc

# def sendgrid(to, subject, html_text, cc_emails, attachment=None):
#     api_key = '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'

#     try:
#         message = Mail(
#             from_email=From(email="noreply@shadowfax.in"),  # Ensure this email is verified
#             to_emails=[To(email) for email in to],  # Use the provided 'to' list
#             subject=Subject(subject),
#             html_content=Content("text/html", html_text),
#         )
#         message.add_category(Category("Ajio_Exchange"))

#         # Add CC emails
#         for cc_email in cc_emails:
#             message.add_cc(Cc(cc_email))

#         # Attach file if provided
#         if attachment:
#             if not os.path.exists(attachment):
#                 print(f"Error: Attachment file '{attachment}' not found.")
#                 return

#             with open(attachment, "rb") as file:
#                 file_data = file.read()
#                 base64str = base64.b64encode(file_data).decode()

#             attachment_obj = Attachment(
#                 file_content=FileContent(base64str),
#                 file_type=FileType('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'),
#                 file_name=FileName(os.path.basename(attachment)),
#                 disposition=Disposition('attachment')
#             )
#             message.add_attachment(attachment_obj)

#         sg = SendGridAPIClient(api_key)
#         response = sg.send(message)
#         print(f"Email sent. Status: {response.status_code}")

#     except Exception as e:
#         print(f"Error sending email: {e}")
#         if hasattr(e, 'body'):  # Now inside the except block
#             print("SendGrid Error Details:", e.body)
# # to=['shubham.udayraj@shadowfax.in']
# # cc_emails=['aggunna.avinash@shadowfax.in']
# # html_text='hi all'
# # suject_line='test'
# # sendgrid(to, suject_line, html_text, cc_emails, attachment=None)

In [722]:
html_text_1 = f''' Hi All,
<br>
<br>
Please find Ajio Exchange Orders,
<br>
<br>
<b>Date wise Summary:</b>
<br>
<br>
{apply_generic_css2(date_wise.to_html(index=False))}
<br>
<br>
<b>Hub wise Summary:</b>
<br>
<br>
{apply_generic_css2(hub_wise.to_html(index=False))}
'''

In [723]:
# to = ['farihaa.naeem@shadowfax.in','manaswini.chaturvedi@shadowfax.in','mkumar.asish@shadowfax.in',
#       'nishant.rawat@shadowfax.in' ,'ankit.singhal@shadowfax.in' ,'ananda.dasgupta@shadowfax.in','akash.bansal@shadowfax.in']
# cc=['praharsh@shadowfax.in','amandeep.sahu@shadowfax.in','tripti.kumari@shadowfax.in','shubham.udayraj@shadowfax.in']
# # to = ['tripti.kumari@shadowfax.in']
# # cc = ['aggunna.avinash@shadowfax.in']
# sendgrid(to,subject='Ajio Exchange Orders | D-1 to D-20', html_text=html_text_1, cc_emails=cc, attachment='ajio_exchange_raw.csv')

# # file_name=r'ajio_exchange_raw.csv'

Email sent. Status: 202

In [724]:
# gmail_utility.send_email(to, cc,[], 'Ajio Exchange Orders | D-1 to D-20', mimetype_parts_dict={'html': html_text},attach=file_name,from_user='reports2')

In [725]:
#(datetime.today()-timedelta(1)).date().strftime("%d-%m-%Y")